<template>
  <v-dialog
    v-model="dialog"
    width="50%"
    transition="dialog-bottom-transition"
    persistent
  >
    <v-card class="dialog-500">
      <v-card-title class="text-h5">
        Pinnwand <span v-if="item.headline">{{item.headline}}</span>
      </v-card-title>
      <v-card-text>
        <div class="field">
          <v-text-field
            v-model="item.headline"
            hide-details="auto"
            label="Name"
            :error-messages="useErrors().checkAndMapErrors('name', errors)"
          />
        </div>
        <div class="field">
          <v-select
            hide-details="auto"
            v-model="item.category_ids"
            :items="categories"
            item-title="name"
            item-value="id"
            label="Kategorien wählen"
            :multiple="true"
          />
        </div>
        <div class="mb-10">
          <p>Beschreibung</p>
          <ClientOnly>
            <div class="editor">
              <QuillEditor
              ref="ql-editor"
              class="ql-blank"
              :options="TextOptions"
              v-model:content="item.content"
              contentType="html"
            />
            </div>
          </ClientOnly>
        </div>
        <v-divider class="my-8"></v-divider>
        <v-row justify="space-around" class="align-center">
          <v-col class="d-flex justify-center">
            <label>Start <span v-if="item.start_time">{{ item.start_time }}</span></label>
          </v-col>
          <v-col class="d-flex justify-center">
            <label>Ende <span v-if="item.start_time">{{ item.end_time }}</span></label>
          </v-col>
        </v-row>

        <v-row justify="space-around" class="align-center">
          <v-col class="d-flex justify-center">
            <Datepicker
              inline
              preview-format="dd.MM.yyyy HH:mm"
              format="dd.MM.yyyy HH:mm"
              model-type="dd.MM.yyyy HH:mm"
              :format-locale="de"
              timezone="Europe/Brussels"
              locale="de-DE"
              v-model="item.start_time"
              label="Start"
              :highlight-week-days="[0, 6]"
              :min-date="new Date()"
              prevent-min-max-navigation
              cancelText="Abbrechen"
              selectText="Hinzufügen"
              :clearable="false"
            />
          </v-col>
          <v-col class="d-flex justify-center">
            <Datepicker
            inline
            preview-format="dd.MM.yyyy HH:mm"
            format="dd.MM.yyyy HH:mm"
            model-type="dd.MM.yyyy HH:mm"
            :format-locale="de"
            timezone="Europe/Brussels"
            locale="de-DE"
            v-model="item.end_time"
            label="Start"
            :highlight-week-days="[0, 6]"
            :min-date="new Date() || item.start_time"
            prevent-min-max-navigation
            cancelText="Abbrechen"
            selectText="Hinzufügen"
            :clearable="false"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn
          text
          @click="emitClose()"
        >
          Schließen
        </v-btn>
        <v-btn
          color="blue darken-1"
          variant="outlined"
          dark
          text
          @click="handleCta()"
          :loading="loadingItem"
          :disabled="!item.content && item.headline"
        >
          Speichern
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
// https://vue3datepicker.com/
import Datepicker from '@vuepic/vue-datepicker'
import { de } from 'date-fns/locale';
import '@vuepic/vue-datepicker/dist/main.css'
import { ResultStatus } from '@/types/serverCallResult'
export default defineComponent({
  components: { Datepicker },
  emits: ['close', 'refreshCollection'],
  props: {
    itemId: String,
  },
  setup (props, { emit }) {
    const loadingItem = ref(false)
    const dialog = ref(true)
    const errors = ref([])
    const item = ref({
      headline: '',
      content: '',
      category_ids: [],
      categories: [],
      start_time: new Date(),
      end_time: new Date ()
    })

    const TextOptions = ref({
      debug: false,
      placeholder: 'Beschreibung',
      theme: 'snow',
      contentType: "html",
      toolbar: "essential"
    }) 

    const showApi = useCollectionApi()
    showApi.setBaseApi(usePrivateApi())
    const createUpdateApi = useCollectionApi()
    createUpdateApi.setBaseApi(usePrivateApi())

    const getItem = async () => {
      showApi.setEndpoint(`pinboards/${props.itemId}`)
      loadingItem.value = true
      await showApi.getItem()
      loadingItem.value = false
      item.value = showApi.item.value
    }

    const handleCta = () => {
      if (props.itemId) {
        save()
      } else {
        create()
      }
    }

    const categoriesApi = useCollectionApi()
    categoriesApi.setBaseApi(usePrivateApi())
    categoriesApi.setEndpoint(`categories?scope=pinboard`)
    const categories = categoriesApi.items


    const getCategories = async () => {
      await categoriesApi.retrieveCollection()
    }

    const create = async () => {
      createUpdateApi.setEndpoint(`pinboards`)
      loadingItem.value = true
      const result = await createUpdateApi.createItem(item.value, 'Pinnwand erfolgreich erstellt')
      loadingItem.value = false
      delete item.value.categories
      if (result.status === ResultStatus.SUCCESSFUL) {
        emit('refreshCollection')
        emit('close')
      } else {
        errors.value = result.data
      }
    }

    const save = async () => {
      createUpdateApi.setEndpoint(`pinboards/${props.itemId}`)
      loadingItem.value = true
      const result = await createUpdateApi.updateItem(item.value, 'Pinnwand erfolgreich aktualisiert')
      loadingItem.value = false
      delete item.value.categories
      if (result.status === ResultStatus.SUCCESSFUL) {
        emit('refreshCollection')
        emit('close')
      } else {
        errors.value = result.data
      }
    }

    onMounted(() => {
      if (props.itemId) {
        getItem()
      }
      getCategories()
    })
    
    const emitClose = () => {
      emit('close')
    }

    return {
      loadingItem,
      dialog,
      item,
      handleCta,
      emitClose,
      errors,
      de,
      TextOptions,
      categories
    }
  }
})
</script>

<style lang="sass">

.ql-editor
  min-height: 50px

.editor
  min-height: 50px

.ql-blank
  background: #F6F6F6

</style>