<template>
  <v-row>
    <v-dialog
      v-model="dialog"
      fullscreen
      scrollable
      transition="dialog-bottom-transition"
      @click:outside="emitClose()"
    >
      <Loading v-if="loading" />
      <v-card>
        <v-toolbar
          dark
          color="primary"
        > 
          <v-container><v-toolbar-title>Pinnwand Ideen</v-toolbar-title></v-container>
        </v-toolbar>
        <div>
          <DataTable
            :fields="fields"
            :items="ideas"
            endpoint="pinboards"
            @getItems="getItems"
            @openCreateEditDialog="openCreateEditDialog"
            @openDeleteDialog="openDeleteDialog"
            @goToUser="goToUser"
          />

          <AdminPinboardsIdeasEdit 
          :item-id="itemId"
          v-if="createEditDialogOpen"
          @close="itemId = null; createEditDialogOpen = false"
          @refreshCollection="getItems()"
          />

          <DeleteItem
            v-if="confirmDeleteModalOpen"
            @close="itemId = null; confirmDeleteModalOpen = false"
            :item-id="itemId"
            endpoint="pinboard_ideas"
            term="Diese Idee"
            @refreshCollection="getItems()"
          />
        </div>
        <v-card-actions class="pinboard-card-actions">
          <v-btn
            text
            @click="emitClose()"
          >
            Schließen
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script lang="ts">
export default defineComponent({
  name: 'AdminPinboardsIndex',
  emits: ['close', 'refreshCollection'],
  props: {
    itemId: String,
  },
  setup (props, { emit }) {

    definePageMeta({
      layout: "default",
    })

    const fields = ref([
      { text: 'Titel', value: 'headline', type: 'string', width: "200px" },
      { text: 'Inhalt', value: 'content', type: 'string' },
      { text: 'Likes', value: 'score', type: 'string', width: "200px" },
      { text: 'Status', value: 'status', type: 'enum', width: "200px", enum_name: 'pinboardStatus', class:'is_checked' },
      { text: 'Erstellt von', value: 'user', type: 'association_name', width: "200px", emit: 'goToUser' },
      { text: 'Erstellt am', value: 'created_at', type: 'datetime', width: "200px" }
    ])

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint(`pinboard_ideas/pinboard/${props.itemId}`)

    const ideas = api.items
    const loading = ref(false)
    const createEditDialogOpen = ref(false)
    const confirmDeleteModalOpen = ref(false)
    const itemId = ref(null)
    const dialog = ref(true)
    const showIdeasBoardOpen  = ref(false)
    const router = useRouter()

    onMounted(() => {
      getItems()
    })

    const goToUser = (id:string) => {
      const idea = ideas.value.find((idea:any) => idea.id === id)
      console.table(idea)
      if (idea) {
        router.push({path: `/admin/users`, query: { user_id: idea.user.id }})
      }
    }

    const getItems = async () => {
      loading.value = true
      const options = { page: 1, per_page: 1000, sort_by: 'created_at', sort_order: 'ASC', searchQuery: null, concat: false, filters: [] }
      await api.retrieveCollection(options)
      loading.value = false
    }

    const openCreateEditDialog = (id: string) => {
      itemId.value = id
      createEditDialogOpen.value = true
    }

    const openDeleteDialog = (id: string) => {
      itemId.value = id
      confirmDeleteModalOpen.value = true
    }

    const emitClose = () => {
      emit('close')
    }

    return {
      fields,
      ideas,
      loading,
      createEditDialogOpen,
      itemId,
      getItems,
      confirmDeleteModalOpen,
      openCreateEditDialog,
      openDeleteDialog,
      showIdeasBoardOpen,
      dialog,
      emitClose,
      goToUser
    }
  }
})
</script>

<style lang="sass">
.main
  padding-bottom: 100px

.pinboard-card-actions
  position: fixed
  width: 100%
  bottom: 0
  background: white
  border-top: 1px solid black

.ql-blank
  background: #F6F6F6


.text-wrap a
  color: #017CC0
  font-weight: 900

.excerpt-review
  width: 325px

.description-review
  background-color: #FCFCFC
  padding: 10px

.description-review p
  opacity: .5

.is_checked
  color: red
  
</style>