<template>
  <v-dialog
    v-model="dialog"
    width="50%"
    transition="dialog-bottom-transition"
    persistent
  > 
    <v-card class="dialog-500">
      <v-card-title class="text-h5">
        
        <span v-if="item.headline">{{item.headline}}</span>
      </v-card-title>
      <v-card-text>
        <div class="field mb-10">
          <v-text-field
            v-model="item.headline"
            hide-details="auto"
            label="Name"
            :error-messages="useErrors().checkAndMapErrors('name', errors)"
          />
        </div>
        <div class="mb-5">
          <ClientOnly>
            <QuillEditor
              ref="ql-editor"
              class="ql-blank"
              :options="TextOptions"
              v-model:content="item.content"
              contentType="html"
            />
          </ClientOnly>
        </div>
        <div>&nbsp;</div>
        <div class="field">
          <v-select
            hide-details="auto"
            v-model="item.status"
            :items="status"
            item-title="name"
            item-value="id"
            label="Status"
            single-line
          />
        </div>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn
          text
          @click="emitClose()"
        >
          Schließen
        </v-btn>
        <v-btn
          color="blue darken-1"
          variant="outlined"
          dark
          text
          @click="save()"
          :loading="loadingItem"
        >
          Speichern
        </v-btn>
        <v-row>
          <v-col class="d-flex justify-end">
            <v-btn
              class="d-flex"
              :href="`mailto:${item.user?.email}?subject=Re: Pinnwand - ${item?.headline}`"
            >
              Nutzer Antworten
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
// https://vue3datepicker.com/
import Datepicker from '@vuepic/vue-datepicker'
import { de } from 'date-fns/locale';
import '@vuepic/vue-datepicker/dist/main.css'
import { ResultStatus } from '@/types/serverCallResult'
export default defineComponent({
  components: { Datepicker },
  emits: ['close', 'refreshCollection'],
  props: {
    itemId: String,
  },
  setup (props, { emit }) {
    const loadingItem = ref(false)
    const dialog = ref(true)
    const errors = ref([])
    const item = ref({
      headline: '',
      content: '',
      status: ''
    })

    const TextOptions = ref({
      debug: false,
      placeholder: 'Beschreibung',
      theme: 'snow',
      contentType: "html",
      toolbar: "essential"
    })

    const status = ref([
      { name: 'In Prüfung', id: 'is_checked'},
      { name: 'Freigegeben', id: 'confirmed'},
      { name: 'Abgelehnt', id: 'rejected'}
    ])

    const showApi = useCollectionApi()
    showApi.setBaseApi(usePrivateApi())
    const createUpdateApi = useCollectionApi()
    createUpdateApi.setBaseApi(usePrivateApi())

    const getItems = async () => {
      showApi.setEndpoint(`pinboard_ideas/${props.itemId}`)
      loadingItem.value = true
      await showApi.getItem()
      loadingItem.value = false
      item.value = showApi.item.value
    }
    

    const save = async () => {
      createUpdateApi.setEndpoint(`pinboard_ideas/${props.itemId}`)
      loadingItem.value = true
      const result = await createUpdateApi.updateItem(item.value, 'Idee erfolgreich aktualisiert')
      loadingItem.value = false
      if (result.status === ResultStatus.SUCCESSFUL) {
        emit('refreshCollection')
        emit('close')
      } else {
        errors.value = result.data
      }
    }

    onMounted(() => {
      if (props.itemId) {
        getItems()
      }
    })
    
    const emitClose = () => {
      emit('close')
    }

    return {
      loadingItem,
      dialog,
      save,
      item,
      emitClose,
      errors,
      de,
      TextOptions,
      status
    }
  }
})
</script>

<style lang="sass">
.ql-editor
  min-height: 100px

.ql-blank
  background: #F6F6F6
</style>