<template>
  <div>
   <h2>Projekte</h2>

    <v-btn class="mb-2" elevation="0" variant="outlined" @click="itemId = null; createEditDialogOpen = true">Neues Projekt</v-btn>

    <DataTable
      :fields="fields"
      :items="projects"
      endpoint="projects"
      @getItems="getItems"
      @openCreateEditDialog="openCreateEditDialog"
      @openDeleteDialog="openDeleteDialog"
      @openAddImagesDialog="openAddImagesDialog"
      @openAddLocationsDialog="openAddLocationsDialog"
      @openAddMilestonesDialog="openAddMilestonesDialog"
    />

    <AdminProjectsCreateEdit
      :item-id="itemId"
      v-if="createEditDialogOpen"
      @close="itemId = null; createEditDialogOpen = false"
      @refreshCollection="getItems()"
    />
    <DeleteItem
      v-if="confirmDeleteModalOpen"
      @close="itemId = null; confirmDeleteModalOpen = false"
      :item-id="itemId"
      endpoint="projects"
      term="dieses Projekt"
      @refreshCollection="getItems()"
    />
    <AdminProjectsAddImages
      :item-id="itemId"
      v-if="addImagesDialogOpen"
      @close="itemId = null; addImagesDialogOpen = false"
    />
    <AdminProjectsAddLocations
      :item-id="itemId"
      v-if="addLocationsDialogOpen"
      @close="itemId = null; addLocationsDialogOpen = false"
    />
    <AdminProjectsAddMilestones
      :item-id="itemId"
      v-if="addMilestonesDialogOpen"
      @close="itemId = null; addMilestonesDialogOpen = false"
    />
  </div>
</template>

<script lang="ts">
export default defineComponent({
  name: 'AdminProjectsIndex',
  setup() {

    definePageMeta({
      layout: "default",
    })

    const fields = ref([
      { text: '', type: 'move_down' },
      { text: '', type: 'move_up' },
      { text: 'Proj. aktiv', endpoint: 'projects', type: 'switch', fieldToSwitch: 'is_active', askNotification: true, notificationKind: 'new_project', notificationKindExplicit: 'ein neues Projekt', notificationPreFilledHeadline: 'Ein neues Projekt wurde erstellt', notificationPreFilledText: 'Es wurde ein neues Projekt mit Namen "[[name]]" veröffentlicht. Schau doch mal wieder vorbei.', notificationCtaLink: 'public/projects/[[itemId]]' },
      { text: 'Abst. pub.', endpoint: 'projects', type: 'switch', fieldToSwitch: 'rating_results_public', askNotification: true, notificationKind: 'new_rating', notificationKindExplicit: 'eine neue Projekt-Abstimmung', notificationPreFilledHeadline: 'Eine neue Projekt-Abstimmung wurde veröffentlicht', notificationPreFilledText: 'Die Abstimmung zum Projekt "[[name]]" wurde jetzt veröffentlicht. Schau doch mal wieder vorbei.', notificationCtaLink: 'public/projects/[[itemId]]' },
      { text: 'Art', type: 'enum', value: 'rating_kind', enum_name: 'projectKinds'},
      { text: 'Name', value: 'name', type: 'string', width: "200px" },
      { text: 'Kategorien', value: 'categories', type: 'associations_name' },
      { text: 'Ort', value: 'town', type: 'string' },
      { text: 'Gemeinden', value: 'communities', type: 'associations_name' },
      { text: 'PLZ', value: 'zip', type: 'string' },
      { text: 'Zeitraum', value: '', type: 'projectTimeRange' },
      { text: 'Kosten', value: 'costs', type: 'currency' },
      { text: 'Kommentare', value: 'comment_count', type: 'string' },
      { text: 'Upvote', value: 'upvote_count', type: 'string' },
      { text: 'Downvote', value: 'downvote_count', type: 'string' },
      { text: '', value: 'mdi-image-plus', type: 'icon', emit: 'openAddImagesDialog', tooltip: 'Bilder hinzufügen' },
      { text: '', value: 'mdi-map-marker-plus', type: 'icon', emit: 'openAddLocationsDialog', tooltip: 'Orte hinzufügen' },
      { text: '', value: 'mdi-flag-outline', type: 'icon', emit: 'openAddMilestonesDialog', tooltip: 'Meilensteine hinzufügen' }
    ])

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint('projects')

    const projects = api.items
    const loading = ref(false)
    const createEditDialogOpen = ref(false)
    const confirmDeleteModalOpen = ref(false)
    const itemId = ref(null)
    const addImagesDialogOpen = ref(false)
    const addLocationsDialogOpen = ref(false)
    const addMilestonesDialogOpen = ref(false)

    onMounted(() => {
      getItems()
    })

    const getItems = async () => {
      loading.value = true
      const options = { page: 1, per_page: 1000, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: null, concat: false, filters: [] }
      await api.retrieveCollection(options)
      loading.value = false
    }

    const openCreateEditDialog = (id: string) => {
      itemId.value = id
      createEditDialogOpen.value = true
    }

    const openDeleteDialog = (id: string) => {
      itemId.value = id
      confirmDeleteModalOpen.value = true
    }

    const openAddImagesDialog = (id: string) => {
      itemId.value = id
      addImagesDialogOpen.value = true
    }

    const openAddLocationsDialog = (id: string) => {
      itemId.value = id
      addLocationsDialogOpen.value = true
    }

    const openAddMilestonesDialog = (id: string) => {
      itemId.value = id
      addMilestonesDialogOpen.value = true
    }

    return {
      fields,
      projects,
      loading,
      createEditDialogOpen,
      itemId,
      getItems,
      confirmDeleteModalOpen,
      openCreateEditDialog,
      openDeleteDialog,
      openAddImagesDialog,
      openAddLocationsDialog,
      openAddMilestonesDialog,
      addImagesDialogOpen,
      addLocationsDialogOpen,
      addMilestonesDialogOpen
    }
  }
})
</script>

<style lang="sass">
.v-dialog--custom
  width: 30%
</style>
