<template>
  <v-dialog
    v-model="dialog"
    width="700"
    persistent
    transition="dialog-bottom-transition"
  > 
    <Loading v-if="loadingItem" />
    <AdminGamificationRewardsCreateEdit
      :item-id="rewardId"
      :game-id="itemId"
      v-if="createEditDialogOpen"
      @close="rewardId = null; createEditDialogOpen = false"
      @refreshCollection="getItems()"
    />
    <DeleteItem
      v-if="confirmDeleteModalOpen"
      @close="rewardId = null; confirmDeleteModalOpen = false"
      :item-id="rewardId"
      endpoint="gamification_rewards"
      term="diese Belohnung"
      @refreshCollection="getItems()"
    />

    <v-card class="dialog-700">
      <v-card-title class="text-h5">
        {{ gamificationGame?.name }} Belohnungen
      </v-card-title>      
      <v-card-text>
        <v-btn
          size="x-small"
          elevation="0"
          variant="outlined"
          class="mt-n4 mb-1 ml-n2"
          @click="rewardId = null; createEditDialogOpen = true">
          Neue Belohnung
        </v-btn>
        <v-table v-if="gamificationRewards.length > 0">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Grenze</th>
              <th width="20px"></th>
              <th width="20px"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(gamificationReward, index) in gamificationRewards" :key="gamificationReward.id">
              <td>{{ index + 1 }}</td>
              <td>{{ gamificationReward.name }}</td>
              <td>{{ gamificationReward.threshold }}</td>
              <td><v-icon class="is-clickable" @click="rewardId = gamificationReward.id; createEditDialogOpen = true">mdi-pencil</v-icon></td>
              <td><v-icon class="is-clickable" @click="rewardId = gamificationReward.id; confirmDeleteModalOpen = true">mdi-delete</v-icon></td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn text @click="emitClose()">Schließen</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import '@vuepic/vue-datepicker/dist/main.css'
import { ResultStatus } from '@/types/serverCallResult'
export default defineComponent({
  emits: ['close'],
  props: {
    itemId: String
  },
  setup (props, { emit }) {
    const loadingItem = ref(false)
    const dialog = ref(true)
    const rewardId = ref(null)
    const confirmDeleteModalOpen = ref(false)
    const createEditDialogOpen = ref(false)

    const gamificationGame = ref(null)
    const gamificationRewards = ref([])

    const emitClose = () => {
      emit('close')
    }

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())

    const getGamificationGame = async () => {
      api.setEndpoint(`gamification_games/${props.itemId}`)
      loadingItem.value = true
      await api.getItem()
      loadingItem.value = false
      gamificationGame.value = api.item.value
    }

    const getItems = async () => {
      api.setEndpoint(`gamification_rewards/gamification_game/${props.itemId}`)
      loadingItem.value = true
      await api.retrieveCollection({ page: 1, per_page: 1000, sort_by: 'threshold', sort_order: 'ASC', searchQuery: null, concat: false, filters: null })
      loadingItem.value = false
      gamificationRewards.value = api.items.value
    }

    onMounted(() => {
      getGamificationGame()
      getItems()
    })

    return {
      emitClose,
      dialog,
      loadingItem,
      gamificationGame,
      location,
      getGamificationGame,
      getItems,
      gamificationRewards,
      confirmDeleteModalOpen,
      createEditDialogOpen,
      rewardId,
    }
  }
})
</script>

<style lang="sass">

</style>