<template>
  <v-dialog
    v-model="dialog"
    width="500"
    transition="dialog-bottom-transition"
    @click:outside="emitClose()"
  >
    <v-card class="dialog-500">
      <v-card-title class="text-h5">
        Gamification
      </v-card-title>
      <v-card-text>
        <div class="field">
          <v-text-field
            v-model="item.name"
            hide-details="auto"
            label="Name"
            :error-messages="useErrors().checkAndMapErrors('name', errors)"
          />
        </div>
        <div class="field">
          <v-select
            hide-details="auto"
            v-model="item.kind"
            :items="kinds"
            item-title="name"
            item-value="id"
            label="Art"
            single-line
            density="compact"
          />
        </div>
        <v-alert type="info" class="mt-2">
          <span v-if="item.kind === 'login'">Erstelle eine Gamification Serie die sich auf die Anzahl Logins des Nutzers bezieht</span>
          <span v-if="item.kind === 'rating'">Erstelle eine Gamification Serie die sich auf die Anzahl Projektbewertungen des Nutzers bezieht</span>
          <span v-if="item.kind === 'poll'">Erstelle eine Gamification Serie die sich auf die Anzahl abgegebener Antworten bei Umfragen des Nutzers bezieht</span>
          <span v-if="item.kind === 'comment'">Erstelle eine Gamification Serie die sich auf die Anzahl abgegebener Kommentare des Nutzers bezieht</span>
        </v-alert>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn
          text
          @click="emitClose()"
        >
          Schließen
        </v-btn>
        <v-btn
          color="blue darken-1"
          variant="outlined"
          dark
          text
          @click="handleCta()"
          :loading="loadingItem"
        >
          Speichern
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { ResultStatus } from '@/types/serverCallResult'
export default defineComponent({
  emits: ['close'],
  props: {
    itemId: String
  },
  setup (props, { emit }) {
    const loadingItem = ref(false)
    const dialog = ref(true)
    const errors = ref([])
    const item = ref({
      name: '',
      kind: 'login'
    })
    const kinds = ref([
      { id: 'login', name: 'Login'},
      { id: 'rating', name: 'Projektbewertungen'},
      { id: 'poll', name: 'Umfragen'},
      { id: 'comment', name: 'Kommentare' }
    ])

    const showApi = useCollectionApi()
    showApi.setBaseApi(usePrivateApi())

    const createUpdateApi = useCollectionApi()
    createUpdateApi.setBaseApi(usePrivateApi())

    const getItem = async () => {
      showApi.setEndpoint(`gamification_games/${props.itemId}`)

      loadingItem.value = true
      await showApi.getItem()
      loadingItem.value = false
      item.value = showApi.item.value
    }

    const handleCta = () => {
      if (props.itemId) {
        save()
      } else {
        create()
      }
    }

    const create = async () => {
      createUpdateApi.setEndpoint(`gamification_games`)
      loadingItem.value = true
      const result = await createUpdateApi.createItem(item.value, 'Gamification erfolgreich erstellt')
      loadingItem.value = false
      if (result.status === ResultStatus.SUCCESSFUL) {
        emit('refreshCollection')
        emit('close')
      } else {
        errors.value = result.data
      }
    }

    const save = async () => {
      createUpdateApi.setEndpoint(`gamification_games/${props.itemId}`)
      loadingItem.value = true
      const result = await createUpdateApi.updateItem(item.value, 'Gamification erfolgreich aktualisiert')
      loadingItem.value = false
      if (result.status === ResultStatus.SUCCESSFUL) {
        emit('refreshCollection')
        emit('close')
      } else {
        errors.value = result.data
      }
    }

    onMounted(() => {
      if (props.itemId) {
        getItem()
      }
    })
    
    const emitClose = () => {
      emit('close')
    }

    return {
      loadingItem,
      dialog,
      item,
      handleCta,
      emitClose,
      errors,
      kinds
    }
  }
})
</script>

<style>

</style>