<template>
  <div class="comments">
    <div class="comments-filter" v-if="comments.length > 0">
      <v-row no-gutters justify="end">
        <v-col 
          cols="6"
          sm="4"
          md="4"
          class="d-flex justify-end"
        >
          <v-select
            class="comment-filter has-text-default"
            variant="plain"
            hide-details="auto"
            density="compact"
            :items="filterOptions"
            item-title="name"
            item-value="id"
            v-model="filter"
          />
        </v-col>
      </v-row>
    </div>
    <PublicCommentsNew
      v-if="currentUser.can_comment"
      :project-id="projectId"
      placeholder="Neuen Kommentar verfassen"
      @refreshCollection="getItems(false)"
    />
    <div v-else>
      <v-alert color="red-darken-4">Ihre Kommentarfunktion wurde gesperrt</v-alert>
      <div class="gap-6" />
    </div>
    <div v-if="comments.length > 0">
      <div class="text-center loading">
        <v-progress-circular v-if="loading"
        :size="50"
        :width="4"
        color= #015281
        indeterminate
      ></v-progress-circular>
      </div>

      <PublicCommentsComment
        v-for="comment in comments" :key="comment.id"
        :comment="comment"
        @removeComment="removeComment"
        @setCommentReported="setCommentReported"
        />
      <Transition>
        <div v-if="currentPage < totalPages" align="center" class="is-clickable text-grey more-comments" @click="increasePage()">
          <v-icon class="mr-n1">mdi-dots-horizontal</v-icon>
          <v-icon class="mr-n1">mdi-dots-horizontal</v-icon>
          <v-icon>mdi-dots-horizontal</v-icon>
          Mehr Kommentare
          <v-icon class="mr-n1">mdi-dots-horizontal</v-icon>
          <v-icon class="mr-n1">mdi-dots-horizontal</v-icon>
          <v-icon>mdi-dots-horizontal</v-icon>
        </div>
      </Transition>
    </div>
    <div v-else>
      Noch keine Kommentare vorhanden.
    </div>
  </div>
</template>

<script lang="ts">
import { useUserStore } from "@/store/user"
export default defineComponent({
  name: 'PublicComments',
  props: {
    projectId: String
  },
  setup (props) {
    const api = useCollectionApi()
    const currentUser = useUserStore().currentUser
    api.setBaseApi(usePrivateApi())
    api.setEndpoint(`comments/project/${props.projectId}`)

    const comments = api.items
    const loading = ref(false)
    const currentPage = ref(1)
    const totalPages = ref(1)
    const filter = ref('standard')
    const filterOptions = ref([
      { id: 'standard', name: 'Sortieren nach', apiField: 'created_at' },
      { id: 'newest', name: 'Neuste zuerst', apiField: 'created_at' },
      { id: 'relevant', name: 'Relevante zuerst', apiField: 'score' },
    ])

    onMounted(() => {
      getItems(false)
    })

    watch(filter, () => {
      currentPage.value = 1
      getItems(false)
    })

    const increasePage = () => {
      currentPage.value += 1
      getItems()
    }

    const getItems = async (concat = true) => {
      loading.value = true
      const sortField = filterOptions.value.find((element) => element.id === filter.value).apiField
      await api.retrieveCollection({ page: currentPage.value, per_page: 5, sort_by: sortField, sort_order: 'DESC', searchQuery: null, concat: concat, filters: null })
      loading.value = false
      totalPages.value = api.totalPages.value
    }

    const removeComment = (commentId:string) => {
      const foundItem = comments.value.find(comment => comment.id === commentId)
      const index = comments.value.indexOf(foundItem)
      comments.value.splice(index, 1)
    }

    const setCommentReported = (commentId:string) => {
      const foundItem = comments.value.find(comment => comment.id === commentId)
      foundItem.has_already_reported_comment = true
    }

    return {
      comments,
      loading,
      getItems,
      removeComment,
      increasePage,
      currentUser,
      totalPages,
      currentPage,
      filter,
      filterOptions,
      setCommentReported
    }
  }
})
</script>
<style lang="sass">
@import "@/assets/sass/base/breakpoints.sass"
.comment-filter
  margin-top: -70px

  @media screen and (max-width: $breakpoint-xs)
    width: 100%
    margin-top: 0px

.v-enter-active,.v-leave-active
  transition: .2s

.v-enter-from,.v-leave-to
  opacity: 0

.loading
  margin-top: 30px

.v-select__selection
  width: 100%
  justify-content: right
</style>