<template>
  <v-row>
    <v-col cols="12" xs="12" lg="12">
      <div class="disclaimer bg-warning" v-if="show">
        <v-row>
          <v-col cols="12" xs="12" lg="8"><span class="hint">Hinweis:</span> Die hier gezeigten Projekte sind rein fiktiv und stellen keine Inhalte des Smart CityProjektes dar.</v-col>
          <v-col cols="12" xs="12" lg="4">
            <div class="buttons">
              <div class="button" @click="dissmissHint">Nicht wieder anzeigen</div>
              <div class="button bg-white text-warning" @click="show = false">Verstanden</div>
            </div>
          </v-col>
        </v-row>
      </div>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  setup() {
    const show = ref(true)

    const dissmissHint = () => {
      localStorage.setItem('project_platform_disclaimer_hint', "false")
      show.value = false
    }

    onMounted(() => {
      const showStorage = localStorage.getItem('project_platform_disclaimer_hint')
      if (showStorage && showStorage === 'false') {
        show.value = false
      }
    })

    return {
      dissmissHint,
      show
    }
  },
})
</script>

<style lang="sass" scoped>
@import "@/assets/sass/base/breakpoints.sass"
.disclaimer
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25)
  border-radius: 0px 0px 10px 10px
  margin-top: -18px
  margin-bottom: 20px
  padding: 20px
  font-weight: bold
  font-size: 20px
  .hint
    color: #88560C
  .buttons
    display: grid
    font-size: 17px
    grid-template-columns: 50% 50%
    margin-top: -5px
    .button
      border: 2px solid white
      border-radius: 58px
      &:first-child
        margin-right: 10px
      &.is-white
        background: white
    @media only screen and (max-width: $breakpoint-xs)
      display: inline
      width: 100%
      .button
        margin-bottom: 10px
        &:first-child
          margin-right: 0
</style>