<template>
  <v-container>
    <ClientOnly>
      <div class="footer pt-15">
        <v-row>
          <v-col cols="12" md="6">
            <div>
              <p class="footer-title text-uppercase">Benachrichtigung zu neuen Projekten</p>
              <p class="has-text-white">Jetzt zum SMART WENDELER LAND NEWSLETTER anmelden und über neue Projekte informiert werden:</p>
              <div class="gap-2" />
            </div>
            <PublicNewsLetter />
          </v-col>
          <v-col class="d-flex justify-md-end">
            <div class="flex-column justify-end mb-10">
              <p class="footer-title">Mehr News vom SMART WENDELER LAND</p>
              <div class="gap-2" />
              <v-btn
                href="https://www.facebook.com/Landkreis.StWendel/" target="_blank"
                variant="outlined"
                size="large"
                icon
                color="white"
                class="social-buttons mr-5"
                >
                <v-icon>mdi-facebook</v-icon>
              </v-btn>
              <v-btn
                href="https://www.instagram.com/sankt.wendeler.land/?hl=de" target="_blank"
                variant="outlined"
                size="large"
                icon
                color="white"
                class="social-buttons mr-5"
                >
                <v-icon>mdi-instagram</v-icon>
              </v-btn>
              <v-btn
                href="https://www.youtube.com/channel/UCF9sq51TlbaRMWx9ePIRzog/about" target="_blank"
                variant="outlined"
                size="large"
                icon
                color="white"
                class="social-buttons mr-5"
                >
                <v-icon>mdi-youtube</v-icon>
              </v-btn>
                <v-btn
                href="https://www.linkedin.com/showcase/smart-wendeler-land" target="_blank"
                variant="outlined"
                size="large"
                icon
                color="white"
                class="social-buttons"
                >
                <v-icon>mdi-linkedin</v-icon>
              </v-btn>
            </div>
          </v-col>
        </v-row>
        <div class="divider mb-10"></div>
        <p class="has-text-white footer-title mb-5">Landkreis Sankt Wendel</p>
        <v-row >
          <v-col cols="6" md="3" sm="6" class="flex-column justify-center align-center">
            <p class="has-text-white">Mommstraße 21-31</p>
            <p class="has-text-white">66606 St. Wendel</p>
            <div v-if="display.smAndDown && !display.smAndUp">
              <span>&nbsp;</span>
              <p class="has-text-white is-clickable"><router-link to="/terms_of_use">Nutzungsbedingungen</router-link></p>
              <p class="has-text-white is-clickable"><router-link to="/rules_of_conduct">Netiquette</router-link></p>
              <p class="has-text-white is-clickable"><router-link to="/privacy_policy">Datenschutzerklärung</router-link></p>
              <p class="has-text-white is-clickable"><router-link to="/imprint">Impressum</router-link></p>
            </div>
          </v-col>
          <v-col cols="6" md="3" sm="6" class="justify-center align-center">
            <p class="has-text-white">Tel.: 06851 801-0</p>
            <p class="has-text-white">Fax: 06851 801-2290</p>
            <span>&nbsp;</span>
            <p class="has-text-white">digitalregion.landkreis-st-wendel.de</p>
            <p class="has-text-white font-italic"><a href="https//:smartwendelerland.de" target="blank">smartwendelerland.de</a></p>
          </v-col>
          <v-col md="1" v-if="display.mdAndDown && !display.mdAndUp"></v-col>
          <v-col v-if="display.smAndUp" class="flex-column justify-center align-center">
            <p class="has-text-white is-clickable"><router-link to="/terms_of_use">Nutzungsbedingungen</router-link></p>
            <p class="has-text-white is-clickable"><router-link to="/rules_of_conduct">Netiquette</router-link></p>
            <p class="has-text-white is-clickable"><router-link to="/privacy_policy">Datenschutzerklärung</router-link></p>
            <p class="has-text-white is-clickable"><router-link to="/imprint">Impressum</router-link></p>
          </v-col>
            <v-col cols="12" md="3" sm="6" class="flex-column justify-center align-center">
              <div class="mb-3">
                <v-btn 
                  prepend-icon="mdi-apple"
                  variant="outlined"
                  size="large"
                  rounded="pill"
                  color="white"
                  width="100%"
                  href="https://apps.apple.com/de/app/id1668891185" 
                  target="_blank"
                  >
                  Download AppStore
                </v-btn>
              </div>
            <div>
              <v-btn 
                prepend-icon="mdi-google-play"
                variant="outlined"
                size="large"
                rounded="pill"
                color="white"
                width="100%"
                href="https://play.google.com/store/apps/details?id=smartwendel.pocketrocket.io"
                target="_blank"
                >
                Download PLayStore
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </div>
    </ClientOnly>
  </v-container>
</template>

<script setup lang="ts">
import { useDisplay } from 'vuetify'

const display = ref(useDisplay())

</script>

<style lang="sass" scoped>
.footer
  a
    color: white

.footer-title
  color: white
  font-size: 1.5rem

.social-buttons
  border: 3px solid

.divider
  border: 2px white solid

.input-field
  border: 2px solid white
  border-radius: 25px


</style>