<template>
  <div v-if="showingTeaser" class="logout-box">
    <div>
      <v-icon 
      size="x-large"
      color="green darken-2"
      >mdi-check
      </v-icon>
      Abgemeldet 
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  setup(props, { emit }) {
    const showingTeaser = ref(false)

    onMounted(() => {
      setTimeout(() => {
        showingTeaser.value = false
      }, 4000)
      
    })

    return {
      showingTeaser
    }
  },
})
</script>

<style lang="sass" scoped>

</style>