<template>
  <div>
    <PublicProjectsFilters
      :view="view"
      @applySearchQuery="applySearchQuery"
      @applyCategoryFilter="applyCategoryFilter"
      @applyCommunityFilter="applyCommunityFilter"
      @changeView="changeView"
    />
    <Loading
      loading-text="Projekte werden geladen…"
      v-if="loading"
      width="auto"
    />
    <v-dialog
      v-model="projectDialogOpen"
      transition="dialog-bottom-transition"
    >
      <PublicProjectsPanel
        v-click-outside="clickOutsideHandler"
        :project="selectedProject"
        :is-popup="true"
        @closeAndRedirect="closeAndRedirect"
      />
    </v-dialog>
    <v-row v-if="view === 'map'">
      <v-col>
        <ClientOnly>
          <lazy-MapWidget
            ref="map"
            class="mapwidget"
            :locations="locations"
            :auto-fit=false
            :center-point="{
              lng: 7.131735,
              lat: 49.523656
            }"
            :min-zoom=11
            @markerClick="mapMarkerClick"
          />
        </ClientOnly>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col
        cols="12"
        md="3"
        xl="2"
        class="d-flex align-stretch"
        v-for="project in projects" :key="project.id"
      >
        <PublicProjectsPanel
          :project="project"
        />
      </v-col>
      <ClientOnly>
        <Waypoint @change="onInViewPort" :active="currentPage < totalPages" class="going-in direction-down" />
      </ClientOnly>
    </v-row>
  </div>
  <div class="flex-column text-white text-h4 my-15 py-15" v-if="projects.length <= 0 && !loading">
    <div class="d-flex justify-center align-center">
      <p>Kein Projekt gefunden</p>
    </div>
    <div class="d-flex justify-center align-center is-clickable mt-8">
      <v-chip @click="emitResetFilter()" size="x-large" class="mr-1 mb-1">
          <span>Zurück</span>
      </v-chip>
    </div>
  </div>
    

</template>

<script lang="ts">
import { Ref } from 'vue'
import { Waypoint } from 'vue-waypoint'
import { MapLocation } from '@/types/MapLocation'
export default defineComponent({
  components: {
    Waypoint
  },
  name: 'PublicProjects',
  setup() {

    const api = useCollectionApi()
    api.setBaseApi(usePublicApi())
    api.setEndpoint('projects')

    if (useUser().loggedIn()) {
      api.setBaseApi(usePrivateApi())
    }

    const projects = api.items
    const searchQuery = ref("")
    const selectedCategories = ref([])
    const selectedCommunities = ref([])
    const loading = ref(false)
    const currentPage = ref(1)
    const totalPages = ref(1)
    const map = ref(null)
    const locations: Ref<MapLocation[]> = ref([])
    const view = ref('tiles')
    const projectDialogOpen = ref(false)
    const selectedProject = ref(null)
    const router = useRouter()

    onMounted(() => {
      getPublicProjects(false)
    })

    const applySearchQuery = (value:any) => {
      searchQuery.value = value
      getPublicProjects(false)
    }

    const applyCategoryFilter = (value:any) => {
      selectedCategories.value = value
      getPublicProjects(false)
    }

    const applyCommunityFilter = (value:any) => {
      selectedCommunities.value = value
      getPublicProjects(false)
    }

    const emitResetFilter = () => {
      useNuxtApp().$bus.$emit('filter_reset')
      applySearchQuery('')
      applyCategoryFilter('')
      applyCommunityFilter('')
    }

    const getPublicProjects = async (concat = false) => {
      loading.value = true
      const filters = []

      if (selectedCategories.value.length > 0) {
        filters.push({
          field: 'category',
          value: selectedCategories.value
        })
      }

      if (selectedCommunities.value.length > 0) {
        filters.push({
          field: 'community',
          value: selectedCommunities.value
        })
      }

      const options = { page: currentPage.value, per_page: 20, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: searchQuery.value, concat: concat, filters: filters }
      await api.retrieveCollection(options)
      totalPages.value = api.totalPages.value
      loading.value = false
      updateLocations()
    }

    const onInViewPort = (waypointState:any) => {
      if (waypointState.going === 'IN') {
        currentPage.value += 1
        getPublicProjects(true)
      }
    }

    const updateLocations = () => {

      locations.value = []

      projects.value.forEach((project) => {
        project.locations.forEach((location: any) => {
          locations.value.push({
            id: project.id,
            longitude: parseFloat(location.longitude),
            latitude: parseFloat(location.latitude),
            draggable: false,
            tooltipHtml: `<div style="width: 200px;"><img src="${project.image_url}" style="width: 100%;" /><div style="white-space: normal;">${project.name}</div></div>`
          })
        })
      })

      // Give the ref some time to update.
      setTimeout(function () {
        if (map.value) { // take in to account that the map has not yet been loaded into the dom
          map.value.refreshView()
        }
      }, 10)
    }

    const mapMarkerClick = (marker: MapLocation) => {
      // Show project list modal and scroll relevant project into view.
      const project = projects.value.find(project => project.id === marker.id)
      selectedProject.value = project
      projectDialogOpen.value = true
    }

    const changeView = (v) => {
      view.value = v
    }

    const clickOutsideHandler = () => {
      projectDialogOpen.value = false
    }

    const closeAndRedirect = (url:any) => {
      projectDialogOpen.value = false
      router.push({ path: url })
    }

    return {
      projects,
      applySearchQuery,
      applyCategoryFilter,
      applyCommunityFilter,
      loading,
      onInViewPort,
      totalPages,
      currentPage,
      map,
      locations,
      mapMarkerClick,
      changeView,
      view,
      projectDialogOpen,
      selectedProject,
      closeAndRedirect,
      clickOutsideHandler,
      emitResetFilter
    }
  }
})
</script>

<style lang="sass" scoped>
.mapwidget
  height: 70vh
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.36)
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.36)
// .wrapper
//   -moz-column-gap: 1em
//   -webkit-column-gap: 1em
//   column-gap: 1em

//   @media screen and (min-width: 1521px)
//     -moz-column-count: 5
//     -webkit-column-count: 5
//     column-count: 5

//   @media screen and (max-width: 1520px)
//     -moz-column-count: 4
//     -webkit-column-count: 4
//     column-count: 4

//   @media screen and (max-width: 1264px)
//     -moz-column-count: 3
//     -webkit-column-count: 3
//     column-count: 3

//   @media screen and (max-width: 960px)
//     -moz-column-count: 2
//     -webkit-column-count: 2
//     column-count: 2

//   @media screen and (max-width: 600px)
//     -moz-column-count: 1
//     -webkit-column-count: 1
//     column-count: 1
//   .item
//     display: inline-block
//     margin: 0 0 1em
//     width: 100%
//     position: relative
</style>