<template>
  <div v-if="showNotification && currentUser" class="notification">
    <div class="trophy-notification">
      <v-row justify="space-around" class="">
        <v-col md="3" class="d-flex align-center" :class="[($device.isMobile ? 'justify-center' : 'justify-end')]">
          <img src="~/assets/images/mascot-trophy.svg" class="trophy-image pa-2" :class="[($device.isMobile ? 'is-mobile' : 'is-desktop')]"/>
        </v-col>
        <v-col md="3" sm="6" class="align-center justify-center" :class="[($device.isMobile ? 'flex-column' : 'd-flex')]">
          <p v-if="$device.isMobile">&nbsp;</p>
        <p class="congratulate text-uppercase font-weight-bold" :class="[($device.isMobile ? 'is-mobile' : 'is-desktop')]">gratuliere!</p>
        <div v-if="$device.isMobile" class="d-flex align-center">
          <p class="congratulate-text" :class="[($device.isMobile ? 'is-mobile' : 'is-desktop')]"><span v-if="$device.isDesktop">Du hast folgenden</span> <span>Erfolg freigeschaltet:</span> <span class="reward font-weight-bold">{{ rewardName }}</span></p>
        </div>
        </v-col>
        <v-col md="3" class="flex-column justify-center text-start" v-if="$device.isDesktop">
          <p>&nbsp;</p>
          <p class="congratulate-text" :class="[($device.isMobile ? 'is-mobile' : 'is-desktop')]">Du hast folgenden Erfolg freigeschaltet:</p>
          <p class="reward font-weight-bold" :class="[($device.isMobile ? 'is-mobile' : 'is-desktop')]"> {{ rewardName }}</p>
        </v-col>
        <v-col cols="12" md="3" class="d-flex align-center justify-start">
          <v-btn
          @click="showNotification = false"
          variant="outlined"
          size="large"
          rounded="pill"
          class="dismiss-btn"
          width="50%"
          >
            OK
          </v-btn>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script lang="ts">
import { useUserStore } from "@/store/user"
// using options api to work with actioncable-vue
export default {
  channels: {
    TrophyNotificationChannel: {
      connected() { console.log("Connected to the TrophyNotificationChannel") },
      rejected() { console.log("rejected") },
      received(notification:any) { this.handleNotification(notification) },
      disconnected() { console.log("disconnected") },
    },
  },
  data () {
    return {
      showNotification: false,
      rewardName: ''
    }
  },
  computed: {
    currentUserId () {
      if (useUserStore().currentUser) {
        return useUserStore().currentUser.id
      }
      return null
    },
    currentUser () {
      if (useUserStore().currentUser) {
        return useUserStore().currentUser
      }
      return null
    }
  },
  mounted () {
    if (this.currentUserId) {
      this.subscribe()
    }
  },
  methods: {
    subscribe () {
      this.$cable.subscribe({
        channel: "TrophyNotificationChannel",
        userId: this.currentUserId
      });
    },
    handleNotification (notification:any) {
      this.showNotification = true
      this.rewardName = notification.reward_name
    }
  },
  watch: {
    currentUserId () {
      if (this.currentUserId) {
        this.subscribe()
      }
    }
  }
}
</script>

<style lang="sass" scoped>

.trophy-image
  &.is-desktop
    height: 130px
  &.is-mobile
    height: 130px


.notification
  position: fixed
  bottom: 0
  width: 100%
  height: 150px
  background: white
  z-index: 100000
  
.congratulate
  color: #58595E
  &.is-desktop
    font-size: 36px
  &.is-mobile
    font-size: 16px

.congratulate-text
  color: #58595E
  &.is-desktop
    font-size: 24px
  &.is-mobile
    font-size: 16px

.reward
  color: #EE9207
  &.is-desktop
    font-size: 32px
  &.is-mobile
    font-size: 16px

.dismiss-btn
  background: linear-gradient(270deg, #017DC2 0.29%, #015281 100%)
  color: white
  border: 0px

</style>