<template>
  <div v-if="project.rating_kind === 'upvote_downvote'">
    <div :class="{'is-small' : isSmall}">
      <div class="mb-3">
        <span v-if="!project.rating_results_public && !useDatetime().isInPast(project.rating_end)">Ergebnis noch nicht freigegeben</span>
        <span v-if="useDatetime().isInPast(project.rating_end) && project.rating_results_public">Abstimmung beendet</span>
        <span v-if="project.total_vote_count <= 0 && project.rating_results_public && !useDatetime().isInPast(project.rating_end)">Noch keine Abstimmung</span>
        <span v-if="project.rating_results_public && !useDatetime().isInPast(project.rating_end) && project.total_vote_count > 0">Abstimmung läuft</span> 
      </div> 
      <div class="votebar-wrap">
        <div v-if="upvoteRelation > 0" class="votebar">
          <div class="votebar upvote" :style="`width: ${upvoteRelation}%;`">
            <div v-if="project.upvote_count >= 0" class="result my-5">{{ project.upvote_count }} gefällt dieses Projekt</div>
          </div>
        </div>
      </div>
      <div v-if="(project.upvote_count <= 0 || !project.upvote_count)" class="votebar-wrap">
        <div class="votebar no-vote" style="width: 100%">
          <div class="result no-results no-vote my-5">0 gefällt dieses Projekt</div>
        </div>
      </div>
      <div class="votebar-wrap my-9">
        <div v-if="project.downvote_count > 0 && project.rating_kind === 'upvote_downvote'" class="votebar">
          <div  class="votebar downvote" :style="`width: ${downvoteRelation}%;`">
            <div class="result my-5">{{ project.downvote_count }} gefällt dieses Projekt nicht</div>
          </div>
        </div>
      </div>
      <div v-if="(project.downvote_count <= 0 || !project.downvote_count) && project.rating_kind === 'upvote_downvote'" class="votebar-wrap my-9">
        <div class="votebar no-vote" style="width: 100%">
          <div class="result no-results no-vote my-5">0 gefällt dieses Projekt nicht</div>
        </div>
      </div>
    </div>
      <div class="votebar-wrap votes-container" v-if="!isPanel">
        <v-row no-gutters justify="space-between">
          <v-col 
          cols="12"
          sm="12"
          md="6"
          class="d-flex justify-start"
          >
            <div>
              Abgegebene Stimmen: 
              <span v-if="project.total_vote_count">{{ project.total_vote_count }}</span>
              <span v-else>0</span>
            </div>
          </v-col>
          <!--
          <v-col class="d-flex justify-end" v-if="getVotesPercentage.length >= 4">
            <p>Stimmbeteiligung: {{ getVotesPercentage }} %</p>
          </v-col>
          -->
        </v-row>
      </div>
  </div>
  <div v-else class="d-flex justify-center upvote-text my-10">
    <span class="pr-2" v-if="project.upvote_count >= 1">{{ project.upvote_count }}</span>
    <span v-if="project.upvote_count <= 0">Like dieses Projekt als Erste(r)</span>
    <span v-if="project.upvote_count === 1">Person gefällt dieses Projekt</span>
    <span v-if="project.upvote_count >= 2">Personen gefällt dieses Projekt</span>
    <v-icon size="small" color="#ABC813" class="mx-5">mdi-thumb-up-outline</v-icon>
  </div>
</template>

<script lang="ts">
export default defineComponent({
  name: 'PublicComments',
  props: {
    isPanel: Boolean,
    project: Object,
    isSmall: {
      type: Boolean,
      default: false
    }
  },
  setup (props) {

    const getVotesPercentage = computed(() => {
      if (props.project.downvote_count) {
        return (parseFloat(props.project.upvote_count) * 100 / parseFloat(props.project.downvote_count) / parseFloat(props.project.total_vote_count)).toFixed(1)
      } else {
        return (parseFloat(props.project.upvote_count) * 100 / parseFloat(props.project.total_vote_count)).toFixed(1)
      }
    })

    const upvoteRelation = computed(() => {
      return (parseFloat(props.project.upvote_count) / parseFloat(props.project.total_vote_count)) * 100
    })

    const downvoteRelation = computed(() => {
      return (parseFloat(props.project.downvote_count) / parseFloat(props.project.total_vote_count)) * 100
    })

    return {
      upvoteRelation,
      downvoteRelation,
      getVotesPercentage
    }
  }
})
</script>
<style lang="sass">
$bar-height: 20px
.votebar-wrap
  width: 100%
  .votebar
    position: relative
    height: $bar-height
    transition: 0.5s
    overflow: initial
    border-radius: 25px
    transition: 0.5s
    &.upvote
      background: #ABC812
    &.downvote
      background: #A42258
    &.no-vote
      background: #EBEBEC
      transition: 0.5s
      
.result
  position: absolute
  left: 5px
  top: 8px
  width: 300px
  color: black
  transition: 0.5s
  &.no-results
    color: black
    transition: 0.5s

.is-small
  .result
    top: 10px

.votes-info
  margin-top: 30px

.votes-container
  margin-top: 30px

.upvote-text
  font-size: 22px
  font-weight: 700

.success
  background: #ABC813
  color: #ABC813
</style>