@import 'components/box'
@import 'components/button'
@import 'components/field'
@import 'components/dialog'
@import 'components/curtain'
@import 'base/typography'
@import 'base/helpers'

$base-gap: 10px
@for $i from 0 through 7
  .gap-#{$i}
    height: $base-gap * $i

// Swiper Theming
:root
  --swiper-pagination-color: white
  --swiper-pagination-bullet-width: 20px
  --swiper-pagination-bullet-height: 20px
  --swiper-navigation-color: white