<template>
  <v-dialog
    v-model="dialog"
    width="500"
    transition="dialog-bottom-transition"
    @click:outside="emitClose()"
  >
    <v-card class="dialog-500">
      <v-card-title class="text-h5">
        Nachricht
      </v-card-title>
      <v-card-text v-if="message">
        <div class="field">
          Vorname: {{ message.firstname }}
        </div>
        <div class="field">
          Nachname: {{ message.lastname }}
        </div>
        <div class="field">
          E-Mail: <a :href="`mailto:${message.email}?subject=Re: ${message.subject}`">{{ message.email }}</a>
        </div>
        <div class="field">
          Betreff: {{ message.subject }}
        </div>
        <div class="field">
          Nachricht: {{ message.message }}
        </div>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions v-if="message">
        <v-btn
          text
          @click="emitClose()"
        >
          Schließen
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          :href="`mailto:${message.email}?subject=Re: ${message.subject}`"
        >
          Jetzt Antworten
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default defineComponent({
  emits: ['close'],
  props: {
    itemId: String
  },
  setup (props, { emit }) {
    const loadingItem = ref(false)
    const dialog = ref(true)
    const errors = ref([])

    const showApi = useCollectionApi()
    showApi.setBaseApi(usePrivateApi())
    const message = showApi.item

    const createUpdateApi = useCollectionApi()
    createUpdateApi.setBaseApi(usePrivateApi())

    const getItem = async () => {
      showApi.setEndpoint(`messages/${props.itemId}`)

      loadingItem.value = true
      await showApi.getItem()
      loadingItem.value = false
    }

    onMounted(() => {
      if (props.itemId) {
        getItem()
      }
    })
    
    const emitClose = () => {
      emit('close')
    }

    return {
      loadingItem,
      dialog,
      message,
      emitClose,
      errors
    }
  }
})
</script>