<template>
  <v-dialog
    v-model="dialog"
    width="700"
    transition="dialog-bottom-transition"
    @click:outside="emitClose()"
  >
    <DeleteItem
      v-if="confirmDeleteModalOpen"
      @close="pollQuestionId = null; confirmDeleteModalOpen = false"
      :item-id="pollQuestionId"
      endpoint="poll_questions"
      term="diese Frage"
      @refreshCollection="getItems()"
    />
    <AdminPollQuestionsCreateEdit
      :item-id="pollQuestionId"
      :poll-id="itemId"
      v-if="createEditDialogOpen"
      @close="pollQuestionId = null; createEditDialogOpen = false"
      @refreshCollection="getItems()"
    />
    <v-card class="dialog-700">
      <v-card-title class="text-h5">
        {{ poll?.name }} Fragen
      </v-card-title>
      <v-card-text>
        <v-btn
          size="x-small"
          elevation="0"
          variant="outlined"
          class="mt-n4 mb-1 ml-n2"
          @click="pollQuestionId = null; createEditDialogOpen = true">
          Neue Frage
        </v-btn>
        <v-table v-if="pollQuestions.length > 0">
          <thead>
            <tr>
              <th width="10px">#</th>
              <th width="5px"></th>
              <th width="5px"></th>
              <th width="30px">Art</th>
              <th width="30px">Antwortmöglichkeiten</th>
              <th>Frage</th>
              <th width="20px"></th>
              <th width="20px"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(pollQuestion, menu_order) in pollQuestions" :key="pollQuestion.id">
              <td>{{ pollQuestion.menu_order }}</td>
              <td><v-icon v-if="menu_order !== pollQuestions.length - 1" class="is-clickable" @click="move(pollQuestion, pollQuestions[menu_order += 1])">mdi-arrow-down</v-icon></td>
              <td><v-icon v-if="menu_order !== 0" class="is-clickable" @click="move(pollQuestion, pollQuestions[menu_order -=1 ])">mdi-arrow-up</v-icon></td>
              <td>{{ pollQuestion.kind }}</td>
              <td>
                <span v-if="pollQuestion.kind === 'rating'">{{ pollQuestion.max_score_count }}</span>
                <span v-if="pollQuestion.kind === 'single_choice' || pollQuestion.kind === 'multiple_choice'">{{ pollQuestion.choices.length }}</span>
              </td>
              <td>{{ pollQuestion.name }}</td>
              <td><v-icon class="is-clickable" @click="pollQuestionId = pollQuestion.id; createEditDialogOpen = true">mdi-pencil</v-icon></td>
              <td><v-icon class="is-clickable" @click="pollQuestionId = pollQuestion.id; confirmDeleteModalOpen = true">mdi-delete</v-icon></td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn
          text
          @click="emitClose()"
        >
          Schließen
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default defineComponent({
  emits: ['close'],
  props: {
    itemId: String
  },
  setup (props, { emit }) {
    const loadingItem = ref(false)
    const dialog = ref(true)
    const confirmDeleteModalOpen = ref(false)
    const createEditDialogOpen = ref(false)
    const pollQuestionId = ref(null)
    const poll = ref(null)
    const pollQuestions = ref([])
    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())

    const getPoll = async () => {
      api.setEndpoint(`polls/${props.itemId}`)
      loadingItem.value = true
      await api.getItem()
      loadingItem.value = false
      poll.value = api.item.value
    }

    const getItems = async () => {
      api.setEndpoint(`poll_questions/poll/${props.itemId}`)
      loadingItem.value = true
      await api.retrieveCollection({ page: 1, per_page: 1000, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: null, concat: false, filters: null })
      loadingItem.value = false
      pollQuestions.value = api.items.value
    }

    const move = async (entry, nextEntry) => {
      const result = await useTableMove().move(entry, nextEntry, 'poll_questions')
      if (result) {
        getItems()
      }
    }

    const emitClose = () => {
      emit('close')
    }

    onMounted(() => {
      getPoll()
      getItems()
    })
    
    return {
      dialog,
      poll,
      emitClose,
      pollQuestionId,
      confirmDeleteModalOpen,
      createEditDialogOpen,
      pollQuestions,
      getItems,
      move
    }
  }
})
</script>

<style>

</style>