<template>
  <v-dialog
    v-model="dialog"
    width="500"
    transition="dialog-bottom-transition"
    @click:outside="emitClose()"
  >
    <v-card class="dialog-500" v-if="poll">
      <v-card-title class="text-h5">
        Ergebnisse {{ poll.name }}
      </v-card-title>
      <v-card-text>
        <AdminPollsPollResults
          :item-id="itemId"
        />
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn
          text
          @click="emitClose()"
        >
          Schließen
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
export default defineComponent({
  emits: ["close"],
  props: {
    itemId: {
      type: String,
      required: true
    }
  },
  setup(props, { emit }) {
    const dialog = ref(true);
    const poll = ref(null);
    const getPollApi = useCollectionApi();
    getPollApi.setBaseApi(usePrivateApi());

    const getPoll = async () => {
      getPollApi.setEndpoint(`polls/${props.itemId}`);
      await getPollApi.getItem();
      poll.value = getPollApi.item.value;
    };
    
    const emitClose = () => {
      emit("close");
    };

    onMounted(() => {
      getPoll()
    })

    return {
      poll,
      dialog,
      emitClose
    };
  }
})
</script>

<style lang="sass" scoped>
</style>