<template>
  <v-dialog
    v-model="dialog"
    width="500"
    transition="dialog-bottom-transition"
    @click:outside="emitClose()"
  >
    <v-card class="dialog-500">
      <v-card-title class="text-h5">
        Umfrage
      </v-card-title>
      <v-card-text>
        <div class="field">
          <v-text-field
            v-model="item.name"
            hide-details="auto"
            label="Name"
            :error-messages="useErrors().checkAndMapErrors('name', errors)"
          />
        </div>
        <div class="field">
          <label>Umfrage endet am</label>
          <Datepicker
            inline
            autoApply
            :enableTimePicker="false"
            locale="de"
            v-model="item.ends_at"
          />
        </div>
        <div class="field">
          <v-autocomplete
            clearable
            hide-details="auto"
            v-model="item.project_id"
            :items="projects"
            item-title="name"
            item-value="id"
            label="Projekt wählen"
            single-line
          />
        </div>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn
          text
          @click="emitClose()"
        >
          Schließen
        </v-btn>
        <v-btn
          color="blue darken-1"
          variant="outlined"
          dark
          text
          @click="handleCta()"
          :loading="loadingItem"
        >
          Speichern
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { ResultStatus } from '@/types/serverCallResult'
// https://vue3datepicker.com/
import Datepicker from '@vuepic/vue-datepicker'
import '@vuepic/vue-datepicker/dist/main.css'
export default defineComponent({
  components: { Datepicker },
  emits: ['close', 'refreshCollection'],
  props: {
    itemId: String
  },
  setup (props, { emit }) {
    const loadingItem = ref(false)
    const dialog = ref(true)
    const errors = ref([])
    const item = ref({
      name: '',
      ends_at: new Date (),
      project_id: null
    })

    const showApi = useCollectionApi()
    showApi.setBaseApi(usePrivateApi())

    const projectsApi = useCollectionApi()
    projectsApi.setBaseApi(usePrivateApi())
    projectsApi.setEndpoint(`projects`)
    const projects = ref([])

    const createUpdateApi = useCollectionApi()
    createUpdateApi.setBaseApi(usePrivateApi())

    const getItem = async () => {
      showApi.setEndpoint(`polls/${props.itemId}`)

      loadingItem.value = true
      await showApi.getItem()
      loadingItem.value = false
      item.value = showApi.item.value
    }

    const handleCta = () => {
      if (props.itemId) {
        save()
      } else {
        create()
      }
    }

    const getProjects = async () => {
      await projectsApi.retrieveCollection({ page: 1, per_page: 1000, sort_by: 'name', sort_order: 'ASC', searchQuery: null, concat: false, filters: null })
      projects.value = projectsApi.items.value
    }

    const create = async () => {
      createUpdateApi.setEndpoint(`polls`)
      loadingItem.value = true
      const result = await createUpdateApi.createItem(item.value, 'Umfrage erfolgreich erstellt')
      loadingItem.value = false
      if (result.status === ResultStatus.SUCCESSFUL) {
        emit('refreshCollection')
        emit('close')
      } else {
        errors.value = result.data
      }
    }

    const save = async () => {
      createUpdateApi.setEndpoint(`polls/${props.itemId}`)
      loadingItem.value = true
      
      const result = await createUpdateApi.updateItem(item.value, 'Umfrage erfolgreich aktualisiert')
      loadingItem.value = false
      if (result.status === ResultStatus.SUCCESSFUL) {
        emit('refreshCollection')
        emit('close')
      } else {
        errors.value = result.data
      }
    }

    onMounted(() => {
      getProjects()
      if (props.itemId) {
        getItem()
      }
    })
    
    const emitClose = () => {
      emit('close')
    }

    return {
      loadingItem,
      dialog,
      item,
      handleCta,
      emitClose,
      projects,
      errors
    }
  }
})
</script>

<style>

</style>