<template>
  <v-row>
    <v-col v-for="question in pollQuestions" :key="question.id" class="mb-3" :md="[ hasGridLayout ? '3' : '12' ]">
      <div v-if="question.kind === 'rating' && pollAnswers[question.id]">
        <div class="mb-2">{{ question.name }}</div>
        <div class="linear">
          <div :class="`fill fill_X`" :style="`width: ${(parseFloat(pollAnswers[question.id]['average_rating'])/parseFloat(question.max_score_count)) * 100}%`" />
          <div class="percentage">{{ pollAnswers[question.id]['average_rating'] }} Sterne</div>
          <div class="value">Durchschnitt</div>
        </div>
      </div>
      <div v-else-if="question.kind === 'text' && pollAnswers[question.id]">
        <div class="mb-2">{{ question.name }} | Gegebene Antworten: {{ pollAnswers[question.id]['values'].length }}</div>
        <div class="answers_container">
          <v-table>
            <thead>
              <tr>
                <th>#</th>
                <th>Antwort</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(answer, index) in pollAnswers[question.id]['values']" :key="index">
                <td>{{ index + 1 }}</td>
                <td>
                  {{ answer }}
                </td>
              </tr>
            </tbody>
          </v-table>
        </div>
      </div>
      <div v-else-if="(question.kind === 'single_choice' || question.kind === 'multiple_choice') && pollAnswers[question.id]">
        <div class="mb-2">{{ question.name }}</div>
        <div class="linear" v-for="(choice, index) in question.choices" :key="choice.id">
          <div :class="`fill fill_${index}`" :style="`width: ${((parseFloat(countAnswersForChoice(question.kind, pollAnswers[question.id]['values'], choice.id))/parseFloat(pollAnswers[question.id]['values'].length)) * 100)}%`" />
          <div class="percentage">{{ Math.round(parseFloat(countAnswersForChoice(question.kind, pollAnswers[question.id]['values'], choice.id))/parseFloat(pollAnswers[question.id]['values'].length) * 100) }}%</div>
          <div class="value">{{ choice.possible_answer }}</div>
        </div>
      </div>
    </v-col>
  </v-row>
</template>

<script lang="ts">
export default defineComponent({
  emits: ["close"],
  props: {
    itemId: {
      type: String,
      required: true
    },
    hasGridLayout: {
      type: Boolean,
      default: false
    }
  },
  setup(props, { emit }) {
    const loadingItem = ref(false);
    
    const pollQuestions = ref([]);
    const pollAnswers = ref({});
    
    const getPollQuestionsApi = useCollectionApi();
    const getPollAnswersApi = useCollectionApi();
    
    getPollQuestionsApi.setBaseApi(usePrivateApi());
    getPollAnswersApi.setBaseApi(usePrivateApi());

    const getPollQuestions = async () => {
      getPollQuestionsApi.setEndpoint(`poll_questions/poll/${props.itemId}`);
      loadingItem.value = true;
      await getPollQuestionsApi.retrieveCollection({ page: 1, per_page: 1000, sort_by: "menu_order", sort_order: "ASC", searchQuery: null, concat: false, filters: null });
      loadingItem.value = false;
      pollQuestions.value = getPollQuestionsApi.items.value;
    };
    const getPollAnswers = async () => {
      getPollAnswersApi.setEndpoint(`polls/${props.itemId}/answers`);
      loadingItem.value = true;
      await getPollAnswersApi.getPlain();
      loadingItem.value = false;
      pollAnswers.value = getPollAnswersApi.item.value;
    };
    const countAnswersForChoice = (kind:string, answers:any, choiceId:string) => {
      if (kind === "single_choice") {
          return answers.filter((answer:any) => answer === choiceId).length;
      }
      else if (kind === "multiple_choice") {
          return answers[0].filter((answer:any) => answer === choiceId).length;
      }
      return 0;
    };

    onMounted(() => {
      getPollQuestions();
      getPollAnswers();
    });

    return {
      pollQuestions,
      pollAnswers,
      countAnswersForChoice
    }
  }
})
</script>

<style lang="sass" scoped>
.is-grid
  display: grid
  grid-template-columns: 33% 33% 33%
.answers_container
  height: 200px
  overflow-y: scroll
.linear
  background: #F5F5F5
  border-radius: 5px
  margin-bottom: 5px
  position: relative
  color: black
  height: 30px
  font-size: 14px
  .percentage, .value
    position: absolute
    top: 5px
  .percentage
    left: 10px
    font-weight: 700
  .value
    left: 70px
  .fill
    position: absolute
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    top: 0
    height: 100%
    &.fill_X
      background: #FFCF87
    &.fill_0
      background: #D1EEFF
    &.fill_1
      background: #F8C8C5
    &.fill_2
      background: #FFFCD7
    &.fill_3
      background: #CBE8DD
    &.fill_4
      background: #D1EEFF
    &.fill_5
      background: #F8C8C5
    &.fill_6
      background: #FFFCD7
    &.fill_7
      background: #CBE8DD
</style>