<template>
  <div v-if="project">
    <v-row>
      <v-col cols="12" xs="12" md="12" lg="12" xl="8" offset-xl="2">
        <div v-if="project">
          <PublicProjectsContactForm
            v-if="projectContactFormModalOpen"
            :project-id="project.id"
            @close="projectContactFormModalOpen = false"
          />
          <v-btn @click="handleResetLink()" class="back-button text-primary">
            <v-icon>mdi-chevron-left</v-icon>
            Zurück zur Projektübersicht
          </v-btn>
          <h1>{{ project.name }}</h1>
          <header class="header">
            <swiper
              :slides-per-view="1"
              :space-between="0"
              :modules="modules"
              :navigation="true"
              :pagination="{ el: '.pagination' }"
            >
              <swiper-slide>
                <div
                  class="slide-img"
                  :style="`background: url(${project.image_url}); background-repeat: no-repeat; background-position: center; background-size: cover;`"
                ></div>
              </swiper-slide>
              <swiper-slide v-for="(image, index) in project.sanitized_images" :key="index">
                <div
                  class="slide-img"
                  :style="`background: url(${image.url}); background-repeat: no-repeat; background-position: center; background-size: cover;`"
                ></div>
              </swiper-slide>
              <div class="pagination" />
            </swiper>
          </header>
          <v-row>
            <v-col cols="12" md="6">
              <div class="box">
                <div class="main">
                  <div class="project-data">
                    <div class="headline mb-3">Projektbeschreibung</div>
                    <PublicTextTooltipWrap :text="project.description" />
                  </div>
                  <div class="project-data">
                    <v-row>
                      <v-col>
                        <div class="py-2">
                          <div class="mb-1" v-if="project.zip">
                            <v-icon size="small">mdi-map-marker</v-icon>
                            <span>{{ project.zip }} | </span><span>{{ projectAdress }}</span>
                          </div>
                          <div class="mb-1" v-if="useDatetime().getProjectTimeRangeString(project)">
                            <v-icon size="small">mdi-calendar-month-outline</v-icon>
                            <span>{{ useDatetime().getProjectTimeRangeString(project) }}</span>
                          </div>
                          <div class="mb-1" v-if="useCurrency().getCurrencyFromNumber(project.costs)">
                            <v-icon size="small">mdi-currency-eur</v-icon>
                            <span v-if="useCurrency().getCurrencyFromNumber(project.costs).length >= 1"
                              >Kosten: {{ useCurrency().getCurrencyFromNumber(project.costs) }}</span
                            >
                            <span v-if="useCurrency().getCurrencyFromNumber(project.costs).length === 0"
                              >Kosten: -</span
                            >
                          </div>
                          <div class="mb-1" v-if="project.categories">
                            <v-icon size="small">mdi-shape</v-icon>
                            <span>Kategorien: </span>
                            <v-chip
                              size="x-small"
                              class="mr-1 mb-1 mt-1"
                              v-for="category in project.categories"
                              :key="category.id"
                            >
                              <span>{{ category.name }}</span>
                            </v-chip>
                          </div>
                        </div>
                      </v-col>
                    </v-row>
                  </div>

                  <div class="headline project-data">Projekt mit Freunden teilen</div>
                  <v-row :class="[$device.isMobile ? '' : 'pl-3']">
                    <v-col cols="12" md="12" class="d-flex">
                      <div>
                        <v-btn :href="facebookShare" target="_blank" icon class="mr-1">
                          <v-icon>mdi-facebook</v-icon>
                        </v-btn>
                        <v-btn :href="linkedinShare" target="_blank" icon class="mx-1">
                          <v-icon>mdi-linkedin</v-icon>
                        </v-btn>
                        <v-btn :href="emailShare" target="_blank" icon class="mx-1">
                          <v-icon>mdi-email</v-icon>
                        </v-btn>
                        <v-btn :href="whatsappShare" target="_blank" icon class="mx-1">
                          <v-icon>mdi-whatsapp</v-icon>
                        </v-btn>
                        <v-btn @click="copyLink" icon class="mx-1">
                          <v-icon>mdi-link-variant</v-icon>
                        </v-btn>
                      </div>
                    </v-col>
                  </v-row>
                  <div class="project-data">
                    <PublicProjectsMilestones :project-id="project.id" />
                    <div v-if="project.locations.length > 0">
                      <ClientOnly>
                        <lazy-MapWidget
                          ref="map"
                          class="project-data"
                          :locations="locations"
                          :auto-fit="true"
                          :center-point="{
                            lng: 7.131735,
                            lat: 49.523656,
                          }"
                          :min-zoom="11"
                          :isProjectPage="isProjectPage"
                        />
                      </ClientOnly>
                    </div>

                    <v-row>
                      <v-col cols="12" md="6">
                        <div
                          class="button is-primary-gradient is-rounded mb-3 mt-8"
                          @click="projectContactFormModalOpen = true"
                        >
                          Kontaktformular
                        </div>
                      </v-col>
                    </v-row>
                  </div>
                </div>
              </div>
            </v-col>
            <v-col cols="12" md="6">
              <div
                class="box mb-6"
                v-if="
                  useUser().loggedIn() &&
                  !useDatetime().isInPast(project.rating_end) &&
                  project.rating_start &&
                  project.rating_end &&
                  project.rating_results_public
                "
              >
                <div class="project-data">
                  <h2 class="headline">Meine Stimme zum Projekt</h2>
                  <div v-if="useUser().loggedIn()">
                    <PublicProjectsVotePanel @updateProject="getPublicProject" :project="project" />
                  </div>
                </div>
              </div>

              <div class="box mb-6 project-data main">
                <v-row no-gutters justify="space-between">
                  <v-col cols="12" md="4" class="d-flex justify-start">
                    <h3 class="headline" :class="[$device.isMobile ? 'mb-6' : 'mb-1']">Abstimmung</h3>
                  </v-col>
                  <v-col cols="12" md="8" sm="12" class="d-flex justify-md-end mb-5">
                    <div
                      v-if="project.rating_start && project.rating_end && project.rating_results_public"
                      class="project-end has-text-primary"
                    >
                      <div v-if="useDatetime().timeTillEnd(project.rating_end) > '10'" class="has-text-green">
                        Abstimmung endet am {{ useDatetime().getProjectTimeEndRatingString(project) }}
                      </div>
                      <div
                        v-if="
                          useDatetime().timeTillEnd(project.rating_end) < '10' &&
                          useDatetime().timeTillEnd(project.rating_end) != '00' &&
                          !useDatetime().isInPast(project.rating_end)
                        "
                        class="has-text-warning"
                      >
                        Abstimmung endet in {{ useDatetime().timeTillEnd(project.rating_end) }} Tage
                      </div>
                      <div
                        v-if="
                          useDatetime().timeTillEnd(project.rating_end) === '00' &&
                          !useDatetime().isInPast(project.rating_end)
                        "
                        class="has-text-danger"
                      >
                        Abstimmung endet Heute
                      </div>
                      <div v-if="useDatetime().isInPast(project.rating_end)" class="has-text-danger">
                        Abstimmung wurde am {{ useDatetime().getProjectTimeEndRatingString(project) }} beendet
                      </div>
                    </div>
                    <div v-else class="text--disabled project-end">
                      <span class="has-text-danger" v-if="useDatetime().isInPast(project.rating_end)"
                        >Abstimmung beendet am {{ useDatetime().getProjectTimeEndRatingString(project) }}</span
                      >
                      <span class="has-text-green" v-else>Abstimmung noch nicht gestartet</span>
                    </div>
                  </v-col>
                </v-row>
                <PublicVotes :project="project" />
              </div>
              <div class="box project-data">
                <div class="main">
                  <v-row no-gutters>
                    <v-col class="d-flex justify-start">
                      <h3 class="headline">Kommentare zum Projekt</h3>
                    </v-col>
                  </v-row>
                  <div v-if="useUser().loggedIn()">
                    <PublicComments :project-id="project.id" />
                  </div>
                  <div v-else>
                    Um Kommentare zu sehen <router-link to="/login"><u>melden Sie sich bitte an</u></router-link
                    >.
                  </div>
                </div>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-row>
    <PublicPolls v-if="useUser().loggedIn()" :project-id="project.id" />
    <!-- <div class="divider"></div> -->

    <PublicFooter />
  </div>
</template>

<script lang="ts">
import { useUserStore } from "@/store/user";
import { Swiper, SwiperSlide } from "swiper/vue";
import { Navigation, Pagination } from "swiper";
import "swiper/css";
import "swiper/css/pagination";
import "swiper/css/navigation";

export default defineComponent({
  components: {
    Swiper,
    SwiperSlide,
  },
  name: "PublicProjectsId",

  setup() {
    definePageMeta({
      layout: "public",
    });
    const project = ref(null);
    const locations = ref([]);
    const imageUrl = ref("");
    const projectContactFormModalOpen = ref(false);
    const router = useRouter();
    const snackbar = useSnackbar();
    const route = useRoute();
    const userStore = useUserStore();
    let api = usePublicApi();
    const myTitle = ref("");
    const isProjectPage = ref(true);

    const handleResetLink = () => {
      if (router.currentRoute.value.path === "/") {
        location.reload();
      } else {
        router.push({ path: "/" });
      }
    };
    if (useUser().loggedIn()) {
      api = usePrivateApi();
    }

    const copyLink = async () => {
      if (process.client) {
        try {
          navigator.clipboard.writeText('https://' + window.location.host + `/public/projects/${projectId.value}`);
          snackbar.showSuccess("Link wurde erfolgreich kopiert");
        } catch (e) {
          console.error(e);
        }
      }
    };

    const projectId = computed(() => {
      return route.params.id;
    });

    const facebookShare = computed(() => {
      if (process.client) {
        return (
          "https://www.facebook.com/sharer/sharer.php?u=" + window.location.host + `/public/projects/${projectId.value}`
        );
      }
    });

    const linkedinShare = computed(() => {
      if (process.client) {
        return (
          "https://www.linkedin.com/shareArticle?mini=true&url=" +
          window.location.host +
          `/public/projects/${projectId.value}`
        );
      }
    });

    const emailShare = computed(() => {
      if (process.client) {
        return (
          "mailto:?Projektplattform Sankt Wendel – Projektvorstellung&body=Hallo, ich empfehle Dir dieses interessante Projekt: " +
          window.location.host +
          `/public/projects/${projectId.value}`
        );
      }
    });

    const whatsappShare = computed(() => {
      if (process.client) {
        return (
          "whatsapp://send?abid=256&text=Hallo, ich empfehle Dir dieses interessante Projekt: " +
          "https://" + window.location.host +
          `/public/projects/${projectId.value}`
        );
      }
    });

    onMounted(() => {
      getPublicProject();
    });

    const projectAdress = computed(() => {
      let communityNames = "";
      if (project.value.communities.length > 0) {
        project.value.communities.forEach((community: any) => {
          communityNames += `${community.name} | `;
        });
      }
      return communityNames + project.value.town;
    });

    const getPublicProject = async () => {
      try {
        const res = await api.call("get", `projects/${projectId.value}`, null);
        if (res) {
          project.value = res.data.resource;
          locations.value = [];
          project.value.locations.forEach((location: any) => {
            locations.value.push({
              id: project.value.id,
              longitude: parseFloat(location.longitude),
              latitude: parseFloat(location.latitude),
              draggable: false,
            });
          });
          myTitle.value = project.value.name;
          setImage(project.value.image_url);
        }
      } catch (error) {
        console.log(error);
      }
    };

    const projectName = computed(() => {
      return project;
    });

    const setImage = (url: string) => {
      imageUrl.value = url;
    };

    const getProjectExcerpt = async () => {
      await getPublicProject();
      return project.value?.excerpt;
    };

    const getProjectTitle = async () => {
      await getPublicProject();
      return myTitle.value;
    };

    const getProjectImage = async () => {
      await getPublicProject();
      return imageUrl.value;
    };

    useHead({
      title: myTitle,
      meta: [
        { property: "og:type", content: "Webseite" },
        { property: "og:title", content: getProjectTitle() },
        { property: "og:image", content: getProjectImage() },
        { property: "og:description", content: getProjectExcerpt()},
      ],
    });

    return {
      project,
      locations,
      userStore,
      setImage,
      projectName,
      myTitle,
      imageUrl,
      facebookShare,
      getPublicProject,
      linkedinShare,
      emailShare,
      whatsappShare,
      copyLink,
      projectContactFormModalOpen,
      handleResetLink,
      modules: [Navigation, Pagination],
      projectAdress,
      isProjectPage,
    };
  },
});
</script>

<style lang="sass" scoped>
@import "@/assets/sass/main.sass"
.swiper-slide
  border-radius: 20px
  .slide-img
    height: 50vh
    border-radius: 20px
.pagination
  text-align: center
  z-index: 1
  position: absolute

.headline
  margin-bottom: 30px

.back-button
  font-size: 14px
  margin-bottom: 10px

.divider
  border: 2px white solid
  margin: 50px 0 20px

.header
  margin: 30px 0

.project-data
  padding: 20px
</style>
