<template>
  <div>
    <div class="comment-box mb-1 mt-4">
      <div class="menu-dots">
        <v-icon @click="menuOpen = !menuOpen">mdi-dots-vertical</v-icon>
      </div>
      <v-row align="center">
        <v-col
          cols="12"
          md="1"
          class="justify-start"
          >
          <UserProfile
            :user="comment.user"
          />
        </v-col>
        <v-col
        cols="12"
        md="11"
        >
          <div class="ml-2">
            <div class="font-weight-bold">{{ comment.user.name }}</div>
            <div class="is-size-small">schrieb am {{ useDatetime().parseDatetime(comment.created_at) }}</div>
          </div>
        </v-col>
      </v-row>
      <div class="pa-5">{{ comment.comment }}</div>
      <div class="pl-5 has-text-danger" v-if="comment.has_already_reported_comment">Du hast diesen Kommentar gemeldet!</div>

      <div class="menu" v-if="menuOpen" v-click-outside="closeMenu">
        <v-card>
          <div class="menu-content">
            <div @click="reportComment(comment.id)" v-if="(comment.user.id !== currentUser.id && !comment.has_already_reported_comment)">Melden</div>
            <div @click="deleteComment(comment.id)" v-if="canDeleteComment(comment)">Löschen</div>
          </div>
        </v-card>
      </div>
    </div>

    <PublicCommentsLikePanel
      :comment="comment"
    />
    <PublicCommentsReply
      v-if="useUser().loggedIn() && showReply"
      :comment="comment"
    />
  </div>
</template>

<script lang="ts">
import { useUserStore } from '@/store/user'
export default defineComponent({
  emits: ['removeComment', 'setCommentReported'],
  props: {
    comment: {
      type: Object
    },
    showReply: {
      type: Boolean,
      default: true
    }
  },
  setup(props, { emit }) {

    const menuOpen = ref(false)
    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    const loading = ref(false)
    const currentUser = ref(useUserStore().currentUser)

    const canDeleteComment = (comment:any):Boolean => {
      if (currentUser.value) {
         return useUser().isAdmin() || comment.user.id === currentUser.value.id
      }
      return false
    }

    const deleteComment = async (commentId:String) => {
      api.setEndpoint(`comments/${commentId}`)
      loading.value = true
      await api.deleteItem('Kommentar erfolgreich gelöscht')
      loading.value = false
      menuOpen.value = false
      emit('removeComment', commentId)
    }

    const reportComment = async (commentId:String) => {
      api.setEndpoint(`comment_reports/comments/${commentId}`)
      loading.value = true
      await api.createItem({}, 'Kommentar erfolgreich gemeldet')
      loading.value = false
      menuOpen.value = false
      emit('setCommentReported', commentId)
    }

    const closeMenu = () => {
      menuOpen.value = false
    }

    // watch store changes
    useUserStore().$subscribe((mutation, state) => {
      currentUser.value = state.currentUser
    })

    return {
      canDeleteComment,
      menuOpen,
      deleteComment,
      closeMenu,
      reportComment,
      currentUser
    }
  },
})
</script>
<style lang="sass" scoped>
.comment-box
  background: #F5F5F5
  padding: 5px
  border-left: 7px solid #3CB5E7
  position: relative
  .menu-dots
    position: absolute
    right: 5px
    top: 5px
    cursor: pointer
  .menu
    font-size: 13px
    position: absolute
    right: 15px
    top: 30px
    .menu-content
      div
        cursor: pointer
        padding: 5px 12px
        &:hover
          background: grey
          color: white
</style>