<template>
  <div class="d-inline-flex mb-3">
    <span class="comment-score">{{ commentScore }}</span>
    <span v-if="commentUpvoted" class="is-clickable has-text-default px-1" @click="handleComment('upvote')">
      <v-icon class="icon-heart">mdi-heart</v-icon>
    </span>
    <span v-else class="is-clickable px-1" @click="handleComment('upvote')">
      <v-icon class="icon-heart">mdi-heart-outline</v-icon>
    </span>
    <span class="is-clickable mr-4 comment-score has-text-default px-1" @click="handleComment('upvote')">gefällt mir</span>
  </div>
</template>

<script lang="ts">
export default defineComponent({
  name: 'LikePanel',
  props: {
    comment: Object
  },
  setup (props, { emit }) {
    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    const loading = ref(false)

    const commentUpvoted = ref(false)
    const commentDownvoted = ref(false)
    const upvoteCount = ref(0)
    const downvoteCount = ref(0)
    const commentScore = ref(0)

     onMounted(() => {
      if (props.comment.has_upvoted_comment) {
        commentUpvoted.value = true
      } else if (props.comment.has_downvoted_comment) {
        commentDownvoted.value = true
      }

      upvoteCount.value = props.comment.upvote_count
      downvoteCount.value = props.comment.downvote_count
      commentScore.value = props.comment.score
     })

    const handleComment = async (kind:any) => {
      loading.value = true
      if (kind === 'upvote' && commentUpvoted.value || kind === 'downvote' && commentDownvoted.value) {
        api.setEndpoint(`comments/${props.comment.id}/remove_vote`)
        await api.deleteItem(null)
        commentUpvoted.value = false
        commentDownvoted.value = false
        if (kind === 'upvote') {
          upvoteCount.value -= 1
          commentScore.value -= 1
        } else if (kind === 'downvote') {
          downvoteCount.value -= 1
          commentScore.value += 1
        }
      } else {
        api.setEndpoint(`comments/${props.comment.id}/${kind}`)
        await api.updateItem({}, null)

        if (kind === 'upvote' && !commentUpvoted.value) {
          if (commentDownvoted.value) {
            downvoteCount.value -= 1
            commentScore.value += 1
          }
          commentScore.value += 1
          commentDownvoted.value = false
          commentUpvoted.value = true
          upvoteCount.value += 1
        } else if (kind === 'downvote' && !commentDownvoted.value) {
          if (commentUpvoted.value) {
            upvoteCount.value -= 1
            commentScore.value -= 1
          }
          commentScore.value -= 1
          commentUpvoted.value = false
          commentDownvoted.value = true
          downvoteCount.value += 1
        }
      }

      loading.value = false
    }

    return {
      loading,
      handleComment,
      commentUpvoted,
      commentDownvoted,
      upvoteCount,
      downvoteCount,
      commentScore
    }
  }
})
</script>
<style lang="sass" scoped>

.comment-score
  transition: all .5s

</style>