<template>
  <div class="">
    <v-text-field
      append-icon="mdi-send"
      :label="placeholder"
      v-model="comment"
      auto-grow
      class="comment-field"
      variant="plain"
      hide-details="auto"
      density="compact"
      clear-icon="mdi-close-circle"
      clearable
      type="text"
      @click:append="createComment()"
      :error-messages="useErrors().checkAndMapErrors('comment', errors)"
    ></v-text-field>
  </div>
</template>

<script lang="ts">
import { ResultStatus } from '@/types/serverCallResult'
export default defineComponent({
  name: 'NewComment',
  emits: ['refreshCollection', 'increaseRepliesCount'],
  props: {
    projectId: String,
    parentId: String,
    placeholder: String
  },
  setup (props, { emit }) {
    const api = useCollectionApi()
    const errors = ref([])
    api.setBaseApi(usePrivateApi())
    api.setEndpoint(`comments/project/${props.projectId}`)

    const loading = ref(false)
    const comment = ref("")

    const createComment = async () => {
      loading.value = true

      const data = {
        parent_id: props.parentId,
        comment: comment.value
      }

      const result = await api.createItem(data)
      loading.value = false

      if (result.status === ResultStatus.SUCCESSFUL) {
        comment.value = ""
        if (props.parentId) {
          emit('increaseRepliesCount')
        }
        emit('refreshCollection')
      } else {
        errors.value = result.data
      }
    }

    return {
      loading,
      comment,
      createComment,
      errors
    }
  }
})
</script>

<style lang="sass" scoped>

.comment-field
  background-color: #F5F5F5
  padding: 20px

</style>