<template>
  <span v-if="comment">
    <div class="is-clickable d-inline-flex" @click="replyBoxOpen = !replyBoxOpen" v-if="showReplyHandle">{{ repliesCount }}<span class="px-1"><v-icon>mdi-comment-outline</v-icon></span><span class="has-text-default px-1">Antworten </span></div>
    <Transition>
    <div class="replies" v-if="replyBoxOpen">
      <PublicCommentsComment
        v-for="comment in comments" :key="comment.id"
        :comment="comment"
        :show-reply="false"
        @removeComment="removeComment"
        @setCommentReported="setCommentReported"
      />

      <PublicCommentsNew
        v-if="useUser().loggedIn()"
        placeholder="Auf Kommentar antworten"
        :project-id="comment.project_id"
        :parent-id="comment.id"
        @increaseRepliesCount="repliesCount += 1"
        @refreshCollection="getItems(false)"
      />
    </div>
  </Transition>
  </span>
  
</template>
<script>
export default defineComponent({
  name: 'Reply',
  props: {
    comment: {
      type: Object,
      required: true
    },
  },
  setup (props) {
    const replyBoxOpen = ref(false)
    const comment = ref(props.comment)
    const repliesCount = ref(comment.value.replies_count)
    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint(`comments/${comment.value.id}/replies`)

    const comments = api.items
    const loading = ref(false)
    const currentPage = ref(1)
    const totalPages = ref(1)

    const showReplyHandle = computed(() => {
      if (useUser().loggedIn()) {
        return true
      } else {
        if (comment.value.replies_count > 0) {
          return true
        }
      }
      return false
    })

    watch(replyBoxOpen, () => {
      if (comment.value && replyBoxOpen) {
        currentPage.value = 1
        getItems(false)
      }
    })

    const getItems = async (concat = true) => {
      loading.value = true
      const sortField = 'created_at'
      await api.retrieveCollection({ page: currentPage.value, per_page: 1000, sort_by: sortField, sort_order: 'ASC', searchQuery: null, concat: concat, filters: null })
      loading.value = false
      totalPages.value = api.totalPages.value
    }

    const removeComment = (commentId) => {
      const foundItem = comments.value.find(comment => comment.id === commentId)
      const index = comments.value.indexOf(foundItem)
      comments.value.splice(index, 1)
      repliesCount.value -= 1
    }

    const setCommentReported = (commentId) => {
      const foundItem = comments.value.find(comment => comment.id === commentId)
      foundItem.has_already_reported_comment = true
    }

    return {
      replyBoxOpen,
      comment,
      removeComment,
      comments,
      getItems,
      showReplyHandle,
      repliesCount,
      setCommentReported
    }
  }
})
</script>
<style lang="sass" scoped>
.replies
  margin-left: 30px

.new-comment
  right: 0
  position: absolute
  margin-right: 30px

</style>
