<template>
  <div>
    <h2 class="mb-4">Dashboard</h2>
    <v-row>
      <v-col md="3" xl="2">
        <nuxt-link to="/admin/users">
          <AdminDashboardsDefaultBox
            label="Benutzer"
            :count="statistics['users_count']"
          />
        </nuxt-link>
      </v-col>
      <v-col md="3" xl="2">
        <nuxt-link to="/admin/projects">
          <AdminDashboardsDefaultBox
            label="Aktive Projekte"
            :count="statistics['active_projects_count']"
          />
        </nuxt-link>
      </v-col>
      <v-col md="3" xl="2">
        <AdminDashboardsDefaultBox
          label="Kommentare"
          :count="statistics['comments_count']"
        />
      </v-col>
      <v-col md="3" xl="2">
        <nuxt-link to="/admin/comment_reports">
          <AdminDashboardsDefaultBox
            label="Kommentar Meldungen"
            :count="statistics['comment_reports_count']"
          />
        </nuxt-link>
      </v-col>
      <v-col md="3" xl="2">
        <nuxt-link to="/admin/messages">
          <AdminDashboardsDefaultBox
            label="Nachrichten"
            :count="statistics['messages_count']"
          />
        </nuxt-link>
      </v-col>
      <v-col md="3" xl="2">
        <nuxt-link to="/admin/polls">
          <AdminDashboardsDefaultBox
            label="Umfrage Antworten"
            :count="statistics['poll_answers_count']"
          />
        </nuxt-link>
      </v-col>
      <v-col md="3" xl="2">
        <nuxt-link to="/admin/pinboards">
          <AdminDashboardsDefaultBox
            label="Ideen in Prüfung"
            :count="statistics['pinboard_ideas_is_checked_status_count']"
            label_secondary="Ideen Online"
            :count_secondary="statistics['pinboard_ideas_confirmed_status_count']"
          />
        </nuxt-link>
      </v-col>
    </v-row>

    <v-row>
      <v-col md="4">
        <AdminDashboardsCommentsBox
          label="Neuste Kommentare"
          endpoint="comments"
          scope="comment"
        />
      </v-col>
      <v-col md="4">
        <AdminDashboardsCommentsBox
          label="Gemeldete Kommentare"
          endpoint="comment_reports"
          scope="comment_report"
        />
      </v-col>
      <v-col md="4">
        <AdminDashboardsMatomoBox
        />
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <AdminDashboardsActivePollResults
          v-if="activePoll"
          :item-id="activePoll.id"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
export default defineComponent({
  name: 'AdminIndex',
  setup() {
    definePageMeta({
      layout: "default",
    })

    const loading = ref(false)
    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint('statistics')
    const statistics = ref({
      users_count: 0,
      active_projects_count: 0,
      comments_count: 0,
      comment_reports_count: 0,
      messages_count: 0,
      poll_answers_count: 0,
      pinboard_ideas_is_checked_status_count: 0,
      pinboard_ideas_confirmed_status_count: 0
    })

    const getStatistics = async () => {
      loading.value = true
      const options = { page: 1, per_page: 25, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: null, concat: false, filters: [] }
      const res = await api.retrieveCollection(options)
      statistics.value = res.data
      loading.value = false
    }

    const activePoll = ref(null)
    const pollApi = useCollectionApi()
    pollApi.setBaseApi(usePrivateApi())
    pollApi.setEndpoint(`polls?is_active=true&ignore_projects=true`)
    const getActivePoll = async () => {
      const res = await pollApi.retrieveCollection({ page: 1, per_page: 1, sort_by: 'created_at', sort_order: 'DESC', searchQuery: null, concat: false, filters: null })
      if (res.data) {
        activePoll.value = res.data.resources[0]
      }
    }

    onMounted(() => {
      getStatistics()
      getActivePoll()
    })

    return {
      statistics,
      activePoll
    }
  }
})
</script>