<template>
  <v-dialog
    v-model="dialog"
    width="500"
    transition="dialog-bottom-transition"
    @click:outside="emitClose()"
  > 
    <Loading v-if="loadingItem" />
    <v-card class="dialog-500">
      <v-card-title class="text-h5">
        Orte bearbeiten
      </v-card-title>      
      <v-card-text>
        <v-btn
          class="mt-n4 mb-1 ml-n2"
          size="x-small" elevation="0" variant="outlined"
          @click="openLocationDialog(null)">
          Ort hinzufügen
        </v-btn>
        <v-table v-if="project && project.locations.length > 0">
          <thead>
            <tr>
              <th>Lat / Long </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(location) in project.locations" :key="location.id">
              <td>{{ location.latitude }} / {{ location.longitude }}</td>
              <td>
                <v-icon class="is-clickable" @click="openLocationDialog({
                  id: location.id,
                  longitude: parseFloat(location.longitude),
                  latitude: parseFloat(location.latitude),
                  draggable: true
                })">mdi-pencil</v-icon>
              </td>
              <td><v-icon class="is-clickable" @click="deleteLocation(location.id)">mdi-delete</v-icon></td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
          <v-btn text @click="emitClose()">Schließen</v-btn>
      </v-card-actions>
    </v-card>

    <AdminProjectsCreateEditLocation
      ref="createEditDialog"
      :project-id="project?.id"
      :location="location"
      v-if="createEditLocationOpen"
      @close="closeLocationDialog()"
      @save="saveLocation()"
    />
  </v-dialog>
</template>

<script lang="ts">
import { ResultStatus } from '@/types/serverCallResult'
import { MapLocation } from '@/types/MapLocation'

export default defineComponent({
  emits: ['close'],
  props: {
    itemId: String
  },
  setup (props, { emit }) {
    const loadingItem = ref(false)
    const dialog = ref(true)
    const errors = ref([])

    const project = ref(null)
    const location = ref(null)

    const createEditDialog = ref(null)

    const createEditLocationOpen = ref(false)

    const emitClose = () => {
      emit('close')
    }

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())

    const getProject = async () => {
      api.setEndpoint(`projects/${props.itemId}`)
      loadingItem.value = true
      await api.getItem()
      loadingItem.value = false
      project.value = api.item.value
    }

    const closeLocationDialog = async () => {
      location.value = null
      createEditLocationOpen.value = false
    }

    const saveLocation = async () => {

      const locationId = createEditDialog.value.getLocationCoordinates().id 
      const longitude = createEditDialog.value.getLocationCoordinates().longitude
      const latitude = createEditDialog.value.getLocationCoordinates().latitude

      createEditLocationOpen.value = false
      loadingItem.value = true

      if (location.value) {
        api.setEndpoint(`locations/${locationId}`)
        await api.updateItem({
          longitude: longitude,
          latitude: latitude
        })
      }
      else {
        api.setEndpoint(`locations/project/${props.itemId}`)
        await api.createItem({
          project_id: props.itemId,
          longitude: longitude,
          latitude: latitude
        })
      }

      await getProject()

      loadingItem.value = false      
    }

    const deleteLocation = async (locationId: string) => {
      api.setEndpoint(`locations/${locationId}`)
      loadingItem.value = true
      const result = await api.deleteItem('Ort erfolgreich gelöscht')
      if (result.status === ResultStatus.SUCCESSFUL) {
        loadingItem.value = false
        getProject()
      } else {
        errors.value = result.data
        loadingItem.value = false
      }
    }

    const openLocationDialog = async (editLocation: MapLocation) => {
      if (editLocation) {
        location.value = editLocation
        location.value.draggable = true
      }
      createEditLocationOpen.value = true
    }

    onMounted(() => {
      getProject()
    })

    return {
      emitClose,
      dialog,
      loadingItem,
      errors,
      project,
      location,
      createEditLocationOpen,
      closeLocationDialog,
      saveLocation,
      getProject,
      deleteLocation,
      openLocationDialog,
      createEditDialog
    }
  }
})
</script>

<style lang="sass">

</style>