<template>
  <v-dialog
    v-model="dialog"
    width="700"
    persistent
    transition="dialog-bottom-transition"
  > 
    <Loading v-if="loadingItem" />
    <AdminMilestonesCreateEdit
      :item-id="milestoneId"
      :project-id="itemId"
      v-if="createEditDialogOpen"
      @close="milestoneId = null; createEditDialogOpen = false"
      @refreshCollection="getItems()"
    />
    <DeleteItem
      v-if="confirmDeleteModalOpen"
      @close="milestoneId = null; confirmDeleteModalOpen = false"
      :item-id="milestoneId"
      endpoint="milestones"
      term="diesen Meilenstein"
      @refreshCollection="getItems()"
    />

    <v-card class="dialog-700">
      <v-card-title class="text-h5">
        {{ project?.name }} Meilensteine
      </v-card-title>      
      <v-card-text>
        <v-btn
          size="x-small"
          elevation="0"
          variant="outlined"
          class="mt-n4 mb-1 ml-n2"
          @click="milestoneId = null; createEditDialogOpen = true">
          Neuer Meilenstein
        </v-btn>

        <DataTable
            v-if="milestones.length > 0"
            :fields="fields"
            :items="milestones"
            endpoint="milestones"
            @getItems="getItems"
            @openCreateEditDialog="openCreateEditDialog"
            @openDeleteDialog="openDeleteDialog"
          />

      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn text @click="emitClose()">Schließen</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
// https://vue3datepicker.com/
import Datepicker from '@vuepic/vue-datepicker'
import '@vuepic/vue-datepicker/dist/main.css'
import { ResultStatus } from '@/types/serverCallResult'
export default defineComponent({
  components: { Datepicker },
  emits: ['close'],
  props: {
    itemId: String
  },
  setup (props, { emit }) {
    const loadingItem = ref(false)
    const dialog = ref(true)
    const milestoneId = ref(null)
    const confirmDeleteModalOpen = ref(false)
    const createEditDialogOpen = ref(false)

    const project = ref(null)
    const milestones = ref([])

    const emitClose = () => {
      emit('close')
    }

    const fields = ref([
      { text: '', type: 'move_down' },
      { text: '', type: 'move_up' },
      { text: 'Titel', value: 'name', type: 'string', width: "200px" },
      { text: 'Zeit', value: 'timestamp', type: 'datetime', width: "200px" },
    ])

    const openCreateEditDialog = (id:any) => {
      milestoneId.value = id
      createEditDialogOpen.value = true
    }

    const openDeleteDialog = (id:any) => {
      milestoneId.value = id
      confirmDeleteModalOpen.value = true
    }

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())

    const getProject = async () => {
      api.setEndpoint(`projects/${props.itemId}`)
      loadingItem.value = true
      await api.getItem()
      loadingItem.value = false
      project.value = api.item.value
    }

    const getItems = async () => {
      api.setEndpoint(`milestones/project/${props.itemId}`)
      await api.retrieveCollection({ page: 1, per_page: 1000, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: null, concat: false, filters: null })
      milestones.value = api.items.value
    }

    onMounted(() => {
      getProject()
      getItems()
    })

    return {
      emitClose,
      dialog,
      loadingItem,
      project,
      location,
      getProject,
      getItems,
      milestones,
      confirmDeleteModalOpen,
      createEditDialogOpen,
      milestoneId,
      fields,
      openCreateEditDialog,
      openDeleteDialog
    }
  }
})
</script>

<style lang="sass">

</style>