<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      fullscreen
      scrollable
      transition="dialog-bottom-transition"
      @click:outside="emitClose()"
    >
      <Loading v-if="loadingItem" />
      <v-card>
        <v-toolbar
          dark
          color="primary"
        > 
          <v-container><v-toolbar-title>Projekt bearbeiten</v-toolbar-title></v-container>
         
        </v-toolbar>
        <v-container>
          <v-row class="main">
            <v-col
              md="6"
            >
              <div class="field">
                <v-text-field
                  v-model="item.name"
                  label="Name"
                  hide-details="auto"
                  :error-messages="useErrors().checkAndMapErrors('name', errors)"
                />
              </div>

              <div class="field">
                <v-radio-group v-model="item.rating_kind" inline>
                  <v-radio
                    label="Nur Like"
                    value="upvote"
                  />
                  <v-radio
                    label="Like und Dislike"
                    value="upvote_downvote"
                  />
                </v-radio-group>
              </div>
              
              <div class="field">
                <v-select
                  hide-details="auto"
                  v-model="item.category_ids"
                  :items="categories"
                  item-title="name"
                  item-value="id"
                  label="Kategorien wählen"
                  single-line
                  :multiple="true"
                />
              </div>

              <v-row class="mb-6">
                <v-col>
                  <label>Projekt Start</label>
                  <Datepicker
                    inline
                    autoApply
                    :enableTimePicker="false"
                    locale="de"
                    v-model="item.start_time"
                    label="Projekt Start"
                  />
                </v-col>
                <v-col>
                  <label>End Datum</label>
                  <Datepicker
                    inline
                    autoApply
                    :enableTimePicker="false"
                    locale="de"
                    v-model="item.end_time"
                    label="Projekt Ende"
                  />
                </v-col>
              </v-row>
              <v-divider class="my-5"></v-divider>
              <v-row>
                <v-col>
                  <label>Abstimmung Start</label>
                  <Datepicker
                    inline
                    autoApply
                    :enableTimePicker="false"
                    locale="de"
                    v-model="item.rating_start"
                    label="Abstimmung Start"
                  />
                </v-col>
                <v-col>
                  <label>Abstimmung Ende</label>
                  <Datepicker
                    inline
                    autoApply
                    :enableTimePicker="false"
                    locale="de"
                    v-model="item.rating_end"
                    label="Abstimmung Ende"
                  />
                </v-col>
              </v-row>
              <div class="text-caption text-error ml-4 mt-n7 mb-2">{{ useErrors().checkAndMapErrors('start_time', errors)[0] }}</div>

              <v-row class="mb-n6">
                <v-col>
                  <div class="field">
                    <v-text-field
                      hide-details="auto"
                      v-model="item.costs"
                      label="Kosten"
                      append-inner-icon="mdi-currency-eur"
                    />
                  </div>
                </v-col>
                <v-col>
                  <div class="field">
                    <v-text-field
                      hide-details="auto"
                      v-model="item.internal_identifier"
                      label="Interne Auftragnummer"
                    />
                  </div>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <div class="field">
                    <v-text-field
                      hide-details="auto"
                      v-model="item.zip"
                      label="PLZ"
                    />
                  </div>
                </v-col>
                <v-col>
                  <div class="field">
                    <v-text-field
                      hide-details="auto"
                      v-model="item.town"
                      label="Ort"
                    />
                  </div>
                </v-col>
                <v-col>
                  <div class="field">
                    <v-select
                      hide-details="auto"
                      v-model="item.community_ids"
                      :items="communities"
                      item-title="name"
                      item-value="id"
                      label="Gemeinden wählen"
                      :multiple="true"
                      single-line
                    />
                  </div>
                </v-col>
              </v-row>

              <div class="field">
                <p class="caption-text">Empfehlung: Kurzbeschreibung mindestens 140 Zeichen, maximal 160 Zeichen</p>
                <v-textarea
                  multiline
                  hide-details="auto"
                  v-model="item.excerpt"
                  label="Kurzbeschreibung"
                  :rules="[v => (v || '' ).length <= 160 || 'Die Beschreibung darf höchstens 160 Zeichen lang sein.']"
                />
              </div>
              <div class="excerpt-review">
                <p class="caption-text">Vorschau:</p>
                <v-textarea
                v-model="item.excerpt"
                class="four-lines"
                disabled
               />
              </div>
              <v-row>
                <v-col>
                  <div class="field">
                  </div>
                </v-col>
                <v-col>
                  <div class="field">
                  </div>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <div class="mb-10">
                    <p>Beschreibung</p>
                    <ClientOnly>
                      <QuillEditor
                        class="ql-blank"
                        :options="TextOptions"
                        v-model:content="item.description"
                        contentType="html"
                        toolbar="full"
                      />
                    </ClientOnly>
                  </div>
                </v-col>
              </v-row>
            </v-col>
            <v-col md="6">
              <div class="field">
                <v-file-input
                  hide-details="auto"
                  v-model="image"
                  label="Cover Bild wählen"
                  filled
                  prepend-icon="mdi-camera"
                  @change="handleFile()"
                />
                <div class="text-caption">* Maximal 5 MB, PNG/JPG/JPEG erlaubt</div>
                <div v-if="errorFileSizeTooLarge" class="text-caption text-error mt-3 mb-2">Das gewählte Bild ist zu groß. Es darf eine Größe von 5MB nicht überschreiten.</div>
              </div>
              <ImageCropper
                v-if="imgUrl"
                :imgUrl="imgUrl"
                @close="imgUrl = null; image = {}"
                @crop="setImage"
              />
              <div class="img-container" v-else-if="item && item.file">
                <img class="is-fullwidth" :src="item.file" />
              </div>
              <div class="img-container" v-else-if="item && item.image_url">
                <img class="is-fullwidth" :src="item.image_url" />
              </div>
            </v-col>
          </v-row>
        </v-container>
        <v-divider></v-divider>
        <v-card-actions class="project-card-actions">
          <v-btn
            text
            @click="emitClose()"
          >
            Schließen
          </v-btn>
          <v-btn
            color="blue darken-1"
            variant="outlined"
            :disabled="item.excerpt.length >= 160"
            dark
            text
            @click="handleCta()"
            :loading="loadingItem"
          >
            Speichern
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script lang="ts">
// https://vue3datepicker.com/
import Datepicker from '@vuepic/vue-datepicker'
import '@vuepic/vue-datepicker/dist/main.css'
import { ResultStatus } from '@/types/serverCallResult'
export default defineComponent({
  components: { Datepicker },
  emits: ['close', 'refreshCollection'],
  props: {
    itemId: String
  },
  setup (props, { emit }) {

    const errorFileSizeTooLarge = ref(false)
    const loadingItem = ref(false)
    const imgUrl = ref(null)
    const dialog = ref(true)
    const errors = ref([])
    const image = ref({})
    const item = ref({
      name: '',
      start_time: new Date(),
      end_time: new Date (),
      rating_start: new Date(),
      rating_end: new Date (),
      category_ids: [],
      categories: [],
      rating_kind: 'upvote',
      internal_identifier: '',
      costs: '',
      community_ids: [],
      communities: [],
      zip: '',
      town: '',
      excerpt: '',
      description: '',
      file: null
    })
    const TextOptions = ref({
      debug: false,
      placeholder: 'Dieses Projekt .... ',
      theme: 'snow',
      contentType: "html",
      toolbar: "essential"
    }) 

    const showApi = useCollectionApi()
    showApi.setBaseApi(usePrivateApi())

    const categoriesApi = useCollectionApi()
    categoriesApi.setBaseApi(usePrivateApi())
    categoriesApi.setEndpoint(`categories?scope=project`)
    const categories = categoriesApi.items

    const communitiesApi = useCollectionApi()
    communitiesApi.setBaseApi(usePrivateApi())
    communitiesApi.setEndpoint(`communities`)
    const communities = communitiesApi.items

    const createUpdateApi = useCollectionApi()
    createUpdateApi.setBaseApi(usePrivateApi())

    const getCategories = async () => {
      await categoriesApi.retrieveCollection()
    }

    const getCommunities = async () => {
      const options = { page: 1, per_page: 100, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: null, concat: false, filters: [] }
      await communitiesApi.retrieveCollection(options)
    }

    const getProject = async () => {
      showApi.setEndpoint(`projects/${props.itemId}`)
      loadingItem.value = true
      await showApi.getItem()
      loadingItem.value = false
      item.value = showApi.item.value
    }

    const handleCta = () => {
      if (props.itemId) {
        save()
      } else {
        create()
      }
    }

    const create = async () => {
      createUpdateApi.setEndpoint(`projects`)
      loadingItem.value = true
      const result = await createUpdateApi.createItem(item.value, 'Projekt erfolgreich erstellt')
      loadingItem.value = false

      delete item.value.communities
      delete item.value.categories

      if (result.status === ResultStatus.SUCCESSFUL) {
        emit('refreshCollection')
        emit('close')
      } else {
        errors.value = result.data
      }
    }

    const save = async () => {
      createUpdateApi.setEndpoint(`projects/${props.itemId}`)
      loadingItem.value = true

      delete item.value.communities
      delete item.value.categories

      const result = await createUpdateApi.updateItem(item.value, 'Projekt erfolgreich aktualisiert')
      loadingItem.value = false
      if (result.status === ResultStatus.SUCCESSFUL) {
        emit('refreshCollection')
        emit('close')
      } else {
        errors.value = result.data
      }
    }

    const toBase64 = (file:any) => new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => resolve(reader.result);
      reader.onerror = error => reject(error);
    });

    const handleFile = async () => {
      if (image && image.value[0] && image.value[0].size / 1000000 > 5) {
        errorFileSizeTooLarge.value = true
        image.value = {}
        return
      } else if (image && image.value[0]) {
        errorFileSizeTooLarge.value = false
        imgUrl.value = await toBase64(image.value[0])
      }
    }

    const setImage = (image:any) => {
      imgUrl.value = null
      item.value.file = image
    }

    onMounted(() => {
      if (props.itemId && process.client) {
        getProject()
      }
      getCategories()
      getCommunities()
    })
    
    const emitClose = () => {
      emit('close')
    }

    return {
      dialog,
      item,
      TextOptions,
      emitClose,
      handleCta,
      getProject,
      categories,
      communities,
      handleFile,
      imgUrl,
      image,
      setImage,
      loadingItem,
      errors,
      errorFileSizeTooLarge
    }
  }
})
</script>

<style lang="sass">
.main
  padding-bottom: 100px
.project-card-actions
  position: fixed
  width: 100%
  bottom: 0
  background: white
  border-top: 1px solid black

.ql-blank
  background: #F6F6F6

.ql-editor
  min-height: 300px

.text-wrap a
  color: #017CC0
  font-weight: 900

.excerpt-review
  width: 325px

.description-review
  background-color: #FCFCFC
  padding: 10px

.description-review p
  opacity: .5
  
</style>