.box
  border-radius: 25px
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)
  background: #ffffff
  color: #58595E
  display: flex
  flex-direction: column
  width: 100%
  &.popup
    width: 400px
    @media only screen and (max-width: 400px)
      width: 100%
  &.has-hover:hover
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.35)
  header
    position: relative
    display: flex
    align-items: center
    justify-content: center
    padding: -5px
    img
      width: 100%
      object-fit: contain
      border-top-left-radius: 25px
      border-top-right-radius: 25px
  .main
    padding: 10px
    position: relative
    .headline
      font-weight: 900
      font-size: 18px
      line-height: 22px
      overflow-wrap: break-word
    .meta
      font-weight: 400
      font-size: 14px
      line-height: 20px
    .bubble
      display: grid
      align-items: center
      text-align: center
      color: white
      width: 45px
      height: 45px
      background: url('@/assets/images/bubble.svg')
      position: absolute
      right: 10px
      top: -30px
  .bottom-wrap
    margin-top: auto
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px

// specific box for polls
.poll-box
  background: #FFFFFF
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)
  border-radius: 20px
  width: 270px
  height: 200px
  position: fixed
  bottom: 10%
  right: 5%
  text-align: center
  display: grid
  place-items: center
  z-index: 10000
  transition-timing-function: ease-out
  transition: .3s
  .bubble
    background: #ABC812
    border-radius: 50%
    height: 60px
    width: 60px
    display: grid
    place-items: center
    color: white
    font-size: 40px
    top: -30px
  .headline
    font-weight: 600
    font-size: 20px
    line-height: 24px
    &.big
      font-size: 28px
    
  .footer
    background: #ABC812
    color: white
    text-transform: uppercase
    bottom: 0
    width: 100%
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
    padding: 10px
    cursor: pointer
    &.inactive
      opacity: 0.5
      cursor: not-allowed
    &.polls
      position: sticky
    &.teaser
      position: absolute

.logout-box
  color: #017CC0
  background: white
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)
  border-radius: 20px
  width: 270px
  height: 100px
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center
  display: grid
  place-items: center
  z-index: 10000
  transition-timing-function: ease-out
  transition: .9s
  text-transform: uppercase

.tutorial-box
  background: white
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1)
  position: fixed
  left: 50%
  transform: translate(-50%, -50%)
  place-items: center
  z-index: 100000
  border-radius: 20px
  overflow: hidden
  min-height: 400px
  &.is-desktop
    top: 35%
    width: 50vw
  &.is-mobile
    top: 50%
    width: 90vw
    

.cookies-box
  background: white
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1)
  position: fixed
  place-items: center
  z-index: 100000
  transition-timing-function: ease-out
  transition: .9s
  border-radius: 20px
  overflow: hidden
  &.is-desktop
    top: 50%
    width: 40vw
    left: 50%
    transform: translate(-50%, -50%)
  &.is-mobile
    left: 50%
    transform: translate(-50%, -55%)
    top: 50%
    width: 90vw


/* .mascot-box
  width: 100%
  position: fixed
  left: 50%
  transform: translate(-50%, -125%)
  text-align: center
  z-index: 100000
  transition-timing-function: step-start
  transition: .9s */

.statistic-box
  padding: 15px
  background: #FFFFFF
  border: 1px solid #CECECE
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12)
  border-radius: 4px
  position: relative
  .label
    color: #58595E
    font-size: 16px
  .count
    font-style: normal
    font-weight: 600
    font-size: 60px
    line-height: 45px
    color: #2D3748

.pin-box
  background: white
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1)
  position: fixed
  left: 50%
  transform: translate(-50%, -50%)
  place-items: center
  z-index: 100000
  border-radius: 20px
  overflow: hidden
  &.is-desktop
    top: 50%
    width: 40vw
    height: 50vh
  &.is-mobile
    top: 55%
    width: 90vw
    height: 70vh

.has-box-warning
  background-color: yellow
  padding: 5px

.has-box-danger
  background-color: red
  padding: 5px

.has-box-success
  background-color: green
  padding: 5px