.button
  cursor: pointer
  border-radius: 5px
  color: white
  text-align: center
  padding: 5px
  &.is-red
    background-color: red
    color: white
  &.is-rounded
    border-radius: 16px

  &.is-secondary
    background: #C2C2C2
    &.is-project-link
      padding: 12px 0
      background: #358BBC
      font-size: 1.3rem
      border-radius: 0px
      text-transform: uppercase
      border-bottom-left-radius: 20px
      border-bottom-right-radius: 20px
      margin-bottom: 0px
    
  &.is-primary-gradient
    background: linear-gradient(270deg, #017DC2 0.29%, #015281 100%)
    color: white

//like button
.icon-heart
  position: relative
  user-select: none
  text-align: center
  cursor: pointer
  margin-top: -2px

.icon-heart:hover
  color: #015281
  transition-duration: .3s

.icon-heart:after
  content: ""
  display: block
  position: absolute
  left: 0
  top:0
  width: 100%
  height: 100%
  opacity: 0
  transition: all 1s
  box-shadow: 0 0 30px 30px #015281

.icon-heart:active:after 
  box-shadow: 0 0 0 0 #015281
  position: absolute
  border-radius: 4em
  left: 0
  top:0
  opacity: 1
  transition: 0s