// cards within dialogs need to get an extra width
.dialog-500
  &.is-desktop
    width: 500px
    left: 50%
    transform: translate(-50%, 0%)
  &.is-mobile
    width: 100%
    top: 50%
    left: 50%
    transform: translate(-50%, 0%)

.dialog-notification-500
  &.is-desktop
    width: 500px
  &.is-mobile
    width: 380px
    top: 20px

.dialog-700
  width: 700px