@import url("https://use.typekit.net/lbh6wkf.css")

$font-family: "remora-sans-w1", sans-serif

.v-application, html, body, h1, h2, h3, h4, h5, p, div, a, i
  font-family: $font-family !important

h1
  color: white
  margin-bottom: 10px

a
  text-decoration: none
  color: black
  &:visited
    color: inherit

.pre-wrap
  white-space: pre-wrap

/// currently cannot find vuetify font size helpers
.is-size-small
  font-size: 10px

.is-clickable
  cursor: pointer

.has-text-green
  color: #ABC812
.is-hidden
  display: none !important

.has-text-primary
  color: #015281
.has-text-grey
  color: #58595E

.has-text-default
  color: #015281
  font-weight: 600
  font-size: 16px

.has-text-grey-dark
  color: rgb(88, 89, 94, 0.8)

.has-text-danger
  color: #ff6666

.has-text-warning
  color: #EE9207

.is-fullwidth
  width: 100%

.v-input__details
  color: red

.has-text-white
  color: white

.caption-text
  font-size: 12px
  opacity: 0.6

.gap
  height: 10px

.has-ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.has-cursor-pointer
  cursor: pointer

.four-lines
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 4
  white-space: normal
  overflow-wrap: break-word

.one-line
  overflow: hidden
  display: -webkit-box
  -webkit-line-clamp: 2
  line-clamp: 2
  -webkit-box-orient: vertical  

.is-uppercase
  text-transform: uppercase

.menu-list
  font-weight: 500
  font-size: 1.3rem

.text-wrap
  text-align: justify
  display: inline-block