<template>
  <v-table>
    <thead>
      <tr>
        <th v-for="field in fields" :key="field.text" :width="[ field.type === 'move_up' || field.type === 'move_down' || field.type === 'icon' || field.type === 'switch' ? '15px' : field.width]">
          {{ field.text }}
        </th>
        <th width="15px" v-if="!disableEdit"></th>
        <th width="15px"></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, indexMain) in items" :key="item.id">
        <td v-for="(field, index) in fields" :key="index" class="is-clickable" @click="handleEmitParent(item, field, indexMain)" :width="field.width">
          <span v-if="field.type === 'projectTimeRange'">{{ useDatetime().getProjectTimeRangeString(item) }}</span>
          <span v-if="field.type === 'datetime' && item[field.value]">{{ useDatetime().parseDatetime(item[field.value]) }}</span>
          <span v-else-if="field.type === 'currency' && item[field.value]">{{ useCurrency().getCurrencyFromNumber(item[field.value]) }}</span>
          <v-tooltip top v-else-if="field.type === 'icon' && field.tooltip">
            <template v-slot:activator="{ props }">
              <v-icon class="is-clickable" v-bind="props">{{ field.value }}</v-icon>
            </template>
            <span v-if="field.tooltip">{{ field.tooltip }}</span>
          </v-tooltip>
          <v-tooltip top v-else-if="field.type === 'move_up' && indexMain !== 0">
            <template v-slot:activator="{ props }">
              <v-icon class="is-clickable" v-bind="props">mdi-arrow-up</v-icon>
            </template>
            <span>Nach oben</span>
          </v-tooltip>
          <v-tooltip top v-else-if="field.type === 'move_down' && indexMain !== items.length - 1">
            <template v-slot:activator="{ props }">
              <v-icon class="is-clickable" v-bind="props">mdi-arrow-down</v-icon>
            </template>
            <span>Nach unten</span>
          </v-tooltip>
          <v-icon v-else-if="field.type === 'icon' && !field.tooltip">{{ field.value }}</v-icon>
          <span v-else-if="item[field.value] && field.type === 'association_name'">{{ item[field.value].name }}</span>
          <span v-else-if="item[field.value] && field.type === 'associations_name'">
            <div v-for="(item, index) in item[field.value]" :key="index" class="small">{{ item.name }}</div>
          </span>
          <TableSwitch
            v-else-if="field.type === 'switch'"
            :item="item"
            :endpoint="field.endpoint"
            :field-to-switch="field.fieldToSwitch"
            :ask-notification="field.askNotification"
            :notification-kind="field.notificationKind"
            :notification-kind-explicit="field.notificationKindExplicit"
            :notification-pre-filled-headline="field.notificationPreFilledHeadline"
            :notification-pre-filled-text="field.notificationPreFilledText"
            :notification-cta-link="field.notificationCtaLink"
          />
          <span v-else-if="item[field.value] && field.enum_name && field.type === 'enum'" :class="useEnums().getClassName(field.enum_name, item[field.value])">
            {{ useEnums().getName(field.enum_name, item[field.value]) }}
          </span>
          <span v-else>{{ item[field.value] }}</span>
        </td>
        <td v-if="!disableEdit"><v-icon class="is-clickable" @click="emitParent(item.id, null)">mdi-pencil</v-icon></td>
        <td><v-icon class="is-clickable" @click="emitOpenDeleteDialog(item.id)">mdi-delete</v-icon></td>
      </tr>
    </tbody>
  </v-table>
</template>

<script setup lang="ts">
import { useEnums } from '~~/composables/data/enums';
const emit = defineEmits(['close', 'openCreateEditDialog', 'openDeleteDialog', 'getItems', 'openCheckResultsDialog'])
const props = defineProps({
  fields: Array,
  items: Array,
  disableEdit: Boolean,
  endpoint: String
})

const emitOpenDeleteDialog = (itemId:any) => {
  emit('openDeleteDialog', itemId)
}

const handleEmitParent = (item:any, field:any, menu_order:number) => {
  if (field.type === 'move_up') {
    move(item, props.items[menu_order -= 1])
  } else if (field.type === 'move_down') {
    move(item, props.items[menu_order += 1])
  } else if (field.type !== 'switch') {
    emitParent(item.id, field.emit)
  }
}

const emitParent = (itemId:any, fieldEmit:any) => {
  if (!fieldEmit) {
    emit('openCreateEditDialog', itemId)
  } else {
    emit(fieldEmit, itemId)
  }
}

const move = async (entry:any, nextEntry:any) => {
  const result = await useTableMove().move(entry, nextEntry, props.endpoint)
  if (result) {
    emit('getItems')
  }
}
</script>

<style lang="sass">
.small
  font-size: 8px
</style>