<template>
  <v-dialog
    v-model="dialog"
    persistent
  >
    <v-row>
      <v-col
      cols="12"
      sm="2"
      md="12" 
      >
        <v-card
          color="primary"
        >
          <v-card-text>
            {{ loadingText }}
            <v-progress-linear
              indeterminate
              color="white"
              class="mb-1"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-dialog>
</template>
<script lang="ts">
export default defineComponent({
  props: {
    loadingText: {
      type: String,
      default: 'Einen Moment bitte…'
    }
  },
  setup () {
    const dialog = ref(true)

    return {
      dialog
    }
  }
})
</script>