<template>
  <div class="mr-3 mb-2 ml-2">
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
    >
      <template v-slot:activator="{ props }">
        <div class="icon-wrap">
          <v-icon
            v-bind="props"
            icon="mdi-bell"
            color="primary"
            size="x-large"
          />
          <div class="notification-alert" v-if="showNotificationAlert"></div>
        </div>
      </template>
      <v-card class="my-2 mr-2 notifications-card" :class="[(display.smAndDown ? 'dialog-notification-500 is-mobile' : 'dialog-notification-500 is-desktop')]">
        <v-list class="card-header">
          <v-list-item-content >
            <v-list-item-title>Benachrichtigungen</v-list-item-title>
          </v-list-item-content>
        </v-list>
        <v-divider class="border-opacity-25"></v-divider>
        <Transition v-if="notifications.length > 0">
          <v-list>
            <v-list-item v-for="notification in notifications" :key="notification.id">
              <v-row>
                <v-col xs="12" sm="8">
                  <nuxt-link :to="`/public/pinboards/${notification.model_id}`" v-if="notification.log_code === 'pinboard_idea.rejected'">
                    Eine Idee von dir wurde abgelehnt: <b>{{ notification.model_record_name }}</b>
                  </nuxt-link>
                  <nuxt-link :to="`/public/pinboards/${notification.model_id}`" v-if="notification.log_code === 'pinboard_idea.confirmed'">
                    Eine Idee von dir wurde akzeptiert: <b>{{ notification.model_record_name }}</b>
                  </nuxt-link>
                  <nuxt-link :to="`/public/users/trophies`" v-if="notification.log_code === 'trophy.rewarded'">
                    Du hast einen neuen Erfolg: <b>{{ notification.model_record_name }}</b> erzielt
                  </nuxt-link>
                  <nuxt-link :to="`/public/projects/${notification.model_id}`" v-if="notification.log_code === 'project.rating_results_public'">
                    Die Projektabstimmung von <b>{{ notification.model_record_name }}</b> ist nun öffentlich
                  </nuxt-link>
                  <nuxt-link :to="`/public/projects/${notification.model_id}`" v-if="notification.log_code === 'project.is_active'">
                    Ein neues Projekt <b>{{ notification.model_record_name }}</b> wurde erstellt
                  </nuxt-link>
                  <nuxt-link :to="`/public/projects/${notification.model_id}`" v-if="notification.log_code === 'comment.replied'">
                    {{ notification.change['replied_by'] }} hat auf Deinen Kommentar geantwortet
                  </nuxt-link>
                  <nuxt-link :to="`/public/projects/${notification.model_id}`" v-if="notification.log_code === 'comment.liked'">
                    Jemandem hat Dein Kommentar gefallen
                  </nuxt-link>
                </v-col>
                <v-col class="d-flex justify-center align-center">
                  {{ timeAgo(notification.created_at) }}
                </v-col>
              </v-row>
            </v-list-item>
            <v-list-item v-if="morePagesAvailable" class="mt-5">
              <a class="is-clickable" @click="paginate"><u>Mehr laden</u></a>
            </v-list-item>
          </v-list>
        </Transition>
        <v-list v-else><v-list-item>Keine neuen Benachrichtigungen</v-list-item></v-list>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="menu = false"
          >
          schließen
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-menu>
  </div>
</template>

<script lang="ts">
import { defineComponent, WritableComputedRef } from 'vue'
import { timeAgo } from '~~/utils/date.utils'
import { useDisplay } from 'vuetify'
export default defineComponent({
  setup () {
    const display = ref(useDisplay())
    const menu = ref(false)
    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint('logs')
    const notifications = api.items
    const localStorageNotificationsLastItem = ref(localStorage.getItem('project_platform_notifications_last_item'))
    const forcedNotificationAlertDispose = ref(false)
    const totalPages = ref(1)
    const currentPage = ref(1)

    const showNotificationAlert = computed(() => {
      if (forcedNotificationAlertDispose.value) {
        return false
      }
      if (api.items.value[0]) {
        return localStorageNotificationsLastItem.value !== api.items.value[0].id
      }
      return false
    })

    const morePagesAvailable = computed(() => {
      return currentPage.value < totalPages.value
    })

    const paginate = () => {
      currentPage.value += 1
      getNotifications(true)
    }

    const getNotifications = async (concat = false) => {
      await api.retrieveCollection({ page: currentPage.value, per_page: 3, sort_by: 'created_at', sort_order: 'DESC', searchQuery: null, concat: concat, filters: null })
      totalPages.value = api.totalPages.value
    }

    onMounted(() => {
      getNotifications()
    })

    watch(menu, () => {
      if (menu.value && api.items.value[0]) {
        currentPage.value = 1
        getNotifications()
        localStorage.setItem('project_platform_notifications_last_item', api.items.value[0].id)
        forcedNotificationAlertDispose.value = true
      }
    })

    return {
      menu,
      notifications,
      timeAgo,
      showNotificationAlert,
      forcedNotificationAlertDispose,
      morePagesAvailable,
      paginate,
      display
    }
  }
})
</script>

<style lang="sass" scoped>
.icon-wrap
  position: relative
  .notification-alert
    width: 15px
    height: 15px
    border-radius: 50%
    display: grid
    place-items: center
    color: white
    background: #ff6666
    position: absolute
    top: -4px
    right: 0px
    border: 1px solid white
    font-size: 8px

</style>