<template>
  <v-snackbar
    v-model="show"
    :color="color"
    location="center"
    variant="flat"
    :content-class="`snackbar-${color}`"
  >
    {{ message }}
    <v-icon @click="show = false" class="close is-clickable">mdi-close-circle-outline</v-icon>
  </v-snackbar>
</template>

<script lang="ts">
import { useSnackbarStore } from "@/store/snackbar"

export default defineComponent({
  name: 'Snackbar',
  setup() {

    const snackbarStore = useSnackbarStore()

    const show = ref(false)
    const message = ref('')
    const color = ref('')

    onMounted(() => {
      snackbarStore.$subscribe((mutation, state) => {
        message.value = state.content
        color.value = state.color
        show.value = true

        setTimeout(() => { show.value = false }, state.timeout)
      })
    })

    return {
      show,
      message,
      color
    }
  }
})
</script>
<style lang="sass">
.snackbar-error, .snackbar-success
  color: white
</style>