<template>
  <div v-if="showingTeaser">
    <div class="curtain" />
  <div class="tutorial-box" :class="[($device.isMobile ? 'is-mobile' : 'is-desktop')]">
    <img class="close is-clickable" src="~/assets/images/icon-times.svg" height="20" @click="showingTeaser = !showingTeaser" />
    <v-row class="pa-10" v-if="currentStep === 0">
      <v-col class="text-center">
        <div>
          <img class="mascot pa-5" src="@/assets/images/mascot.svg" height="200"/>
          <h2>HEY, WILLKOMMEN!</h2>
        </div>
        <div>
          <p>ICH MÖCHTE DIR HELFEN DICH AUF UNSERER SEITE ZURECHT ZU FINDEN!</p>
        </div>
      </v-col>
    </v-row>
    <v-row class="pa-10 justify-center" no-gutters justify="center"  v-else>
      <v-col class="box-text">
        <div v-for="(step, index) in steps" :key="index">
          <div v-if="currentStep === 1 && step.step === 1">
            <h2>{{step.content.heading}}</h2>
            <p class="text-card my-5 mr-5">
              {{step.content.description}}
            </p>
          </div>
          <div v-if="currentStep === 2 && step.step === 2">
            <h2>{{step.content.heading}}</h2>
            <p class="text-card my-5 mr-5">
              {{step.content.description}}
            </p>
          </div>
          <div v-if="currentStep === 3 && step.step === 3">
            <h2>{{step.content.heading}}</h2>
            <p class="text-card my-5 mr-5">
              {{step.content.description}}
            </p>
          </div>
          <div v-if="currentStep === 4 && step.step === 4">
            <h2>{{step.content.heading}}</h2>
            <p class="text-card my-5 mr-5">
              {{step.content.description}}
            </p>
          </div>
          <div v-if="currentStep === 5 && step.step === 5">
            <h2>{{step.content.heading}}</h2>
            <p class="text-card my-5 mr-5">
              {{step.content.description}}
            </p>
          </div>
          <div v-if="currentStep === 6 && step.step === 6">
            <h2>{{step.content.heading}}</h2>
            <p class="text-card my-5 mr-5">
              {{step.content.description}}
            </p>
          </div>
          <div v-if="currentStep === 7 && step.step === 7">
            <h2>{{step.content.heading}}</h2>
            <p class="text-card my-5 mr-5">
              {{step.content.description}}
            </p>
          </div>
          <div v-if="currentStep === 8 && step.step === 8">
            <h2>{{step.content.heading}}</h2>
            <p class="text-card my-5 mr-5">
              {{step.content.description}}
            </p>
          </div>
          <div v-if="currentStep === 9 && step.step === 9">
            <h2>{{step.content.heading}}</h2>
            <p class="text-card my-5 mr-5">
              {{step.content.description}}
            </p>
          </div>
        </div>
      </v-col>
      <v-col class="d-flex justify-center justify-md-end align-center box-image">
        <div class="arrow" v-for="(step, index) in steps" :key="index">
          <div class="arrow" v-if="currentStep === 1 && step.step === 1">
            <img class="arrow" :src="step.image" height="300"/>
          </div>
          <div v-if="currentStep === 2 && step.step === 2">
            <img class="arrow" :src="step.image" height="300"/>
          </div>
          <div v-if="currentStep === 3 && step.step === 3">
            <img class="arrow" :src="step.image" height="300"/>
          </div>
          <div v-if="currentStep === 4 && step.step === 4">
            <img class="arrow" :src="step.image" height="300"/>
          </div>
          <div v-if="currentStep === 5 && step.step === 5">
            <img class="arrow" :src="step.image" height="300"/>
          </div>
          <div v-if="currentStep === 6 && step.step === 6">
            <img class="arrow" :src="step.image" height="300"/>
          </div>
          <div v-if="currentStep === 7 && step.step === 7">
            <img class="arrow" :src="step.image" height="300"/>
          </div>
          <div v-if="currentStep === 8 && step.step === 8">
            <img class="arrow" :src="step.image" height="300"/>
          </div>
          <div v-if="currentStep === 9 && step.step === 9">
            <img class="arrow" :src="step.image" height="300"/>
          </div>
        </div>
      </v-col>
    </v-row>
    <v-progress-linear :model-value="currentStep" max="9" height="5" color="#015281"></v-progress-linear>
    <v-row no-gutters class="text-center control" justify="space-between">
      <v-col class="back-button py-5 is-clickable">
        <div v-if="currentStep >= 1" @click="previousStep">
          <p>zurück</p>
        </div>
        <div v-if="currentStep === 0" @click="close, dissmissHint(), emittSetTutorial()">
          <p>ich brauche keine hilfe</p>
        </div>
      </v-col>
      <v-col class="forward-button py-5 is-clickable" @click="nextStep">
        <div v-if="currentStep === 0">
          <p>gerne</p>
        </div>
        <div v-else-if="currentStep != 9">
          <p>weiter</p>
        </div>
        <div v-if="currentStep === 9" @click="close, reset(), dissmissHint(), emittSetTutorial()">
          <p>fertig</p>
        </div>
      </v-col>
    </v-row>
    </div>
<!--     <div class="mascot-box" v-if="currentStep != 0 ">
      <div>
        <img class="arrow" src="@/assets/images/arrow-mascot.svg" />
      </div>
        <img class="mascot" src="@/assets/images/mascot.svg" />
    </div> -->
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import stepImage from '@/assets/images/tutorial/tut-01.png'
import stepImage2 from '@/assets/images/tutorial/tut-02.png'
import stepImage3 from '@/assets/images/tutorial/tut-03.png'
import stepImage4 from '@/assets/images/tutorial/tut-04.png'
import stepImage6 from '@/assets/images/tutorial/tut-06.png'
import stepImage7 from '@/assets/images/tutorial/tut-07.png'
import stepImage8 from '@/assets/images/tutorial/tut-08.png'
import stepImage9 from '@/assets/images/tutorial/tut-09.png'
import stepImage10 from '@/assets/images/tutorial/tut-10.png'


export default defineComponent({
  name: 'Tutorial',
  setup(props, { emit }) {
    const showingTeaser = ref(false)
    const currentStep = ref(0)
    
    useNuxtApp().$bus?.$on('cookieCookieSet', () => {
      const tutorialCookie = localStorage.getItem('platform_tutorial')
      if(!tutorialCookie) {
        showingTeaser.value = true
      }
    })

    useNuxtApp().$bus?.$on('openTutorialAgain', () => {
      showingTeaser.value = true
    })

    const emittSetTutorial = () => {
      useNuxtApp().$bus.$emit('tutorialSet')
    }
    
    const steps = [
      {
        'step': 1,
        'content': {
          heading: 'PROJEKTE AUS DEM LANDKREIS', description: 'Über die Smart Wendeler Land Projektplattform kannst du dich über aktuelle Projekte aus dem Smart Wendeler Land informieren.'
        },
        'image': stepImage
      },
      {
        'step': 2,
        'content': {
          heading: 'PROJEKTFORTSCHRITT', description: 'Außerdem findest du zu jedem Projekt eine detaillierte Beschreibung, so wie den Fortschritt in Meilensteinen.'
        },
        'image': stepImage2
      },      
      {
        'step': 3,
        'content': {
          heading: 'KONTAKTAUFNAHME', description: 'Über ein Kontaktformular unter jedem Projekt, hast du die Möglichkeit direkt zu den Projektverantwortlichen Kontakt aufzunehmen.'
        },
        'image': stepImage3
      },      
      {
        'step': 4,
        'content': {
          heading: 'INTERAKTIVE KARTE', description: 'Über eine interaktive Karte kannst du zu jedem standortbezogenen Projekt den genauen Umsetzungsort finden.'
        },
        'image': stepImage4
      },      
      {
        'step': 5,
        'content': {
          heading: 'MIT FREUNDEN TEILEN', description: 'Wenn dir ein Projekt besonders gut gefällt, kannst du es über verschiedene Soziale Medien oder direkt mit deinen Freunden teilen.'
        },
        'image': stepImage6
      },
      {
        'step': 6,
        'content': {
          heading: 'DEINE MEINUNG MITTEILEN', description: 'Über die Kommentarfunktion kannst du Kommentare zum Projekt verfassen, auf andere Kommentare antworten oder diese mit „gefällt dieses Projekt“ markieren. Sollte dir ein Kommentar negativ auffallen, kannst du ihn melden.'
        },
        'image': stepImage7
      },
      {
        'step': 7,
        'content': {
          heading: 'UMFRAGEN', description: 'Du hast außerdem die Möglichkeit, an Umfragen zum Smart Wendeler Land oder zu einzelnen Projekten teilzunehmen.'
        },
        'image': stepImage8
      },
      {
        'step': 8,
        'content': {
          heading: 'GAMIFICATION', description: 'Wenn du fleißig die Projekte bewertest, kommentierst, oder andere Interaktionen durchführst, kannst du Erfolge erzielen und verschiedene Titel erlangen. Viel Erfolg!'
        },
        'image': stepImage9
      },
      {
        'step': 9,
        'content': {
          heading: 'LOS GEHT‘S', description: 'Super! Du hast das Tutorial erfolgreich beendet. Wenn du mehr über die Plattform erfahren willst, ist als eines der ersten Projekte diese Plattform angelegt. Und jetzt wünsche ich dir viel Spaß beim Durchstöbern der ersten Projekte.'
        },
        'image': stepImage10
      },
    ]

    const nextStep = () => {
      if (currentStep.value != 9) {
        currentStep.value += 1
      }
    }

    const previousStep = () => {
      currentStep.value -= 1
    }

    const close = () => {
      showingTeaser.value = false
      currentStep.value = 0
    }

    const reset = () => {
      currentStep.value = 0
    }


    const dissmissHint = () => {
      localStorage.setItem('platform_tutorial', "true")
      showingTeaser.value = false
    }

    onMounted(() => {
      const showStorage = localStorage.getItem('platform_tutorial')
      const showStorage2 = localStorage.getItem('platform_cookies_accepted')
      if (!showStorage && showStorage2) {
        showingTeaser.value = true
      }
    })

    return {
      currentStep,
      steps,
      close,
      showingTeaser,
      nextStep,
      previousStep,
      dissmissHint,
      emittSetTutorial,
      reset
    }
  },
})
</script>

<style lang="sass" scoped>

.back-button
  background: #D3D3D3

.forward-button
  color: white
  background: linear-gradient(#017DC2 0.29%, #015281 100%)

.mascot
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  -moz-osx-font-smoothing: grayscale
  -webkit-transition-duration: 0.9s
  transition-duration: 0.9s

.mascot:hover,.mascot:focus,.masot:active
  -webkit-transform: scale(1.2)
  transform: scale(1.2)
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36)
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36)

.mascot-box
  top: 82%

.control
  bottom: 0px
  position: relative
  text-transform: uppercase

.box-text
  max-height: 40vh

.box-image
  max-height: 50vh


</style>