<template>
  <div>
   <h2>Ideenpinnwände</h2>

    <v-btn class="mb-2" elevation="0" variant="outlined" @click="itemId = null; createEditDialogOpen = true">Neue Pinnwand</v-btn>

    <DataTable
      :fields="fields"
      :items="pinboards"
      endpoint="pinboards"
      @getItems="getItems"
      @openCreateEditDialog="openCreateEditDialog"
      @openDeleteDialog="openDeleteDialog"
      @openShowIdeasBoard="openShowIdeasBoard"
    />

    <AdminPinboardsCreateEdit
      :item-id="itemId"
      v-if="createEditDialogOpen"
      @close="itemId = null; createEditDialogOpen = false"
      @refreshCollection="getItems()"
    />

    <AdminPinboardsIdeasBoard
      :item-id="itemId"
      v-if="showIdeasBoardOpen"
      @close="itemId = null; showIdeasBoardOpen = false"
      @refreshCollection="getItems()"
    />

    <DeleteItem
      v-if="confirmDeleteModalOpen"
      @close="itemId = null; confirmDeleteModalOpen = false"
      :item-id="itemId"
      endpoint="pinboards"
      term="Pinnwand"
      @refreshCollection="getItems()"
    />
  </div>
</template>

<script lang="ts">
export default defineComponent({
  name: 'AdminPinboardsIndex',
  setup() {

    definePageMeta({
      layout: "default",
    })

    const fields = ref([
      { text: '', type: 'move_down' },
      { text: '', type: 'move_up' },
      { text: 'Pin. aktiv', endpoint: 'pinboards', type: 'switch', fieldToSwitch: 'is_active' },
      { text: 'Titel', value: 'headline', type: 'string', width: "200px" },
      { text: 'Kategorien', value: 'categories', type: 'associations_name' },
      { text: 'Online seit', value: 'start_time', type: 'datetime' },
      { text: 'Online bis', value: 'end_time', type: 'datetime' },
      { text: 'Ideen', value: 'pinboard_ideas_count', type: 'String', emit: 'openShowIdeasBoard' },
      { text: 'Erstellt am', value: 'created_at', type: 'datetime' }
    ])

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint('pinboards')

    const pinboards = api.items
    const loading = ref(false)
    const createEditDialogOpen = ref(false)
    const confirmDeleteModalOpen = ref(false)
    const itemId = ref(null)
    const showIdeasBoardOpen  = ref(false)

    onMounted(() => {
      getItems()
    })

    const getItems = async () => {
      loading.value = true
      const options = { page: 1, per_page: 1000, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: null, concat: false, filters: [] }
      await api.retrieveCollection(options)
      loading.value = false
    }

    const openCreateEditDialog = (id: string) => {
      itemId.value = id
      createEditDialogOpen.value = true
    }

    const openDeleteDialog = (id: string) => {
      itemId.value = id
      confirmDeleteModalOpen.value = true
    }

    const openShowIdeasBoard = (id: string) => {
      itemId.value = id
      showIdeasBoardOpen.value = true
    }

    return {
      fields,
      pinboards,
      loading,
      createEditDialogOpen,
      itemId,
      getItems,
      confirmDeleteModalOpen,
      openCreateEditDialog,
      openDeleteDialog,
      openShowIdeasBoard,
      showIdeasBoardOpen
    }
  }
})
</script>

<style lang="sass">
.v-dialog--custom
  width: 30%
</style>
