<template>
  <div class="statistic-box">
    <div class="label mb-3">Ergebnisse der neusten Umfrage</div>

    <AdminPollsPollResults
      :item-id="itemId"
      :has-grid-layout="true"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  props: {
    itemId: {
      type: String,
      required: true
    }
  },
  setup() {
  }
})
</script>

<style lang="sass" scoped>

</style>