<template>
  <div class="statistic-box">
    <div class="label mb-3">{{ label }}</div>
    <div class="comment mb-2" v-for="item in comments" :key="item.id">
      <div v-if="scope === 'comment'" class="comment-grid">
        <UserProfile
          :user="item.user"
        />
        <div>
          <div class="project has-ellipsis">{{ item.project.name }}</div>
          <div class="font-weight-bold">{{ item.user.name }}</div>
          <div class="has-ellipsis">{{ item.comment }}</div>
        </div>
        <div class="has-text-primary is-clickable has-ellipsis" @click="goToComment(item)">zum Kommentar</div>
      </div>

      <div v-if="scope === 'comment_report'" class="comment-grid">
        <UserProfile
          :user="item.comment_user"
        />
        <div>
          <div class="project has-ellipsis">{{ item.project.name }}</div>
          <div class="font-weight-bold">{{ item.user.name }}</div>
          <div class="has-ellipsis">{{ item.comment.comment }}</div>
        </div>
        <div class="has-text-primary is-clickable has-ellipsis" @click="goToComment(item)">zum Kommentar</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  props: {
    endpoint: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    scope: {
      type: String,
      required: true
    }
  },
  setup(props) {

    const loading = ref(false)
    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint(props.endpoint)
    const comments = ref([])
    const router = useRouter()

    const getItems = async () => {
      loading.value = true
      const options = { page: 1, per_page: 5, sort_by: 'created_at', sort_order: 'DESC', searchQuery: null, concat: false, filters: [] }
      await api.retrieveCollection(options)
      comments.value = api.items.value
      loading.value = false
    }

    const goToComment = (item:any) => {
      router.push({path: `/public/projects/${item.project.id}`})
    }

    onMounted(() => {
      getItems()
    })

    return {
      comments,
      goToComment
    }
  },
})
</script>

<style lang="sass" scoped>
.comment-grid
  display: grid
  grid-template-columns: 40px 60% 20%
  gap: 10px
  font-size: 12px
  line-height: 16px
  .project
    font-size: 10px
    color: #58595E
</style>