<template>
  <div class="statistic-box d-flex">
    <div>
      <div class="label mb-5">{{ label }}</div>
      <div class="count">{{ count }}</div>
    </div>
    <div v-if="label_secondary && count_secondary" class="ml-10">
      <div class="label mb-5">{{ label_secondary }}</div>
      <div class="count">{{ count_secondary }}</div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  props: {
    count: {
      type: Number,
      required: true,
    },
    label: {
      type: String,
      required: true
    },
    count_secondary: {
      type: Number,
    },
    label_secondary: {
      type: String,
    }
  },
  setup() {
  }
})
</script>

<style lang="sass" scoped>

</style>