<template>
  <div class="statistic-box">
    <div class="label mb-6">Webseite Statistiken</div>
    <img src="@/assets/images/pie.png" />
    <nuxt-link class="top-link" to="/admin/matomo">
      <v-icon>mdi-arrow-right</v-icon>
      zu Matomo
    </nuxt-link>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  setup() {
  }
})
</script>

<style lang="sass" scoped>
.top-link
  position: absolute
  top: 10px
  right: 10px
  font-weight: 700
  font-size: 15px
  line-height: 22px
  color: #015281
</style>