<template>
  <div>
    <div class="has-text-white my-8">
      <v-row no-gutters class="align-center">
      <v-col class="d-flex justify-start align-center px-3">
        <span class="is-clickable" @click="goBack()">
          <v-icon class="pr-5" size="50">mdi-chevron-left</v-icon>
        </span>
        <div>
          <h1 class="title is-uppercase" v-if="pinboardCat">{{ pinboardCat.headline }}</h1>
          <div class="text-wrap" v-if="pinboardCat">
            <h3 v-html="pinboardCat.content"></h3>
          </div>
        </div>
      </v-col>
    </v-row>
    </div>
      <v-row>
        <v-col cols="12" md="8">
          <div class="has-text-white categories box-shadow pa-5">
            <div class="py-3">
              <h2>Beigetragene Ideen:</h2>
            </div>
            <v-divider class="py-2"></v-divider>
            <div v-if="pinboardIdeas?.length <= 0">
              Es wurden noch keine Ideen freigegeben.
            </div>
            <div v-else>
            <v-row class="align-center mt-5">
              <v-col class="d-flex justify-center main-columns" cols="6" v-for="(item, index) in pinboardIdeas" :key="index" >
                <div class="bg-white box content pa-5">
                  <div class="d-flex align-center py-2">
                    <div>
                      <UserProfile
                      :user="item.user"
                      />
                    </div>
                    <div>
                      <span class="px-1">{{item.user.firstname}}</span>
                      <span>{{item.user.lastname}}</span>
                    </div>
                  </div>
                  <v-divider></v-divider>
                  <div class="d-flex pt-5 align-center headline">
                        <div v-if="useUser().isAdmin()">
                          <span v-if="item.status === 'confirmed'">
                            <v-icon size="x-small" color="success">mdi-circle</v-icon>
                          </span>
                        </div>
                        <h3>{{ item.headline }}</h3>
                      </div>
                  <div class="my-5 item-content">
                    <span v-html="item.content"></span>
                  </div>
                  <div class="bottom-wrap">
                  <v-divider></v-divider>
                    <v-row no-gutters class="text-center" justify="space-between">
                      <v-divider></v-divider>
                      <v-col class="py-2 d-flex justify-center">
                        <div>
                          <span v-if="item?.approved_at && item.status === 'confirmed'">Online seit: {{ useDatetime().parseDate(item.approved_at) }}</span>
                          <div v-if="useUser().isAdmin()">
                            <span v-if="item.status === 'is_checked'">
                            <v-icon color="yellow">mdi-alert</v-icon>
                            Idee in Prüfung
                          </span>
                          <span v-else-if="!item?.approved_at">
                            <v-icon color="red">mdi-alert</v-icon>
                            Idee abgelehnt
                          </span>
                          </div>
                          
                        </div>
                      </v-col>
                      <v-col class="py-2 d-flex justify-center is-clickable">
                        <div class="d-inline-flex mb-3" v-if="currentUser">
                          <span class="comment-score">{{ item?.score }}</span>
                          <span v-if="item?.has_upvoted_pinboard_idea" class="is-clickable has-text-default px-1" @click="handleVote(item.id, 'upvote')">
                            <v-icon class="icon-heart">mdi-heart</v-icon>
                          </span>
                          <span v-else class="is-clickable px-1" @click="handleVote(item.id, 'upvote')">
                            <v-icon class="icon-heart">mdi-heart-outline</v-icon>
                          </span>
                          <span class="mr-4 comment-score has-text-default px-1">gefällt mir</span>
                        </div>
                        <div v-else>
                          <v-icon color="grey">mdi-heart-outline</v-icon>
                          Zum liken bitte anmelden
                        </div>
                      </v-col>
                    </v-row>
                  </div>
                </div>
              </v-col>
            </v-row>
            </div>
          </div>
        </v-col>
        <v-col v-if="!useDatetime().isInPast(pinboardCat?.end_time) && currentUser">
          <div class="has-text-white categories box-shadow pa-5">
            <div class="py-3">
              <h2 v-if="!alreadySent">Idee erstellen</h2>
              <h2 v-else>Vielen Dank für deine Idee!</h2>
            </div>
            <v-divider class="py-2"></v-divider>
            <div v-if="!alreadySent">
              <div class="my-15">
                <v-text-field
                  label="Titel deiner Idee eingeben..."
                  auto-grow
                  v-model="item.headline"
                  variant="underlined"
                  hide-details="auto"
                  density="compact"
                  clear-icon="mdi-close-circle"
                  clearable
                  counter
                  maxlength="50"
                  type="text"
                  @click:append=""
                  error-messages=""
                >
                </v-text-field>
              </div>
              <div class="my-15">
                <v-textarea
                  rows="12"
                  density="compact"
                  v-model="item.content"
                  variant="underlined"
                  counter
                  label="Beschreibe deine Idee..."
                  maxlength="500"
                  clear-icon="mdi-close-circle"
                  clearable
                >
                </v-textarea>
              </div>
              <div class="d-flex align-center my-2 has-text-grey-dark justify-space-between">
                <v-btn 
                  append-icon="mdi-plus"
                  variant="outlined"
                  rounded="pill"
                  color="white"
                  @click="create()"
                  >
                  Neue Idee vorschlagen
                </v-btn>
              </div>
            </div>
            <div v-else>
              Deine Idee wurde erfolgreich erstellt und befindet sich nun in Prüfung.
              <div class="mt-5">
                <v-btn 
                  append-icon="mdi-plus"
                  variant="outlined"
                  rounded="pill"
                  color="white"
                  @click="alreadySent = !alreadySent"
                  >
                  Neue Idee vorschlagen
                </v-btn>
              </div>
            </div>
          </div>
        </v-col>
        <v-col v-if="currentUser && useDatetime().isInPast(pinboardCat?.end_time)">
          <div class="has-text-white categories new-idea-box pa-5">
            <div class="py-3">
              <h2 v-if="!alreadySent">Eine Idee erstellen</h2>
            </div>
            <v-divider class="py-2"></v-divider>
            <span>Diese Pinnwand ist abgelaufen. Es können keine Ideen mehr erstellt werden. </span>
          </div>
        </v-col>
        <v-col v-if="!currentUser">
          <div class="has-text-white categories new-idea-box pa-5">
            <div class="py-3">
              <h2 v-if="!alreadySent">Eine Idee erstellen</h2>
            </div>
            <v-divider class="py-2"></v-divider>
            <span>Bitte melde dich an um eine Idee zu erstellen. </span>
            <router-link class="text-decoration-underline" to="/login">Login</router-link>
          </div>
        </v-col>
      </v-row>
    </div>
  <PublicFooter />
</template>

<script lang="ts">
  import { useUserStore } from '@/store/user'
  import { ResultStatus } from '@/types/serverCallResult'
  export default defineComponent({
  name: 'Pinboards',

  setup() {
    definePageMeta({
      layout: "public",
    })

    const errors = ref([])
    const router = useRouter()
    const route = useRoute()
    const itemId = ref(null)
    const currentUser = ref(useUserStore().currentUser)
    const loadingItem = ref(false)
    const alreadySent = ref(false)
    const pinboardCat = ref(null)
    const item = ref({
      headline: '',
      content: '',
      status:'is_checked'
    })
    
    const pinboardId = computed(() => {
      return route.params.id
    })

    onMounted(() => {
      getItens()
      getPinboard()
    })
    const ideaUpvoted = ref(false)

    const api = useCollectionApi()

    const getItens = async () => {
      loadingItem.value = true
      const options = { page: 1, per_page: 1000, sort_by: 'menu_order', sort_order: 'DESC', searchQuery: null, concat: false, filters: [] }
      if (useUser().loggedIn()) {
        api.setBaseApi(usePrivateApi())
      } else {
        api.setBaseApi(usePublicApi())
      }
      api.setEndpoint(`pinboard_ideas/pinboard/${pinboardId.value}`)
      await api.retrieveCollection(options)
      loadingItem.value = false
    }
    const pinboardIdeas = api.items

   
    const getPinboard = async () => {
      loadingItem.value = true
      api.setEndpoint(`pinboards/${route.params.id}`)
      await api.getItem()
      pinboardCat.value = api.item.value
    }
    
    const create = async () => {
      loadingItem.value = true
      api.setEndpoint(`pinboard_ideas/pinboard/${pinboardId.value}`)
      const result = await api.createItem(item.value, 'Idee erfolgreich erstellt')
      loadingItem.value = false
      if (result.status === ResultStatus.SUCCESSFUL) {
        alreadySent.value = true
        getPinboard()
        getItens()
        item.value.content = null
        item.value.headline = null
      } else {
        errors.value = result.data
      }
    }

    const goBack = () => {
      router.go(-1)
    }

    const sendMessage = () => {
      loadingItem.value = true
      create()
      alreadySent.value = true
      loadingItem.value = false
    }

    const handleVote = async (id:any, kind:any) => {
      if (kind === 'upvote' && ideaUpvoted.value === true) {
        api.setEndpoint(`pinboard_ideas/${id}/remove_vote`)
        await api.deleteItem(null)
        ideaUpvoted.value = false
        getItens()
      } else {
        api.setEndpoint(`pinboard_ideas/${id}/${kind}`)
        await api.updateItem({}, null)
        if (kind === 'upvote' && ideaUpvoted.value === false) {
          ideaUpvoted.value = true
          getItens()
        }
      }
    }

    return {
      getItens,
      pinboardIdeas,
      pinboardCat,
      pinboardId,
      itemId,
      item,
      loadingItem,
      goBack,
      create,
      alreadySent,
      errors,
      sendMessage,
      handleVote,
      ideaUpvoted,
      currentUser
    }
  }
})
</script>

<style lang="sass" scoped>

.categories
  background-color: rgb(53, 139, 188, 0.3)
  border-radius: 20px

.content
  border-radius: 20px
  display: flex
  flex-direction: column
  width: 100%
  height: auto

.title
  font-weight: 600

.main-columns
  margin-bottom: auto

.item-content
  min-height: 150px

</style>