<template>
  <div class="has-text-white">
    <h1>Ideenpinnwände</h1>
    <v-row>
      <v-col>
        <v-row>
          <v-col md="8">
            <div class="my-3">
              <p>Willkommen in unserem Ideenbereich. Mit der Ideenpinnwand möchten wir dir die Möglichkeit bieten, dich aktiv an aktuellen Projektideen für den Landkreis zu beteiligen. Hier findest du Pinnwände zu aktuellen Themen aus dem Sankt Wendeler Land. Zu jeder Pinnwand kannst du deine eigene Idee beitragen oder die Wünsche anderer Personen lesen und positiv bewerten. Wir prüfen die Ideen intern und schalten sie nach kurzer Zeit frei. Wir freuen uns auf deine Ideen und Anregungen!</p>
            </div>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row>
      <v-col md="8" sm="12" class="my-5 order-md-first order-sm-last">
        <PublicPinboards  :selectedCategories="selectedCategories" />
      </v-col>
      <v-col md="4" sm="12" class="my-5 order-sm-first order-md-last order-first">
        <PublicPinboardsFilters @applyPinboardCategoryFilter="applyPinboardCategoryFilter" />
      </v-col>
    </v-row>
  </div>
  <PublicFooter />
</template>

<script lang="ts">
  export default defineComponent({
  name: 'PinboardsCategories',
  setup() {
    definePageMeta({
      layout: "public",
    })

    const selectedCategories = ref([])
   
    const applyPinboardCategoryFilter = (value:any) => {
      selectedCategories.value = value
    }

    const getItems = async (concat = false) => {
      const filters = []

      if (selectedCategories.value.length > 0) {
        filters.push({
          field: 'category',
          value: selectedCategories.value
        })
      }
    }

    onMounted(() => {

    })

    return {
      selectedCategories,
      applyPinboardCategoryFilter,
      getItems

    }
  }
})
</script>

<style lang="sass" scoped>


  
</style>