<template>
  <div>
   <h2>Tooltips</h2>

    <v-btn elevation="0" variant="outlined" @click="itemId = null; createEditDialogOpen = true">Neuer Tooltip</v-btn>

    <DataTable
      :fields="fields"
      :items="tooltips"
      @openCreateEditDialog="openCreateEditDialog"
      @openDeleteDialog="openDeleteDialog"
    />

    <AdminTooltipsCreateEdit
      :item-id="itemId"
      v-if="createEditDialogOpen"
      @close="itemId = null; createEditDialogOpen = false"
      @refreshCollection="getItems()"
    />
    <DeleteItem
      v-if="confirmDeleteModalOpen"
      @close="itemId = null; confirmDeleteModalOpen = false"
      :item-id="itemId"
      endpoint="tooltips"
      term="diesen Tooltip"
      @refreshCollection="getItems()"
    />
  </div>
</template>

<script lang="ts">
export default defineComponent({
  setup() {
    definePageMeta({
      layout: "default",
    })

    const fields = ref([
      { text: 'Name', value: 'name', type: 'string' },
      { text: 'Inhalt', value: 'content', type: 'string' },
      { text: 'Url', value: 'url', type: 'string' }
    ])
    
    const dialog = ref(false)
    const loading = ref(false)
    const createEditDialogOpen = ref(false)
    const confirmDeleteModalOpen = ref(false)
    const itemId = ref(null)

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint('tooltips')
    const tooltips = api.items

    onMounted(() => {
      getItems()
    })

    const getItems = async () => {
      loading.value = true
      const options = { page: 1, per_page: 1000, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: null, concat: false, filters: [] }
      await api.retrieveCollection(options)
      loading.value = false
    }

    const openCreateEditDialog = (id) => {
      itemId.value = id
      createEditDialogOpen.value = true
    }

    const openDeleteDialog = (id) => {
      itemId.value = id
      confirmDeleteModalOpen.value = true
    }

    return {
      fields,
      tooltips,
      loading,
      dialog,
      createEditDialogOpen,
      confirmDeleteModalOpen,
      itemId,
      openCreateEditDialog,
      openDeleteDialog,
      getItems
    }
  }
})
</script>
<style lang="sass">
.v-dialog--custom
  width: 30%
</style>