<template>
  <div>
   <h2>Kommentarmeldungen</h2>

    <DataTable
      :fields="fields"
      :items="comment_reports"
      :disable-edit="true"
      @openDeleteDialog="openDeleteDialog"
      @goToComment="goToComment"
      @goToCommentUser="goToCommentUser"
      @goToReportedUser="goToReportedUser"
    />

    <DeleteItem
      v-if="confirmDeleteModalOpen"
      @close="itemId = null; confirmDeleteModalOpen = false"
      :item-id="itemId"
      endpoint="comment_reports"
      term="diese Meldung"
      @refreshCollection="getItems()"
    />
  </div>
</template>

<script lang="ts">
export default defineComponent({
  setup() {
    definePageMeta({
      layout: "default",
    })

    const fields = ref([
      { text: 'Kommentar', value: 'comment', type: 'association_name' },
      { text: 'Projekt', value: 'project', type: 'association_name' },
      { text: 'Komentar von', value: 'comment_user', type: 'association_name', emit: 'goToCommentUser' },
      { text: 'gemeldet von', value: 'user', type: 'association_name', emit: 'goToReportedUser' },
      { text: 'gemeldet am', value: 'created_at', type: 'datetime' },
      { text: '', value: 'mdi-open-in-new', type: 'icon', emit: 'goToComment', tooltip: 'Zum Kommentar' },
    ])
    
    const dialog = ref(false)
    const loading = ref(false)
    const confirmDeleteModalOpen = ref(false)
    const itemId = ref(null)
    const router = useRouter()

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint('comment_reports')
    const comment_reports = api.items

    onMounted(() => {
      getItems()
    })

    const getItems = async () => {
      loading.value = true
      const options = { page: 1, per_page: 1000, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: null, concat: false, filters: [] }
      await api.retrieveCollection(options)
      loading.value = false
    }

    const openDeleteDialog = (id) => {
      itemId.value = id
      confirmDeleteModalOpen.value = true
    }

    const goToCommentUser = (id) => {
      const report = comment_reports.value.find(report => report.id === id)
      if (report) {
        router.push({path: `/admin/users`, query: { user_id: report.comment_user.id }})
      }
    }

    const goToReportedUser = (id) => {
      const report = comment_reports.value.find(report => report.id === id)
      if (report) {
        router.push({path: `/admin/users`, query: { user_id: report.user.id }})
      }
    }

    const goToComment = (id) => {
      const report = comment_reports.value.find(report => report.id === id)
      if (report) {
        router.push({path: `/public/projects/${report.project.id}`, query: { comment_id: report.comment.id }})
      }
    }

    return {
      fields,
      comment_reports,
      loading,
      dialog,
      confirmDeleteModalOpen,
      itemId,
      openDeleteDialog,
      getItems,
      goToComment,
      goToCommentUser,
      goToReportedUser
    }
  }
})
</script>
<style lang="sass">
.v-dialog--custom
  width: 30%
</style>