<template>
  <div>
   <h2>Nachrichten</h2>

    <DataTable
      :fields="fields"
      :items="messages"
      :disable-edit="true"
      @openShowMessageDialog="openShowMessageDialog"
      @openDeleteDialog="openDeleteDialog"
    />

    <AdminMessagesShowMessage
      :item-id="itemId"
      v-if="showMessageDialogOpen"
      @close="itemId = null; showMessageDialogOpen = false"
      @refreshCollection="getItems()"
    />
    <DeleteItem
      v-if="confirmDeleteModalOpen"
      @close="itemId = null; confirmDeleteModalOpen = false"
      :item-id="itemId"
      endpoint="messages"
      term="diese Nachricht"
      @refreshCollection="getItems()"
    />
  </div>
</template>

<script lang="ts">
export default defineComponent({
  name: 'AdminCategoriesIndex',
  setup() {
    definePageMeta({
      layout: "default",
    })

    const fields = ref([
      { text: 'Beantwortet', endpoint: 'messages', type: 'switch', fieldToSwitch: 'replied' },
      { text: 'Betreff', value: 'subject', type: 'string', emit: 'openShowMessageDialog' },
      { text: 'Projekt', value: 'project', type: 'association_name', emit: 'openShowMessageDialog' },
      { text: 'eingetroffen am', value: 'created_at', type: 'datetime' },
      { text: '', value: 'mdi-information-outline', type: 'icon', emit: 'openShowMessageDialog', tooltip: 'Infos zur Nachricht' },
    ])
    
    const dialog = ref(false)
    const loading = ref(false)
    const showMessageDialogOpen = ref(false)
    const confirmDeleteModalOpen = ref(false)
    const itemId = ref(null)

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint('messages')
    const messages = api.items

    onMounted(() => {
      getItems()
    })

    const getItems = async () => {
      loading.value = true
      const options = { page: 1, per_page: 1000, sort_by: 'created_at', sort_order: 'DESC', searchQuery: null, concat: false, filters: [] }
      await api.retrieveCollection(options)
      loading.value = false
    }

    const openShowMessageDialog = (id) => {
      itemId.value = id
      showMessageDialogOpen.value = true
    }

    const openDeleteDialog = (id) => {
      itemId.value = id
      confirmDeleteModalOpen.value = true
    }

    return {
      fields,
      messages,
      loading,
      dialog,
      showMessageDialogOpen,
      confirmDeleteModalOpen,
      itemId,
      openShowMessageDialog,
      openDeleteDialog,
      getItems
    }
  }
})
</script>
<style lang="sass">
.v-dialog--custom
  width: 30%
</style>