<template>
  <div :class="[(!minimalize ? 'poll-box-small' : 'poll-box')]" v-if="showingTeaser">
    <img v-if="minimalize" class="close has-cursor-pointer" src="~/assets/images/icon-times.svg" height="20" @click="minimalize = !minimalize" />
    <div @click="minimalize = !minimalize" class="bubble has-cursor-pointer">
      <img src="@/assets/images/poll.svg" />
    </div>
    <div v-if="minimalize" class="mb-15">
      <div class="headline has-text-grey">{{ title }}</div>
      <div class="has-text-primary is-size-small">Dauert weniger als 1 Minute</div>
      <div class="has-text-primary is-size-small" v-if="poll.ends_at && !useDatetime().isInPast(poll.ends_at)">Umfrage endet am {{ useDatetime().parseDate(poll.ends_at)}}</div>
      <div class="has-text-danger is-size-small" v-else-if="poll.ends_at && useDatetime().isInPast(poll.ends_at)">Umfrage ist beendet</div>
    </div>
    <div v-if="minimalize" :class="['footer teaser', { 'inactive' : poll.ends_at && useDatetime().isInPast(poll.ends_at)}]" @click="emitSetPoll">An Umfrage teilnehmen</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  emits: ['setPoll', 'close'],
  props: {
    title: {
      type: String,
      default: ''
    },
    poll: {
      type: Object,
      required: true
    }
  },
  setup(props, { emit }) {
    const emitSetPoll = () => {
      if (props.poll.ends_at && useDatetime().isInPast(props.poll.ends_at)) {
        return
      }
      emit('setPoll', props.poll.id)
    }
    const showingTeaser = ref(false)

    useNuxtApp().$bus?.$on('tutorialSet', () => {
      showingTeaser.value = true
    })

    useNuxtApp().$bus?.$on('openTutorialAgain', () => {
      showingTeaser.value = false
    })

    const emitClose = () => {
      emit('close')
    }
    const minimalize = ref(true)

    onMounted(() => {
      const showStorage = localStorage.getItem('platform_tutorial')
      if (!showStorage) {
        showingTeaser.value = false
      } else {
        showingTeaser.value = true
      }
      const showStorage2 = localStorage.getItem(`smawela_poll_completed_${props.poll.id}`)
      if (showStorage2) {
        showingTeaser.value = false
      }
    })

    return {
      emitSetPoll,
      emitClose,
      minimalize,
      showingTeaser,
    }
  },
})
</script>

<style lang="sass" scoped>
.poll-box-small
  background: #FFFFFF
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)
  border-radius: 20px
  width: 270px
  height: 0px
  position: fixed
  bottom: 10%
  right: -5%
  text-align: center
  display: grid
  place-items: center
  z-index: 10000
  transition-timing-function: ease-out
  transition: .3s
  .bubble
    background: #ABC812
    border-radius: 50%
    height: 60px
    width: 60px
    display: grid
    place-items: center
    color: white
    font-size: 40px
    position: absolute
    top: -30px
</style>