<template>
  <v-app>
    <ClientOnly>
      <v-navigation-drawer permanent>
        <router-link to="/admin">
          <img class="mt-3 ml-3" src="~/assets/images/logo.png" height="60" />
        </router-link>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-h6">
              Projektplattform
            </v-list-item-title>
            <v-list-item-subtitle>
              Smart Wendeler Land
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list
          dense
          nav
        >
          <v-list-item link to="/" nuxt>
            <v-icon>mdi-arrow-left</v-icon> Zurück zur Webseite
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item link to="/admin/matomo" nuxt>
            <v-icon>mdi-arrow-left</v-icon> Zu den Statistiken
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item link to="/admin" nuxt>
            Dashboard
          </v-list-item>
          <v-list-item link to="/admin/categories" nuxt>
            Kategorien
          </v-list-item>
          <v-list-item link to="/admin/communities" nuxt>
            Gemeinden
          </v-list-item>
          <v-list-item link to="/admin/projects" nuxt>
            Projekte
          </v-list-item>
          <v-list-item link to="/admin/polls" nuxt>
            Umfragen
          </v-list-item>
          <v-list-item link to="/admin/messages" nuxt>
            Nachrichten
          </v-list-item>
          <v-list-item link to="/admin/tooltips" nuxt>
            Tooltips
          </v-list-item>
          <v-list-item link to="/admin/comment_reports" nuxt>
            Kommentarmeldungen
          </v-list-item>
          <v-list-item link to="/admin/gamification_games" nuxt>
            Gamification
          </v-list-item>
          <v-list-item link to="/admin/pinboards" nuxt>
            Ideenpinnwände
          </v-list-item>
          <v-list-item link to="/admin/users" nuxt>
            Benutzer
          </v-list-item>
          <v-list-item @click="useUser().logout()">
            <v-icon>mdi-logout</v-icon> Logout
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-main>
        <v-container :fluid="true">
          <slot />
        </v-container>
      </v-main>
      <Snackbar></Snackbar>
    </ClientOnly>
  </v-app>
</template>

<script lang="ts">
</script>