<template>
  <div>
   <h2>Kategorien</h2>

    <v-btn elevation="0" variant="outlined" @click="itemId = null; createEditDialogOpen = true">Neue Kategorie</v-btn>

    <DataTable
      :fields="fields"
      :items="categories"
      endpoint="categories"
      @openCreateEditDialog="openCreateEditDialog"
      @openDeleteDialog="openDeleteDialog"
      @getItems="getItems"
    />

    <AdminCategoriesCreateEdit
      :item-id="itemId"
      v-if="createEditDialogOpen"
      @close="itemId = null; createEditDialogOpen = false"
      @refreshCollection="getItems()"
    />
    <DeleteItem
      v-if="confirmDeleteModalOpen"
      @close="itemId = null; confirmDeleteModalOpen = false"
      :item-id="itemId"
      endpoint="categories"
      term="diese Kategorie"
      @refreshCollection="getItems()"
    />
  </div>
</template>

<script lang="ts">
export default defineComponent({
  name: 'AdminCategoriesIndex',
  setup() {
    definePageMeta({
      layout: "default",
    })

    const fields = ref([
      { text: '', type: 'move_down' },
      { text: '', type: 'move_up' },
      { text: 'Name', value: 'name', type: 'string' },
      { text: 'Art', value: 'scope', type: 'enum', enum_name: 'categories' },
      { text: 'Projekte/Pinnwände', value: 'projects_count', type: 'string' },
    ])
    
    const dialog = ref(false)
    const item = ref({ name: '' })
    const loading = ref(false)
    const createEditDialogOpen = ref(false)
    const confirmDeleteModalOpen = ref(false)
    const itemId = ref(null)

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint('categories')
    const categories = api.items

    onMounted(() => {
      getItems()
    })

    const getItems = async () => {
      loading.value = true
      const options = { page: 1, per_page: 1000, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: null, concat: false, filters: [] }
      await api.retrieveCollection(options)
      loading.value = false
    }

    const openCreateEditDialog = (id:any) => {
      itemId.value = id
      createEditDialogOpen.value = true
    }

    const openDeleteDialog = (id:any) => {
      itemId.value = id
      confirmDeleteModalOpen.value = true
    }

    return {
      fields,
      categories,
      loading,
      dialog,
      item,
      createEditDialogOpen,
      confirmDeleteModalOpen,
      itemId,
      openCreateEditDialog,
      openDeleteDialog,
      getItems
    }
  }
})
</script>
<style lang="sass">
.v-dialog--custom
  width: 30%
</style>