<template>
  <div class="has-text-white">
    <h1>Impressum</h1>
    <v-container>
      <h2>Herausgeber:</h2>
      <p>Landkreis Sankt Wendel</p>
      <p>Landrat Udo Recktenwald</p>
      <p>Mommstraße 21-31</p>
      <p>D-66606 St.Wendel</p>
      <p>Tel.: (0049) 6851-801-0</p>
      <p>Fax. (0049) 6851-801-2290</p>
      <p>E-Mail: Info(at)lkwnd.de</p>
      <p>Internet: www.landkreis-st-wendel.de</p>
      <p>Körperschaft des Öffentlichen Rechts</p>
      <p>Steuernummer: 60 144 00 204</p>
      <p>Ust.-Identifikationsnummer: DE 13 82 44 018</p>
    </v-container>
    <v-container>
    <h2>Redaktion:</h2>
      <p>Die Internetseiten des Landkreises Sankt Wendel werden durch das Amt für Presse- und Öffentlichkeitsarbeit des Landkreises Sankt Wendel betreut und gepflegt.</p>
    </v-container>
    <v-container>
      <h2>Nutzungsbedingungen</h2>
      <p>Texte, Bilder, Grafiken sowie die Gestaltung dieser Internetseiten unterliegen dem Urheberrecht. Sie dürfen von Ihnen nur zum privaten und sonstigen eigenen Gebrauch im Rahmen des § 53 Urheberrechtsgesetz (UrhG) verwendet werden. Eine Vervielfältigung oder Verwendung dieser Seiten oder Teilen davon in anderen elektronischen oder gedruckten Publikationen und deren Veröffentlichung ist nur mit unserer Einwilligung gestattet. Diese erteilen auf Anfrage die für den Inhalt Verantwortlichen. Weiterhin können Texte, Bilder, Grafiken und sonstige Dateien ganz oder teilweise dem Urheberrecht Dritter unterliegen. Auch über das Bestehen möglicher Rechte Dritter geben Ihnen die für den Inhalt Verantwortlichen nähere Auskünfte.
      Der Nachdruck und die Auswertung von Pressemitteilungen und Reden sind mit Quellenangabe allgemein gestattet.</p>
    </v-container>
    <v-container>
      <h2>Bildnachweis</h2>
      <p>Landkreis St. Wendel</p>
    </v-container>
    <v-container>
    <h2>Haftungsausschluss</h2>
      <p>Alle auf dieser Internetseite bereitgestellten Informationen haben wir nach bestem Wissen und Gewissen erarbeitet und geprüft. Eine Gewähr für die jederzeitige Aktualität, Richtigkeit, Vollständigkeit und Verfügbarkeit der bereit gestellten In-formationen können wir allerdings nicht übernehmen. Ein Vertragsverhältnis mit den Nutzern des Internetangebots kommt nicht zustande.
      Wir haften nicht für Schäden, die durch die Nutzung dieses Internetangebots entstehen. Dieser Haftungsausschluss gilt nicht, soweit die Vorschriften des § 839 BGB (Haftung bei Amtspflichtverletzung) einschlägig sind. Für etwaige Schäden, die beim Aufrufen oder Herunterladen von Daten durch Schadsoftware oder der Installation oder Nutzung von Software verursacht werden, wird nicht gehaftet.</p>
    </v-container>
    <v-container>
      <h2>Links</h2>
      <p>Von unseren eigenen Inhalten sind Querverweise („Links“) auf die Webseiten anderer Anbieter zu unterscheiden. Durch diese Links ermöglichen wir lediglich den Zugang zur Nutzung fremder Inhalte nach § 8 Telemediengesetz. Bei der erstmaligen Verknüpfung mit diesen Internetangeboten haben wir diese fremden Inhalte daraufhin überprüft, ob durch sie eine mögliche zivilrechtliche oder strafrechtliche Verantwortlichkeit ausgelöst wird. Wir können diese fremden Inhalte aber nicht ständig auf Veränderungen überprüfen und daher auch keine Verantwortung dafür übernehmen. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung von Informationen Dritter entstehen, haftet allein der jeweilige Anbieter der Seite.</p>
    </v-container>
    <v-container>
      <h2>Umsetzung</h2> 
      <h4>Konzeption, Design und Entwicklung</h4>
      <p>Pocket Rocket GmbH</p>
      <p>Essener Straße 4</p>
      <p>66606 St. Wendel</p>
      <p>info(at)pocket-rocket.io</p>
      <p>www.pocket-rocket.io</p>
    </v-container>
  <PublicFooter />
</div>
</template>

<script lang="ts">

export default defineComponent({
  name: 'imprint',
  setup() {
    const matomo: any = inject('Matomo')

    definePageMeta({
      layout: "public",
    })

  }
})
</script>

<style lang="sass" scoped>
</style>
