<template>
  <div class="mt-10">
    <!--<PublicDisclaimer />-->
    <h1>PROJEKTÜBERSICHT</h1>
    <ClientOnly>
      <PublicProjects />
    </ClientOnly>
    <PublicPolls
      v-if="useUser().loggedIn()"
    />
    <PublicLogoutTeaser />
    <PublicFooter />
  </div>
</template>

<script lang="ts">
export default defineComponent({
  name: 'Index',
  setup() {
    definePageMeta({
      layout: "public",
    })
  }
})
</script>

<style lang="sass" scoped>

</style>