<template>
  <v-row>
    <v-col sm="3" md="4" offset-sm="4">
      <v-card  :class="['pa-6', {'shake' : animated}]">
        <img class="is-fullwidth" src="~/assets/images/logo.png" />

        <div class="field">
          <v-text-field v-model="email"
            class="pt-6"
            label="E-Mail Adresse"
            hide-details="auto"
          />
        </div>
        <div class="field">
          <v-text-field v-model="password"
            type="password"
            label="Passwort"
            :error-messages="useErrors().mapError(errors)"
            hide-details="auto"
            @keydown.enter="auth"
          />
        </div>
        <v-checkbox
          v-model="neverExpire"
          label="Angemeldet bleiben"
          hide-details
        />
        <v-btn color="primary" block depressed @click="auth">Login</v-btn>
        <nuxt-link to="/password_forgotten"><div align="center" class="mt-2">Passwort vergessen?</div></nuxt-link>
        <nuxt-link to="/register"><div align="center" class="mt-6">Noch keinen Account? Jetzt registrieren!</div></nuxt-link>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { useUserStore } from '@/store/user'
import { ResultStatus, ServerCallResult } from '@/types/serverCallResult'
import axios from 'axios'
export default defineComponent({
  name: 'Login',
  setup() {

    definePageMeta({
      layout: "public",
    }) 

    const email = ref('')
    const password = ref('')
    const loading = ref(false)
    const animated = ref(false)
    const errors = ref('')
    const lastRoute = ref(null)
    const neverExpire = ref(false)

    const router = useRouter()
    const privateApi = usePrivateApi()
    const userStore = useUserStore()

    const auth = async () => {
      loading.value = true
      errors.value = ''
      const data = { email: email.value, password: password.value, never_expire: neverExpire.value, scope: 'project' }

      const {data: result} = await axios.post<ServerCallResult>("/api/login", {data});

      if (result.status === ResultStatus.SUCCESSFUL) {
        const jwt = result.data.jwt_token
        localStorage.setItem('auth._token.jwt', jwt)
        localStorage.setItem('project_platform._remembered_email', email.value)

        // set user
        userStore.currentUser = await result.data.user
        if (result.data.user) {
          // move to dashboard
          if (lastRoute.value && lastRoute.value.length > 0 && lastRoute.value !== '/password_forgotten' && lastRoute.value !== '/password_reset') {
            router.push({ path: lastRoute.value })
          } else if (result.data.user.role === 'user') {
            router.push({ path: '/' })
          } else {
            router.push({ path: '/admin' })
          }
        }
      } else {
        errors.value = result.data
        loading.value = false

        // animate shake
        animated.value = true
        setTimeout(() => {
          animated.value = false
        }, 2000)
      }
    }

    onMounted(() => {
      lastRoute.value = router.options.history.state.back
      const rememberedEmail = localStorage.getItem('project_platform._remembered_email')
      if (rememberedEmail) {
        setTimeout(() => {
          email.value = rememberedEmail
        }, 300)
      }
    })

    return {
      email,
      password,
      loading,
      animated,
      errors,
      auth,
      neverExpire
    }
  }
})
</script>

<style lang="css" scoped>
.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
</style>