<template>
  <div class="has-text-white">
    <h1>Datenschutzerklärung</h1>
    <v-container>
     <h2>1. Allgemeine Hinweise</h2> 
      <p>Wir behandeln personenbezogene Daten gemäß der gesetzlichen Datenschutzvorschriften insbesondere der DS-GVO und dem Saarländischen Datenschutzgesetz.
      <br>
      <br>
      Wenn Sie diese Projektplattform benutzen, werden je nach Art und Umfang der Nutzung verschiedene personenbezogene Daten verarbeitet. Personenbezogene Daten sind Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden „betroffene Person“) beziehen; als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt (z. B. mittels Zuordnung zu einer Online-Kennung) identifiziert werden kann. Darunter fallen Informationen wie der Name, die Anschrift oder die Telefonnummer.
      <br>
      <br>
      Die vorliegende Datenschutzerklärung informiert Sie gemäß Art. 12 ff. DSGVO über den Umgang mit Ihren personenbezogenen Daten bei der Nutzung unserer Projektplattform. Sie erläutert insbesondere, welche Daten wir erheben und wofür wir sie nutzen. Zudem informiert sie Sie darüber, wie und zu welchem Zweck das geschieht.
      <br>
      <br>
      Diese Datenschutzerklärung bezieht sich ausdrücklich auf die Projektplattform spezifischen Datenverarbeitungsprozesse beim Besuch unserer Projektplattform unter unser.smart-wendeler-land.de. Bitte berücksichtigen Sie – soweit für Sie zutreffend – daher auch unsere weiteren Datenschutzhinweise, die Sie in Ihrer jeweils gültigen Fassung jederzeit hier abrufen können.
      <br>
      <br>
      Die Projektplattform ist darüber hinaus unter folgenden Domains erreichbar:</p>
      <p>unser.smawela.de</p>
      <p>unser.smartwendelerland.de</p>
    </v-container>
    <v-container>
      <h2>2. Verantwortlicher</h2>
        <p>Verantwortlicher ist die natürliche oder juristische Person, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z. B. Namen, E-Mail-Adressen) entscheidet. Verantwortlicher im Sinne der DSGVO und der geltenden nationalen Datenschutzgesetze (insbesondere BDSG und SDSG) sowie sonstiger datenschutzrechtlicher Bestimmungen ist die:</p>
        <br>
        <p>Landkreis St. Wendel</p>
        <p>Mommstr. 21 - 31</p>
        <p>66606 St. Wendel</p>
        <p>Telefon: (06851) 801 - 0</p>
        <p>E-Mail: info@lkwnd.de</p>
        <br>
        <p>Vertretungsberechtigter:</p>
        <p>Landrat Udo Recktenwald</p>
    </v-container>
    <v-container>
      <h2>3. Der behördliche Datenschutzbeauftragte</h2>
        <p>Kontaktdaten des behördlichen Datenschutzbeauftragten:</p>
        <br>
        <p>Landkreis St. Wendel</p>
        <p>Datenschutzbeauftragter Christian Kaster</p>
        <p>Mommstr. 21 - 31</p>
        <p>66606 St. Wendel</p>
        <p>Telefon: (06851) 801 - 2500</p>
        <p>E-Mail: datenschutz@lkwnd.de</p>
    </v-container>
    <v-container>
      <h2>4. Zwecke und Rechtsgrundlagen der Verarbeitung von Daten</h2>
      <h3>4.1. Aufruf und Besuch unserer Projektplattform – Server-Log-Dateien</h3>
      <br>
        <p>Zum Zweck der technischen Bereitstellung der Projektplattform, ist es erforderlich, dass wir bestimmte, durch Ihren Browser automatisch übermittelte Informationen verarbeiten, damit unsere Projektplattform in Ihrem Browser angezeigt werden kann und Sie die Projektplattform nutzen können. Diese Informationen werden bei jedem Aufruf unserer Projektplattform automatisch erfasst und automatisch in so genannten Server-Log-Dateien gespeichert. Dies sind:</p>
        <br>
        <p>•	Browsertyp und Browserversion</p>
        <p>•	verwendetes Betriebssystem</p>
        <p>•	Webseite, von der aus der Zugriff erfolgt (Referrer URL)</p>
        <p>•	Hostname des zugreifenden Rechners</p>
        <p>•	Datum und Uhrzeit des Zugriffs</p>
        <p>•	IP-Adresse des anfragenden Rechners</p>
        <p>•	Die konkret aufgerufene Seite </p>
        <br>
        <p>Die Speicherung der vorgenannten Zugriffsdaten ist zur Bereitstellung einer funktionsfähigen Projektplattform und zur Sicherstellung der Systemsicherheit aus technischen Gründen erforderlich. Dies gilt auch für die Speicherung Ihrer IP-Adresse, die notwendigerweise erfolgt und unter weiteren Voraussetzungen zumindest theoretisch eine Zuordnung zu Ihrer Person ermöglichen kann. Über die vorstehend genannten Zwecke hinaus verwenden wir Server-Log-Dateien ausschließlich zur bedarfsgerechten Gestaltung und Optimierung unseres Internetangebotes rein statistisch und ohne Rückschluss auf Ihre Person. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen, auch eine Auswertung der Daten zu Marketingzwecken findet nicht statt. Die im Rahmen der Nutzung unserer Projektplattform erhobenen Zugriffsdaten werden nur für den Zeitraum aufbewahrt, für den diese Daten zur Erreichung der vorstehenden Zwecke benötigt werden. Ihre IP-Adresse wird hierbei zu Zwecken der IT-Sicherheit auf unserem Webserver für maximal 7 Tage gespeichert. Rechtsgrundlage für die vorübergehende Speicherung der technischen Zugriffsdaten ist Art. 6 Abs. 1 S. 1 lit. f DSGVO. Unser berechtigtes Interesse besteht hierbei darin, Ihnen eine technisch funktionierende und benutzerfreundlich gestaltete Projektplattform zur Verfügung stellen zu können sowie die Sicherheit unserer Systeme zu gewährleisten.</p>
        <br>
        <h3>4.2 Kontaktaufnahme</h3>
          <p>Wenn Sie mit uns kontaktieren, werden Ihre Nachricht / Mitteilung inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung und Beantwortung der Anfrage sowie für den Fall von Anschlussfragen bei uns gespeichert und entsprechend weiterverarbeitet. Diese Daten geben wir nicht an Dritte weiter, es sei denn, dies ist im Rahmen der Bearbeitung und Beantwortung Ihrer Anfrage erforderlich oder Sie haben uns Ihre entsprechende Einwilligung erteilt. Wir verarbeiten die Daten auf Grundlage von Art. 6 Abs. 1 S. 1 lit. a DSGVO (Einwilligung für einen bestimmten Verarbeitungszweck) oder auf Grundlage von Art. 6 Abs. 1 S. 1 lit. b DSGVO (Erfüllung vertraglicher oder vorvertraglicher Pflichten). Wir löschen die Daten, wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt abschließend geklärt ist oder schränken die Verarbeitung der Daten ein, wenn vertragliche und/oder gesetzliche Pflichten bestehen.</p>
        <br>
        <h3>4.3 Verwendung von Cookies und zugehöriger Funktionen/Technologien</h3>
          <p>Wir setzen auf unserer Website teilweise so genannte Cookies ein. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen und die Bereitstellung bestimmter Funktionen zu ermöglichen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Ein Cookie enthält eine charakteristische Zeichenfolge, die eine eindeutige Identifizierung Ihres Browsers beim erneuten Aufrufen der Website ermöglicht.</p>
          <br>
          <p>Die meisten der von uns verwendeten Cookies sind so genannte “Session-Cookies”. Sie werden nach Ende Ihres Besuchs bzw. Ihrer Browser-Sitzung automatisch gelöscht (sog. transiente Cookies). Andere Cookies bleiben auf Ihrem Endgerät für eine vorgegebene Dauer bzw. bis Sie diese löschen gespeichert (sog. persistente Cookies). Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen. Auf schriftliche Anfrage sind wir gerne bereit, weitere Auskünfte zu den verwendeten funktionalen Cookies zu geben. Bitte wenden Sie sich dann an die o.g. Kontaktdaten.</p>
          <br>
          <p>Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browsers aktivieren. Die Vorgehensweise zur Deaktivierung von Cookies können Sie regelmäßig über die „Hilfe“-Funktion Ihres Internet-Browsers erhalten. Bei der Deaktivierung von Cookies können die Funktionalität und/oder die vollständige Verfügbarkeit dieser Website eingeschränkt sein. Für weitergehende cookiespezifische Einstellungs- und Deaktivierungsmöglichkeiten sehen Sie bitte nachfolgend zudem die Einzelerläuterungen zu den im Rahmen des Besuchs unserer Website konkret verwendeten Cookies und zugehörigen Funktionen/Technologien.</p>
          <br>
          <p>Einige der Cookies, die wir auf unserer Website verwenden, stammen von Dritten, die uns helfen, die Wirkung unserer Websiteinhalte und Interessen unserer Besucher zu analysieren, die Leistung und Performance unserer Website zu messen oder bedarfsgerechte Werbung und anderen Content auf unsere oder andere Websites zu setzen. Mit Ihrer Einwilligung verwenden wir die Open-Source-Software Matomo zur Analyse und statistischen Auswertung der Nutzung der Website. Hierzu werden Cookies eingesetzt. Die dadurch erhaltenen Informationen über die Websitenutzung werden ausschließlich an unsere Server übertragen und in pseudonymen Nutzungsprofilen zusammengefasst. Die Daten verwenden wir zur Auswertung der Nutzung der Website. Eine Weitergabe der erfassten Daten an Dritte erfolgt nicht.</p>
          <br>
          <p>Die IP-Adressen werden anonymisiert (IPMasking), sodass eine Zuordnung zu einzelnen Nutzern nicht möglich ist.</p>
          <br>
          <p>Die Verarbeitung der Daten erfolgt auf Grundlage von Art. 6 Abs. 1 S. 1 lit. a DSGVO bzw. auf Grundlage des Art. 6 Abs. 1 S. 1 lit. f DSGVO. Wir verfolgen damit unser berechtigtes Interesse an der Optimierung unserer Webseite für unsere Außendarstellung.</p>
          <br>
          <p>SSie können Ihre Einwilligung jederzeit widerrufen, indem Sie die Cookies in Ihrem Browser löschen oder Ihre Datenschutzeinstellungen direkt auf der Plattform ändern.</p>
          <br>
        <h3>4.4 Registrierung und Beteiligung</h3>
          <p>Um die Projektplattform nutzen zu können, müssen Sie sich registrieren. Hierzu ist die Angabe eines Benutzernamens, Ihrer E-Mail-Adresse und eines Passworts erforderlich. Der Benutzername muss kein Klarname sein. Nach der Registrierung können Sie freiwillig weitere Benutzerangaben machen, um an (auf Geolokationen) eingeschränkten Projekten partizipieren zu können. Rechtsgrundlage für diese Datenverarbeitung ist bis zum Abschluss der Registrierung Art. 6 Abs. 1 S. 1 lit. b) DSGVO (Erfüllung vertraglicher oder vorvertraglicher Pflichten) und anschließend Art. 6 Abs. 1 S. 1 lit. a) DSGVO (Einwilligung für einen bestimmten Verarbeitungszweck).</p>
          <br>
          <p>In der Projektplattform können Sie sich beteiligen und hierzu insbesondere Beiträge wie z. B. Ideen und Kommentare erstellen oder an Abstimmungen teilnehmen. Ihre Beteiligung wird unter Angabe ihres Benutzernamens in der Projektplattform öffentlich zugänglich gemacht. Auch Ihre Benutzer-Aktivität wird öffentlich zugänglich gemacht, etwa die Anzahl Ihrer Beiträge. Indem Sie sich in der Projektplattform beteiligen, stimmen Sie dieser Verarbeitung von Daten und der öffentlichen Zugänglichmachung zu. Rechtsgrundlage für diese Datenverarbeitung ist Art. 6 Abs. 1 S. 1 lit. a) DSGVO (Einwilligung für einen bestimmten Verarbeitungszweck).</p>
          <p>Wenn Sie Ihr Benutzerkonto löschen oder Ihre Einwilligung widerrufen, wird Ihr Benutzername und Ihre Beteiligung in der Projektplattform anonymisiert. Alle anderen Daten, z. B. Ihr Vor- und Familienname, Ihre Adresse und Ihre E-Mail Adresse werden gelöscht.</p>
        </v-container>
      <v-container>
        <h2>5. Empfänger von Daten</h2>
          <p>Innerhalb der Behörde erhalten diejenigen Stellen Zugriff auf Ihre Daten, die diese zur Erfüllung unserer vertraglichen und gesetzlichen Pflichten brauchen. Auch von uns eingesetzte Dienstleister und Erfüllungsgehilfen (z. B. technische Dienstleister) können zu diesen Zwecken Daten erhalten. Wir beschränken die Weitergabe Ihrer personenbezogenen Daten dabei auf das Notwendige unter Berücksichtigung der datenschutzrechtlichen Vorgaben. Teilweise erhalten die Empfänger Ihre personenbezogenen Daten als Auftragsverarbeiter und sind dann bei dem Umgang mit Ihren personenbezogenen Daten streng an unsere Weisungen gebunden.</p>
      </v-container>
      <v-container>
        <h2>6. Datenübermittlung in Drittländer </h2> 
          <p>Wir übertragen Ihre personenbezogenen Daten nicht in Länder außerhalb der EU bzw. des EWR oder an internationale Organisationen, soweit in dieser Datenschutzerklärung nicht ausdrücklich anders angegeben.</p>
      </v-container>
      <v-container>
        <h2>7. Dauer der Datenspeicherung</h2>
          <p>Wir verarbeiten und speichern Ihre personenbezogenen Daten zunächst für die Dauer, für die der jeweilige Nutzungszweck eine entsprechende Speicherung erfordert. Anschließend löschen wir die Daten, es sei denn, die befristete Weiterverarbeitung ist erforderlich zur Erfüllung unserer vertraglichen und / oder gesetzlichen Pflichten.</p>
          <p>Wenn Sie Ihr Benutzerkonto löschen oder Ihre Einwilligung widerrufen, wird Ihr Benutzername und Ihre Beteiligung in der Projektplattform anonymisiert. Alle anderen Daten, z. B. Ihr Vor- und Familienname, Ihre Adresse und Ihre E-Mail Adresse werden gelöscht.</p>
      </v-container>
      <v-container>
        <h2>8. Datensicherheit</h2>
          <p>Personenbezogene Daten werden durch uns mittels geeigneter technischer und organisatorischer Maßnahmen geschützt, um ein angemessenes Schutzniveau zu gewährleisten und die Persönlichkeitsrechte der betroffenen Personen zu wahren. Die getroffenen Maßnahmen dienen unter anderem der Vermeidung eines unerlaubten Zugriffs auf die durch uns genutzten technischen Einrichtungen sowie dem Schutz personenbezogener Daten vor unerlaubter Kenntnisnahme durch Dritte. Insbesondere nutzt diese Projektplattform aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel Ihrer Kontaktanfragen, die Sie an uns als Seitenbetreiber senden, eine SSL- bzw. TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von “http://” auf “https://” wechselt und an dem Schloss-Symbol in Ihrer Browserzeile. Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden. Dennoch weisen wir darauf hin, dass die Datenübertragung im Internet (z. B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist insoweit nicht möglich.</p>
      </v-container>
      <v-container>
        <h2>9. Ihre Rechte als betroffene Person</h2>
        <p>Ihnen stehen unter den gesetzlichen Voraussetzungen die nachfolgenden Rechte als betroffene Person zu:</p>
        <br>
        <h3>Auskunftsrecht:</h3>
        <p>Sie sind jederzeit berechtigt, im Rahmen von Art. 15 DSGVO von uns eine Bestätigung darüber zu verlangen, ob wir Sie betreffende personenbezogene Daten verarbeiten; ist dies der Fall, sind Sie im Rahmen von Art. 15 DSGVO ferner berechtigt, Auskunft über diese personenbezogenen Daten sowie bestimmte weitere Informationen (unter anderem Verarbeitungszwecke, Kategorien personenbezogener Daten, Kategorien von Empfängern, geplante Speicherdauer, die Herkunft der Daten, den Einsatz einer automatisierten Entscheidungsfindung und im Fall des Drittlandtransfers die geeigneten Garantien) und eine Kopie Ihrer Daten zu erhalten. Es gelten die Einschränkungen des § 34 BDSG.</p>
        <br>
        <h3>Recht auf Berichtigung:</h3>
        <p>Sie sind berechtigt, nach Art. 16 DSGVO von uns zu verlangen, dass wir die über Sie gespeicherten personenbezogenen Daten berichtigen, wenn diese unzutreffend oder fehlerhaft sind.</p>
        <br>
        <h3>Recht auf Löschung:</h3>
        <p>Sie sind berechtigt, unter den Voraussetzungen von Art. 17 DSGVO von uns zu verlangen, dass wir Sie betreffende personenbezogene Daten unverzüglich löschen.</p>
        <br>
        <p>Das Recht auf Löschung besteht unter anderem nicht, wenn die Verarbeitung der personenbezogenen Daten erforderlich ist z. B. zur Erfüllung einer rechtlichen Verpflichtung (z. B. gesetzliche Aufbewahrungspflichten) oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen. Darüber hinaus gelten die Einschränkungen des § 35 BDSG.</p> 
        <br>
        <h3>Recht auf Einschränkung der Verarbeitung:</h3>
        <p>Sie sind berechtigt, unter den Voraussetzungen von Art. 18 DSGVO von uns zu verlangen, dass wir die Verarbeitung Ihrer personenbezogenen Daten einschränken. Recht auf Datenübertragbarkeit: Sie sind berechtigt, unter den Voraussetzungen von Art. 20 DSGVO von uns zu verlangen, dass wir Ihnen die Sie betreffenden personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format übergeben.</p>
        <br>
        <h3>Widerrufsrecht:</h3>
        <p>Eine erteilte Einwilligung in die Verarbeitung personenbezogener Daten können Sie jederzeit uns gegenüber widerrufen. Bitte beachten Sie, dass der Widerruf erst für die Zukunft wirkt. Verarbeitungen, die vor dem Widerruf erfolgt sind, sind davon nicht betroffen. Zur Erklärung des Widerrufs reicht eine formlose Mitteilung z. B. per E-Mail an datenschutz(at)lkwnd.de.</p>
        <br>
        <h3>Widerspruchsrecht:</h3>
        <p>Sie sind berechtigt, unter den Voraussetzungen von Art. 21 DSGVO Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten einzulegen, sodass wir die Verarbeitung Ihrer personenbezogenen Daten beenden müssen. Das Widerspruchsrecht besteht nur in den in Art. 21 DSGVO vorgesehenen Grenzen. Zudem können unsere Interessen einer Beendigung der Verarbeitung entgegenstehen, sodass wir trotz Ihres Widerspruchs berechtigt sind, Ihre personenbezogenen Daten zu verarbeiten.</p>
        <br>
        <h3>Beschwerderecht bei einer Aufsichtsbehörde:</h3>
        <p>Unter den Voraussetzungen von Art. 77 DSGVO in Verbindung mit § 19 BDSG steht Ihnen ein Beschwerderecht bei einer zuständigen Aufsichtsbehörde zu. Insbesondere können Sie sich mit einer Beschwerde an die für uns zuständige Aufsichtsbehörde oder eine sonstige zuständige Aufsichtsbehörde wenden. Sollten Sie der Ansicht sein, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen datenschutzrechtliche Vorschriften verstößt, haben Sie neben Ihren verwaltungsgerichtlichen Möglichkeiten das Recht zur Beschwerde bei der Datenschutzaufsichtsbehörde des Landkreises St. Wendel:</p>
        <br>
        <p>Unabhängiges Datenschutzzentrum Saarland</p>
        <p>Fritz-Dobisch-Straße 12</p>
        <p>66111 Saarbrücken</p>
        <p>Telefon: (0681) 94781-0</p>
        <p>E-Mail: poststelle@datenschutz.saarland.de</p>
        <br>
        <h3>Sonstige Anliegen:</h3>
        <p>Für weitergehende Datenschutzfragen und -anliegen steht Ihnen unser Datenschutzbeauftragter zur Verfügung. Entsprechende Anfragen sowie die Ausübung Ihrer vorstehenden Rechte sollten nach Möglichkeit schriftlich an unsere oben angegebene Anschrift oder per E-Mail an datenschutz(at)lkwnd.de geschickt werden.</p>
    </v-container>
  </div>
  <PublicFooter />
</template>

<script lang="ts">
  export default defineComponent({
  name: 'privacy_policy',
  setup() {
    definePageMeta({
      layout: "public",
    })
  }
})
</script>

<style lang="sass" scoped>

</style>