<template>
  <div class="has-text-white">
    <h1>Netiquette</h1>
    <v-container>
      <p>Wir wollen dir auf dieser Plattform ein respektvolles und konstruktives Miteinander ermöglichen. Um dies zu gewährleisten, bitten wir, dass du dich an den folgenden Richtlinien und Empfehlungen orientierst. Die Netiquette versteht sich als Erweiterung der allgemeinen Nutzungsbedingungen, welche immer in letzter Instanz gelten. 
      </p>
    </v-container>
    <v-container>
      <h2>Kommentare</h2>
        <p>Wir freuen uns über zahlreiche Kommentare und Beiträge zu allen gezeigten Projekten. Diese Funktion dient dem konstruktiven Austausch untereinander. Für veröffentlichte Inhalte ist immer die Person verantwortlich, die den Kommentar verfasst hat.</p>
    </v-container>
    <v-container>
      <h2>Den richtigen Ton treffen</h2>
        <p>Im Folgenden wollen wir dir ein paar stichpunktartige Richtlinien und Tipps zum Verfassen von Wortbeiträgen mit an die Hand geben:</p>
        <br>
        <p>•	Für jegliche Form von Hassrede und Diskriminierung gegenüber Personen(-gruppen) – wie z. B. rassistische, sexistische, antisemitische, homophobe Äußerungen oder Diskriminierungen − ist auf der Plattform kein Platz!</p>
        <p>•	Beschimpfungen, Beleidigungen, Drohungen, Hetze, Mobbing oder ähnliches werden ebenfalls nicht geduldet.</p>
        <p>•	Achte bitte stets auf einen angemessenen Umgangston. Hinter jedem virtuellen Account steckt eine reale Person, die du mit dem gleichen Respekt behandeln solltest, den du auch dir gegenüber erwartest.</p>
        <p>•	Sogenannte „AllCaps“-Beiträge, die durch ausschließliche Großbuchstaben ein virtuelles Schreien simulieren, sehen nicht schön aus und sind schlecht lesbar. Diese werden daher gelöscht. Wir streben auf dieser Plattform einen respektvollen Umgang an, welcher, wie auch im persönlichen Gespräch, sachlich bleiben soll.</p>
        <p>•	Die Plattform ist keine Präsentationsfläche für deine Werbung. Eine Verbreitung kommerzieller Angebote ist dementsprechend nicht zulässig.</p>
        <p>•	Spam, Phishing und die Verbreitung von schädlicher Software sind nicht erwünscht und werden im Härtefall strafrechtlich verfolgt.</p>
        <br>
        <br>
        <p>Tipps:</p>
        <br>
        <p>•	Ein guter Beitrag ist immer leserfreundlich und klar verständlich. Formuliere kurze Sätze, um deinem Standpunkt klaren Ausdruck zu verleihen.</p>
        <p>•	Ein geschriebener Text kann nur als solcher gelesen werden. Achte also darauf, Stilmittel wie Sarkasmus oder Ironie mit äußerster Vorsicht einzusetzen. Da man deinen Tonfall nicht mitlesen kann, erschweren diese Stilmittel das Erkennen deines tatsächlichen Standpunktes. </p>
        <p>•	Solltest du zitieren, gib immer eine Quelle an. Dadurch ist besser erkennbar, wessen Meinung du damit wiedergibst. </p>

      </v-container>
      <v-container>
        <h2>Moderation</h2>
        <p>
          Es ist jederzeit möglich, Kommentare anderer Nutzer:innen zu melden. Diese werden dann von uns geprüft und gegebenenfalls gelöscht. Je nach Schwere behalten wir uns darüber hinaus vor, Nutzer:innen, die wiederholt mit unangemessenen Kommentaren auffallen, von der Kommentarfunktion auszuschließen.
          <br>
          <br>
          Die Moderation der Plattform erfolgt stets neutral. Von uns werden keine eigenen inhaltlichen Positionen vertreten. Wir, das Moderationsteam, dienen alleinig dazu, eine angenehme Atmosphäre für Diskussionen und Gespräche auf Augenhöhe sicherzustellen. Auch wir sind nur Menschen, die nicht ohne Fehler sind. Sollte es also zu Missverständnissen kommen, bitten wir um Verständnis. In solchen Fällen zögere bitte nicht, uns über unser Kontaktformular darüber in Kenntnis zu setzen.
        </p>
        </v-container>
    </div>
  <PublicFooter />
</template>

<script lang="ts">
  export default defineComponent({
  name: 'rules_of_conduct',
  setup() {
    definePageMeta({
      layout: "public",
    })
  }
})
</script>

<style lang="sass" scoped>

</style>