<template>
  <div class="has-text-white">
    <h1>Allgemeine Nutzungsbedingungen der Online-Projektplattform unser.smartwendelerland.de</h1>
    <v-container>
     <h2>Allgemeines</h2> 
      <p>Der Landkreis Sankt Wendel, Mommstraße 21-31 8, 66606 St. Wendel betreibt die Online-Plattform unser.smartwendelerland.de. Die Plattform ermöglicht es Bürger:innen bzw. der Öffentlichkeit, sich über Projekte im Landkreis zu informieren und sich zu beteiligen. Die Nutzung der Plattform erfolgt freiwillig und unentgeltlich.
      <br>
      <br>
      Für die Nutzungsbeziehung zwischen dem Betreiber und den Nutzer:innen gelten die nachfolgenden Nutzungsbedingungen in ihrer zum Zeitpunkt des Vertragsschlusses (Anmeldung) gültigen Fassung. Etwaige abweichende Nutzungsbedingungen der Nutzer:innen werden nicht anerkannt.</p>
    </v-container>
    <v-container>
      <h2>Vertragsschluss</h2>
        <p>Die Nutzung der Plattform erfolgt auf Grundlage eines Nutzungsvertrags. Der Nutzungsvertrag kommt durch die kostenfreie Registrierung der Nutzer:innen zustande. Die Laufzeit des Nutzungsvertrages ist unbefristet.</p>
    </v-container>
    <v-container>
      <h2>Registrierung</h2>
        <p>Jede natürliche Person kann sich auf unser.smartwendelerland.de registrieren. Die Registrierung ist über die plattformeigene Registrierung, möglich. Dabei ist ein Nutzer:innenname zu wählen, der auf der Plattform öffentlich sichtbar ist.
        <br>
        <br>
        Für die Registrierung ist die Angabe einer E-Mail-Adresse erforderlich. Nach Abschluss der Registrierung erhält die Nutzerin bzw. der Nutzer eine E-Mail an die zuvor angegebene E-Mail-Adresse mit einem Bestätigungslink, um das neu angelegte Nutzer:innenkonto zu bestätigen.
        <br>
        <br>
        Für jede natürliche Person ist nur eine Registrierung zulässig. Eine stellvertretende Registrierung für Dritte ist unzulässig. Hat der Betreiber konkrete Anhaltspunkte dafür, dass eine dritte Person das Benutzerkonto einer Nutzerin bzw. eines Nutzers unbefugt nutzt, oder dafür, dass eine Nutzerin oder ein Nutzer gegen diese Nutzungsbedingungen verstößt, ist der Betreiber berechtigt, das Benutzerkonto dieser Nutzerin bzw. dieses Nutzers zeitweise oder vollständig zu sperren.
        <br>
        <br>
        Mit der Registrierung erklären die Nutzer:innen, dass sie die Datenschutzbestimmungen gelesen haben und mit diesen einverstanden sind. Bei der Verarbeitung von personenbezogenen Daten finden die Bestimmungen der DSGVO sowie des SDSG Anwendungen. Für weitere Details verweisen wir auf die Datenschutzerklärung.</p>
      </v-container>
    <v-container>
      <h2>Erstellen von Inhalten</h2>
        <p>Je nachdem, welches Vorhaben aktuell für eine Beteiligung auf der Plattform geöffnet ist, können die Nutzer:innen Ideen einbringen, Vorschläge erstellen, Vorschläge mit Antworten kommentieren, Diskussionen eröffnen oder an Umfragen teilnehmen.
        <br>
        <br>
        Der Betreiber ist jederzeit berechtigt, den Zugang zu einzelnen Inhalten zu sperren, z. B. wenn der Verdacht besteht, dass diese gegen geltendes Recht oder Rechte Dritter verstoßen. Es besteht kein Anspruch der Nutzer:innen auf Aufrechterhaltung einzelner Funktionalitäten der Plattform.
        <br>
        <br>
        Der Betreiber ist um einen störungsfreien Betrieb der Plattform bemüht. Dies beschränkt sich naturgemäß auf Leistungen, auf die der Betreiber Einfluss nehmen kann. Der Betreiber ist es unbenommen, den Zugang zur Plattform aufgrund von Wartungsarbeiten, Kapazitätsbelangen oder anderen Ereignissen, die nicht in seinem Machtbereich stehen, ganz oder teilweise, zeitweise oder auf Dauer einzuschränken.
          </p>
      </v-container>
      <v-container>
        <h2>Pflichten der Nutzer:innen</h2>
        <p>Die Nutzer:innen dürfen die Plattform nur für private Zwecke nutzen.
          <br>
          <br>
          Die Nutzer:innen verpflichten sich, bei der Erstellung und Verwendung eigener Inhalte geltendes Recht (z. B. Straf- und Jugendschutzrecht) einzuhalten und nicht gegen Rechte Dritter (z. B. Namens-, Marken-, Urheber- und Datenschutzrechte) zu verstoßen. Das Gleiche gilt für das Setzen von externen Links. Nicht erlaubt ist insbesondere das Verbreiten von Inhalten, die Rassismus, Gewaltverherrlichung und Extremismus irgendwelcher Art, Aufrufe und Anstiftung zu Straftaten und Gesetzesverstößen, Drohungen gegen Leib, Leben oder Eigentum, Hetzen gegen Personen oder Unternehmen, persönlichkeitsverletzende Äußerungen, Verleumdung, Ehrverletzung und üble Nachrede von Nutzern und Dritten sowie Verstöße gegen das Wettbewerbs- bzw. Lauterkeitsrecht (UWG), urheberrechtsverletzende Inhalte oder andere Verletzungen von Immaterialgüterrechten, sexuelle Belästigung von Nutzer:innen und Dritten, Pornografie, anstößige, sexistische oder obszöne Materialien und Ausdrucksweisen darstellen, betreffen oder beinhalten.
          <br>
          <br>
          Persönlichkeitsverletzend und deshalb nicht zulässig ist es zudem, die Anonymität anderer Nutzer aufzuheben oder Informationen von anderen Nutzern aus privaten Nachrichten, E-Mails oder Chats bekanntzugeben, die nicht für die Öffentlichkeit bestimmt sind. Nutzer:innen dürfen keine Informationen in ihre Beiträge aufnehmen oder sonst wie bekannt machen, die Aufschluss über die Identität anderer Nutzer:innen geben könnten oder die sie von anderen Nutzer:innen ausschließlich in privaten Nachrichten, E-Mails oder Chats erhalten haben.
          <br>
          <br>
          Die Nutzer:innen verpflichten sich, jede Handlung zu unterlassen, die geeignet ist, die Funktionalität der Plattform zu beeinträchtigen, insbesondere die Plattform übermäßig zu belasten. Die Nutzer:innen verpflichtet sich weiterhin, jede Handlung zu unterlassen, die geeignet ist, technische Beschränkungen und Zugangsbeschränkungen der Plattform zu umgehen, und/oder die Plattform zu verändern, zu modifizieren, weiterzuentwickeln oder weiterzuverbreiten.
          <br>
          <br>
          Urheberrechtlich geschützte Inhalte dürfen ohne Zustimmung der jeweiligen Rechtsinhaberin bzw. des jeweiligen Rechtsinhabers nur im Rahmen des anwendbaren Zitatrechts wörtlich in Beiträge aufgenommen werden. Zitate sind durch Hervorheben mittels Zitatfunktion und Quellenangabe zu kennzeichnen. Insbesondere nicht korrekt zitierte Beiträge können von den Moderatoren entfernt oder berichtigt werden. Die Verbreitung und/oder öffentliche Wiedergabe von jedweden Inhalten der Plattform ohne Einwilligung des Betreibers ist untersagt. Dies gilt nicht für eigene Inhalte der Nutzer:innen oder Inhalte, die auf der Plattform ausdrücklich zur Vervielfältigung (z. B. zum Download oder Teilen auf Social Media) freigegeben sind. Die Verwendung solcher freigegebenen Inhalte ist nur zum eigenen nicht-kommerziellen Gebrauch zulässig.
        </p>
      </v-container>
      <v-container>
        <h2>Nutzungsrechte</h2> 
        <p>Erstellte Inhalte werden automatisch veröffentlicht.
          <br>
          <br>
          Der Betreiber prüft diese Inhalte und Daten vor Veröffentlichung nicht auf inhaltliche Angemessenheit, sachliche Richtigkeit oder auf etwaige Rechtsverstöße. Die Betreiberin wird konkreten Hinweisen auf problematische Inhalte und Daten jedoch unverzüglich nachgehen.
          Das Urheberrecht verbleibt bei den Nutzer:innen. Die Nutzer:innen räumen dem Landkreis Sankt Wendel das Recht ein, von Nutzer:innen eingestellte Beiträge (einschließlich etwaiger Projektideen) zum Zwecke des Betriebs der Plattform digital zu vervielfältigen und öffentlich zugänglich zu machen. Darüber hinaus darf der Landkreis die Beiträge zum Zwecke der angemessenen Präsentation des Projekts gegenüber seinen bestehenden und am Projekt interessierten Kooperationspartnern nutzen und hierzu vervielfältigen, vorführen und öffentlich wiedergeben. Die vorgenannten Nutzungsrechte schließen das Recht ein, die Beiträge vollständig oder in bearbeiteter Form zu nutzen. Die vorstehenden Rechte werden dem Anbieter in Form eines einfachen, nicht-ausschließlichen Rechts unentgeltlich und unwiderruflich zur zeitlich, räumlich und inhaltlich unbeschränkten Nutzung eingeräumt. Die Nutzer:innen verzichten auf das Recht zur Urhebernennung.
          <br>
          <br>
          Soweit an der Plattform bzw. den hierauf durch den Betreiber oder deren Vertragspartner redaktionell bereitgestellten Inhalten Urheber- oder Leistungsschutzrechte bestehen, liegen diese Rechte bei dem Betreiber oder deren Vertragspartnern.
        </p>
      </v-container>
      <v-container>
        <h2>Haftung</h2>
        <p>Die Nutzer:innen sind allein für ihre Inhalte und für die Einhaltung der gesetzlichen und sonstigen Vorschriften und Regelungen verantwortlich. Alle Inhalte einer Nutzerin bzw. eines Nutzers drücken die Ansicht der jeweiligen Autorin bzw. des jeweiligen Autors aus und geben nicht die Meinung des Betreibers wieder.
          <br>
          <br>
          Der Betreiber kann für die Inhalte der Nutzer:innen nicht verantwortlich gemacht werden.
          <br>
          <br>
          Der Betreiber ist berechtigt, Inhalte der Nutzer:innen vorläufig oder dauerhaft zu sperren, vom Netz zu nehmen oder sie so zu verändern, dass Rechte Dritter nicht mehr verletzt werden. Der Betreiber ist ferner berechtigt, die geforderten Unterlassungserklärungen abzugeben, wenn der Betreiber wegen des Inhalts einer Nutzerin bzw. eines Nutzers von Dritten auf Unterlassung in Anspruch genommen wird oder wenn der Betreiber sonst von der Rechtsverletzung Kenntnis erlangt.
          <br>
          <br>
          Der Betreiber haftet für die Plattform vorbehaltlich der nachstehenden Regelungen nach den gesetzlichen Vorschriften. Der Betreiber haftet unbeschränkt bei Vorsatz und grober Fahrlässigkeit sowie im Fall von Personenschäden. Im Falle leichter Fahrlässigkeit haftet der Betreiber nur für Verletzungen wesentlicher Vertragspflichten, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglicht und auf deren Einhaltung die Nutzer:innen regelmäßig vertrauen dürfen (Kardinalpflichten). Die Haftung ist in diesem Fall begrenzt auf die Höhe des vertragstypischen, vorhersehbaren Schadens. Soweit die Haftung des Betreibers ausgeschlossen oder beschränkt ist, gilt dies auch für die persönliche Haftung seiner Beschäftigten und Erfüllungsgehilfen.
        </p>
      </v-container>
      <v-container>
        <h2>Freistellungsanspruch</h2>
        <p>Die Nutzer:innen stellen den Landkreis für den Fall der Inanspruchnahme wegen vermeintlicher oder tatsächlicher Rechtsverletzung und/oder Verletzung von Rechten Dritter durch Nutzer:innen im Zusammenhang mit der Nutzung des Dienstes vorgenommenen Handlungen von sämtlichen sich daraus ergebenen Ansprüchen Dritter frei. Darüber hinaus verpflichten sich die Nutzer:innen, dem Landkreis alle Kosten zu ersetzen, die diesem infolge der Inanspruchnahme durch Dritte entstehen. Zu den erstattungsfähigen Kosten zählen auch die angemessenen Kosten einer Rechtsverteidigung.</p>
      </v-container>
      <v-container>
        <h2>Weiterverwendung und Umsetzung der Nutzer:innen-Beiträge</h2>
        <p>Die Plattform unser.smartwendelerland.de dient vorrangig dazu, dass Nutzer:innen ihre Ideen, Vorschläge und Diskussionsbeiträge einbringen können. Eine rechtliche Verpflichtung, diese Beiträge weiterzuverwenden oder umzusetzen, besteht nicht.
          Alle von den Nutzer:innen eingestellten Inhalte dürfen unter Nennung des (Nutzer:innen-)Namens der Autor:innen sowie der URL der jeweiligen Seite unentgeltlich weiterverwendet werden.
        </p>
    </v-container>
    <v-container>
    <h2>Beendigung des Nutzungsverhältnisses</h2>
    <p>Die Nutzer:innen können das Nutzungsverhältnis jederzeit ordentlich gegenüber dem Betreiber oder durch Löschung des Nutzer:innenkontos kündigen. Das Recht zur außerordentlichen Kündigung aus wichtigem Grund bleibt unberührt. Für den Betreiber liegt ein wichtiger Grund insbesondere dann vor, wenn Nutzer:innen ihre Verpflichtungen aus diesem Nutzungsvertrag nachhaltig verletzen. Bis zur Kündigung eingeräumte 
      <br>
      <br>
      Der Betrieb der Plattform kann jederzeit von dem Betreiber eingestellt werden.
    </p>
    </v-container>
    <v-container>
      <h2>Schlussbestimmungen</h2>
      <p>Auf diese Nutzungsbedingungen findet ausschließlich deutsches Recht Anwendung.
        <br>
        <br>
        Der Betreiber behält sich vor, diese Nutzungsbedingungen jederzeit zu ändern und die weitere Nutzung der Plattform von der Zustimmung zu den geänderten Nutzungsbedingungen abhängig zu machen. Sollten eine oder mehrere Bestimmungen dieser Nutzungsbedingungen unwirksam sein oder unwirksam werden, wird dadurch die Wirksamkeit der anderen Bestimmungen nicht berührt.
      </p>
    </v-container>
  </div>
  <PublicFooter />
</template>

<script lang="ts">
  export default defineComponent({
  name: 'terms_of_use',
  setup() {
    definePageMeta({
      layout: "public",
    })
  }
})
</script>

<style lang="sass" scoped>

</style>