<template>
  <div class="has-text-white">
    <div v-if="$device.isMobile">
      <v-slide-group
        size="large"
        class="text-white category-chips"
        multiple
        column
        >
          <v-chip
          size="x-large"
          @click="resetToggleCategoryId"
          :class="['mr-3 is-clickable', { 'view-selected' : categoriesSelected }]"
          >
            Alle Pinnwände
          </v-chip>
          <v-chip
            filter-icon="mdi-plus"
            v-for="category in filteredCategories"
            size="x-large"
            :key="category.id"
            input-value="id"
            @click="toggleCategoryId(category.id)"
            :class="['mr-3 is-clickable', { 'view-selected' : selectedCategoryIds.includes(category.id) }]"
            prepend-icon="mdi-checkbox-multiple-blank"
            >      
              {{ category.name }}
          </v-chip>
      </v-slide-group>
    </div>
    <div v-else>
      <v-row>
        <v-col>
          <div class="categories box-shadow px-3 pb-5">
            <div class="py-3">
              <h2>Nach Kategorien filtern:</h2>
            </div>
            <v-divider class="py-2"></v-divider>
            <div class="filter-categories">
              <v-chip
                size="x-large"
                @click="resetToggleCategoryId"
                :class="['my-2 mx-1 px-3 is-clickable', { 'view-selected' : categoriesSelected }]"
              >      
              Alle Pinnwände
              </v-chip>
              <v-chip
                filter-icon="mdi-plus"
                v-for="category in filteredCategories"
                size="x-large"
                :key="category.id"
                input-value="id"
                @click="toggleCategoryId(category.id)"
                :class="['my-2 mx-1 px-3 is-clickable', { 'view-selected' : selectedCategoryIds.includes(category.id) }]"
                prepend-icon="mdi-checkbox-multiple-blank"
              >      
                {{ category.name }}
              </v-chip>
            </div>
          </div>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script lang="ts">
  import { useDisplay } from 'vuetify'
  export default defineComponent({
  emits: ['applyPinboardCategoryFilter'],
  name: 'PinboardsCategories',
  setup (props, { emit }) {
    definePageMeta({
      layout: "public",
    })
    const display = ref(useDisplay())
    const categoriesSelected = ref(true)
    const selectedCategoryIds = ref([])

    const api = useCollectionApi()
    api.setBaseApi(usePublicApi())
    api.setEndpoint('pinboards')

    const pinboards = api.items

    const categoriesApi = useCollectionApi()
    categoriesApi.setBaseApi(usePublicApi())
    categoriesApi.setEndpoint(`categories?scope=pinboard`)
    const categories = categoriesApi.items

    const getItems = async () => {
      const options = { page: 1, per_page: 1000, sort_by: 'menu_order', sort_order: 'DESC', searchQuery: null, concat: false, filters: [] }
      await api.retrieveCollection(options)
    }

    const getCategories = async () => {
      await categoriesApi.retrieveCollection()
    }

    const filteredCategories = computed(() => {
      return categories.value.filter((category:any) => category.active_and_started_pinboards_count > 0)
    })

    const toggleCategoryId = (categoryId:any) => {
      const index = selectedCategoryIds.value.indexOf(categoryId)
      if (index === -1) {
        selectedCategoryIds.value.push(categoryId)
      } else {
        selectedCategoryIds.value.splice(index, 1)  
      }
      emitApplyPinboardCategoryFilter()
    }

    const emitApplyPinboardCategoryFilter = () => {
      emit('applyPinboardCategoryFilter', selectedCategoryIds.value)
      categoriesSelected.value = false
    }

    const resetToggleCategoryId = () => {
      selectedCategoryIds.value = []
      emitApplyPinboardCategoryFilter()
      categoriesSelected.value = true
    }


    onMounted(() => {
      getItems()
      getCategories()
    })

    return {
      categories,
      getItems,
      getCategories,
      toggleCategoryId,
      pinboards,
      selectedCategoryIds,
      categoriesSelected,
      filteredCategories,
      emitApplyPinboardCategoryFilter,
      resetToggleCategoryId,
      display
   
    }
  }
})
</script>

<style lang="sass" scoped>

.categories
  background-color: rgb(53, 139, 188, 0.3)
  border-radius: 20px

.content
  box-shadow: 2px 4px 15px 5px rgba(4, 50, 70, 0.26)
  border-radius: 20px

.bg-inactive
  background: #fffff0
  color: grey

.chips
  color: #58595E
  background-color: rgb(88, 89, 94, 0.1)

.filter-categories
  display: table-caption

.view-selected
  color: #015281
  background-color: white
  
.view-not-selected
  color: white
  
</style>