<template>
  <div class="has-text-white">
    <v-row>
      <v-col>
        <div class="categories box-shadow px-3 pb-5">
          <div class="py-3">
            <h2>Hier findest du alle Ideenpinnwände:</h2>
          </div>
          <v-divider class="py-2"></v-divider>
          <div v-if="pinboards.length > 0">
            <nuxt-link v-for="(pinboard, index ) in filteredPinboards" :key="index" :to="`/public/pinboards/${pinboard.id}`">
              <div class="content pa-5 my-5 mx-3" :class="[(!useDatetime().isInPast(pinboard.end_time) ? 'bg-white is-clickable' : 'bg-inactive')]">
                  <h3>{{ pinboard.headline }}</h3>
                <p class="my-3" v-html="pinboard.content"></p>
                <v-chip
                  class="my-5 mx-1 chips"
                  size="small"
                  v-for="(chips, index) in pinboard.categories" :key="index"
                  prepend-icon="mdi-checkbox-multiple-blank"
                >
                  {{ chips.name }}
                </v-chip>
                <v-divider></v-divider>
                <div class="stats mt-2 has-text-grey-dark">
                  <v-row>
                    <v-col cols="12" sm="3" md="3" class="d-flex align-center justify-start">
                      <div class="d-flex align-center justify-center">
                        <v-icon>mdi-calendar-month-outline</v-icon>
                        <span class="mx-3">{{ useDatetime().parseDate(pinboard.start_time) }}</span>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="6" md="6"  class="d-flex align-center justify-md-center justify-sm-center justify-start">
                      <div class="d-flex align-center">
                        <v-icon>mdi-calendar-alert-outline</v-icon>
                        <span v-if="pinboard.end_time && !useDatetime().isInPast(pinboard.end_time)" class="mx-3">Pinnwand online bis {{ useDatetime().parseDate(pinboard.end_time) }}</span>
                        <span v-if="pinboard.end_time && useDatetime().isInPast(pinboard.end_time)" class="mx-3">Pinnwand abgelaufen </span>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="3" md="3"  class="d-flex align-center justify-md-end justify-sm-end justify-start">
                      <div class="d-flex align-center justify-center">
                        <v-icon>mdi-lightbulb-on-outline</v-icon>
                        <span class="mx-3">Ideen: {{ pinboard.pinboard_confirmed_ideas_count }}</span>
                      </div>
                    </v-col>
                  </v-row>
                </div>
              </div>
            </nuxt-link>
          </div>
          <div v-else>
            <h3 class="pa-1">Aktuell sind keine Pinnwände online</h3>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
  export default defineComponent({
  name: 'PinboardsCategories',
  props: {
    selectedCategories: [],
  },

  setup(props) {
    definePageMeta({
      layout: "public",
    })
    const loadingItem = ref(false)
    const api = useCollectionApi()
    api.setBaseApi(usePublicApi())
    api.setEndpoint('pinboards')

    const pinboards = api.items

    const getItems = async () => {
      loadingItem.value = true
      const options = { page: 1, per_page: 1000, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: null, concat: false, filters: [props.selectedCategories] }
      await api.retrieveCollection(options)
      loadingItem.value = false
    }

    
    const filteredPinboards = computed(()=> {
      if (props.selectedCategories.length) {
        return pinboards.value.filter(item => item.category_ids.find((category:any) =>  props.selectedCategories.includes(category)))
      } else {
        return pinboards.value
      }
    })

    onMounted(() => {
      getItems()
    })

    return {
      getItems,
      pinboards,
      loadingItem,
      filteredPinboards
    }
  }
})
</script>

<style lang="sass" scoped>

.categories
  background-color: rgb(53, 139, 188, 0.3)
  border-radius: 20px

.content
  box-shadow: 2px 4px 15px 5px rgba(4, 50, 70, 0.26)
  border-radius: 20px

.bg-inactive
  background: #D2D1D3
  color: grey

.chips
  color: #58595E
  background-color: rgb(88, 89, 94, 0.1)

.filter-categories
  display: table-caption
  
</style>