<template>
  <div>
   <h2>Benutzer</h2>

    <v-btn elevation="0" variant="outlined" @click="itemId = null; createEditDialogOpen = true">Neuer Benutzer</v-btn>

    <DataTable
      :fields="fields"
      :items="users"
      @openCreateEditDialog="openCreateEditDialog"
      @openDeleteDialog="openDeleteDialog"
      @mailUser="mailUser"
    />

    <v-btn v-if="route.query.user_id" size="x-small" variant="outlined" color="error" @click="resetUserFilter()">Benutzer Filter zurücksetzen</v-btn>

    <AdminUsersCreateEdit
      :item-id="itemId"
      v-if="createEditDialogOpen"
      @close="itemId = null; createEditDialogOpen = false"
      @refreshCollection="getItems()"
    />

    <DeleteItem
      v-if="confirmDeleteModalOpen"
      @close="itemId = null; confirmDeleteModalOpen = false"
      :item-id="itemId"
      endpoint="users"
      term="diesen Benutzer"
      @refreshCollection="getItems()"
    />

  </div>
</template>

<script lang="ts">
export default defineComponent({
  name: 'AdminCategoriesIndex',
  setup() {
    definePageMeta({
      layout: "default",
    })

    const fields = ref([
      { text: 'Vorname', value: 'firstname', type: 'string' },
      { text: 'Nachname', value: 'lastname', type: 'string' },
      { text: 'E-Mail', value: 'email', type: 'string' },
      { text: 'Rolle', value: 'role', type: 'enum', enum_name: 'userKind'},
      { text: 'Zuletzt gesehen', value: 'last_seen', type: 'datetime' },
      { text: 'Kommentare', value: 'comments_count' },
      { text: 'wurde gemeldet', value: 'was_reported_count' },
      { text: 'hat gemeldet', value: 'has_reported_count' },
      { text: 'Kann kommentieren', endpoint: 'users', type: 'switch', fieldToSwitch: 'can_comment' },
      { text: '', value: 'mdi-email-outline', type: 'icon', emit: 'mailUser', tooltip: 'E-Mail an Benutzer' },

    ])
    
    const dialog = ref(false)
    const item = ref({ name: '' })
    const loading = ref(false)
    const createEditDialogOpen = ref(false)
    const confirmDeleteModalOpen = ref(false)
    const itemId = ref(null)
    const route = useRoute()
    const router = useRouter()
    const filter = ref({ page: 1, per_page: 1000, sort_by: 'created_at', sort_order: 'DESC', searchQuery: null, concat: false, filters: [] })

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint('users')
    const users = api.items

    onMounted(() => {
      if (route.query && route.query.user_id) {
        filter.value.searchQuery = route.query.user_id
      }
      getItems()
    })

    const getItems = async () => {
      loading.value = true
      await api.retrieveCollection(filter.value)
      loading.value = false
    }

    const openCreateEditDialog = (id) => {
      itemId.value = id
      createEditDialogOpen.value = true
    }

    const openDeleteDialog = (id) => {
      itemId.value = id
      confirmDeleteModalOpen.value = true
    }

    const resetUserFilter = async () => {
      loading.value = true
      router.replace({'query': null})
      filter.value.searchQuery = null
      await api.retrieveCollection(filter.value)
      loading.value = false
    }

    const mailUser = async (id) => {
      const user = users.value.find(user => user.id === id)
      if (process.client && user) {
        window.location.href = `mailto:${user.email}`
      }
    }

    return {
      fields,
      users,
      loading,
      dialog,
      item,
      createEditDialogOpen,
      confirmDeleteModalOpen,
      itemId,
      route,
      router,
      mailUser,
      resetUserFilter,
      openCreateEditDialog,
      openDeleteDialog,
      getItems
    }
  }
})
</script>
<style lang="sass">
.v-dialog--custom
  width: 30%
</style>