<template> 
  <v-row>
    <v-col
    cols="12"
    sm="12"
    md="5"
    class="change-view"
    >
      <v-text-field
        class="text-white"
        variant="underlined"
        label="Projekt nach PLZ, Gemeinde und Name suchen ..."
        clearable
        prepend-inner-icon="mdi-magnify"
        @input="debounce(() => { emitApplySearchQuery($event.target.value) })"
        @click:clear="emitApplySearchQuery('')"
      />
    </v-col>
    <v-spacer></v-spacer>
    <v-col
      cols="12"
      sm="12"
      md="2"
      class="change-view"
    >
      <v-select
        class="text-white"
        variant="underlined"
        :items="filteredCommunities"
        label="Gemeinde wählen"
        item-title="name_with_projects_count"
        item-value="id"
        multiple
        @update:modelValue="emitApplyCommunityFilter"
        v-model="selectedCommunityId"
      />
    </v-col>
    <v-spacer></v-spacer>
    <v-col
    cols="12"
    sm="12"
    md="5"
    xs="12"
    class="d-flex justify-end change-view"
    >
      <div class="view-change">
        <div class="tile-view is-clickable" :class="[(view === 'tiles' ? 'view-selected' : 'view-not-selected')]" @click="emitChangeView('tiles')">
          Kachelansicht
          <v-icon right size="x-small">
          mdi-checkbox-multiple-blank
          </v-icon>
        </div>
        <div class="map-view is-clickable" :class="[(view === 'map' ? 'view-selected' : 'view-not-selected')]" @click="emitChangeView('map')">
          Karte
          <v-icon right size="x-small">
            mdi-map-outline
          </v-icon>
        </div>
      </div>
    </v-col>
  </v-row>
  <v-slide-group
    size="large"
    class="text-white category-chips my-8"
    multiple
    column
  >
  <v-chip
      size="x-large"
      @click="resetToggleCategoryId"
      :class="['mr-3 is-clickable', { 'view-selected' : categoriesSelected }]"
    >      
    Alle Projekte
    </v-chip>
    <v-chip
      filter-icon="mdi-plus"
      v-for="category in filteredCategories"
      size="x-large"
      :key="category.id"
      item-title="name_with_projects_count"
      input-value="id"
      @click="toggleCategoryId(category.id)"
      :class="['mr-3 is-clickable', { 'view-selected' : selectedCategoryIds.includes(category.id) }]"
      prepend-icon="mdi-checkbox-multiple-blank"
    >      
      {{ category.name }}
    </v-chip>
  </v-slide-group>
</template>

<script lang="ts">

export default defineComponent({
  emits: ['applySearchQuery', 'applyCategoryFilter', 'changeView', 'applyCommunityFilter'],
  props: {
    view: {
      type: String
    }
  },
  setup (props, { emit }) {

    useNuxtApp().$bus?.$on("setCategory", (categoryId:string) => {
      toggleCategoryId(categoryId)
    })

    const categoriesSelected = ref(true)

    const categoriesApi = useCollectionApi()
    categoriesApi.setBaseApi(usePublicApi())
    categoriesApi.setEndpoint(`categories`)
    const categories = categoriesApi.items

    const communitiesApi = useCollectionApi()
    communitiesApi.setBaseApi(usePublicApi())
    communitiesApi.setEndpoint(`communities`)
    const communities = communitiesApi.items

    const selectedCategoryIds = ref([])
    const selectedCommunityId = ref(null)

    const filteredCommunities = computed(() => {
      return communities.value.filter((communities:any) => communities.projects_count > 0)
    })

    const filteredCategories = computed(() => {
      return categories.value.filter((category:any) => category.projects_count > 0)
    })

    const getCategories = async () => {
      const options = { page: 1, per_page: 100, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: null, concat: false, filters: [] }
      await categoriesApi.retrieveCollection(options)
    }
    const getCommunities = async () => {
      const options = { page: 1, per_page: 100, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: null, concat: false, filters: [] }
      await communitiesApi.retrieveCollection(options)
    }

    const toggleCategoryId = (categoryId:any) => {
      const index = selectedCategoryIds.value.indexOf(categoryId)
      if (index === -1) {
        selectedCategoryIds.value.push(categoryId)
      } else {
        selectedCategoryIds.value.splice(index, 1)  
      }


      emitApplyCategoryFilter()
    }

    const resetToggleCategoryId = () => {
      selectedCategoryIds.value = []
      emitApplyCategoryFilter()
      categoriesSelected.value = true
    }

    useNuxtApp().$bus?.$on('filter_reset', () => {
      resetToggleCategoryId()
    })

    function createDebounce() {
      let timeout = null;
      return function (fnc) {
        clearTimeout(timeout);
        timeout = setTimeout(() => {
          fnc();
        }, 500);
      };
    }

    const emitApplySearchQuery = (eTargetValue:any) => {
      emit('applySearchQuery', eTargetValue)
    }

    const emitApplyCategoryFilter = () => {
      emit('applyCategoryFilter', selectedCategoryIds.value)
      categoriesSelected.value = false
      
    }

    const emitApplyCommunityFilter = (eTargetValue:any) => {
      emit('applyCommunityFilter', eTargetValue)
    }

    const emitChangeView = (view:any) => {
      emit('changeView', view)
    }

    onMounted(() => {
      getCategories()
      getCommunities()
    })

    return {
      categories,
      resetToggleCategoryId,
      communities,
      selectedCategoryIds,
      selectedCommunityId,
      filteredCategories,
      toggleCategoryId,
      debounce: createDebounce(),
      emitApplySearchQuery,
      emitApplyCategoryFilter,
      emitApplyCommunityFilter,
      emitChangeView,
      categoriesSelected,
      filteredCommunities
    }
  }
})
</script>

<style lang="sass" scoped>
@import "@/assets/sass/base/breakpoints.sass"
.v-chip--selected
  color: #0177B9
  background-color: white

.category-chips
  width: 100%
.view-change
  display: flex
  height: 35px
  @media screen and (max-width: $breakpoint-xs)
    width: 100%
    text-align: center

.change-view
  align-items: center

.map-view
  padding: 4px 25px
  color: white
  align-content: center
  align-items: center
  border: 2px solid white
  border-left: none
  border-top-right-radius: 25px
  border-bottom-right-radius: 25px
  @media screen and (max-width: $breakpoint-xs)
    width: 50%

.tile-view
  padding: 4px 25px
  color: white
  align-content: center
  align-items: center
  border: 2px solid white
  border-right: 2px solid white
  border-top-left-radius: 25px
  border-bottom-left-radius: 25px
  @media screen and (max-width: $breakpoint-xs)
    width: 50%

.view-selected
  color: #015281
  background-color: white
  
.view-not-selected
  color: white

</style>