<template>
  <div class="milestones mb-6">
    <h3 class="headline milestones" v-if="leftMilestoneSteps > 0">Noch {{ leftMilestoneSteps }} Schritte bis zur Fertigstellung</h3>
    <h3 class="headline milestones" v-else>Das Projekt ist abgeschlossen</h3>
    <div v-if="milestones.length > 0">
      <div :class="['milestone-grid', { 'active' : useDatetime().isInPast(milestone.timestamp) }]" v-for="(milestone, index) in milestones" :key="index">
        <div :class="['milestone-slide', { 'first' : index == 0, 'last' : index == milestones.length - 1 }]">
          <div class="milestone-bubble">{{ index + 1 }}</div>
        </div>
        <div class="mb-3">
          <div class="font-weight-bold">{{ milestone.name }}</div>
          <div v-if="milestone.timestamp">bis {{ useDatetime().parseDate(milestone.timestamp) }}</div>
          <div v-else>Noch kein Datum festgelegt</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default defineComponent({
  props: {
    projectId: String
  },
  setup (props) {
    const api = useCollectionApi()
    api.setBaseApi(usePublicApi())
    api.setEndpoint(`projects/${props.projectId}/milestones`)

    const milestones = api.items
    const loading = ref(false)
    
    const leftMilestoneSteps = computed(() => {
      let left = 0
      milestones.value.forEach(milestone => {
        if (useDatetime().isInPast(milestone.timestamp)) {
          left += 1
        }
      })
      return milestones.value.length - left
    })

    onMounted(() => {
      getItems()
    })

    const getItems = async () => {
      loading.value = true
      await api.retrieveCollection({ page: 1, per_page: 1000, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: null, concat: false, filters: null })
      loading.value = false
    }

    return {
      milestones,
      loading,
      getItems,
      leftMilestoneSteps
    }
  }
})
</script>
<style lang="sass">
.headline.milestones
  margin: 40px 0 10px 0
.milestone-grid
  color: #C2C2C2
  display: grid
  grid-template-columns: 50px auto
  .milestone-slide
    background: #F5F5F5
    width: 40px
    &.first
      border-top-left-radius: 50%
      border-top-right-radius: 50%
    &.last
      height: 40px
      border-bottom-left-radius: 50%
      border-bottom-right-radius: 50%
  .milestone-bubble
    color: white
    display: grid
    place-items: center
    height: 40px
    width: 40px
    border-radius: 50%
    font-weight: bold
    background: #C2C2C2      
  &.active
    color: #58595E
  &.active .milestone-bubble
    background: #ABC812
</style>