<template>
  <div :class="['box has-hover', { 'popup ml-7' : isPopup }]">
    <v-hover v-slot="{ isHovering, props }">
      <div
        color="grey-lighten-4"
        v-bind="props"
      >
        <v-img
          class="project-image"
          v-if="activeProject.image_url"
          :lazy-src="activeProject.image_url"
          :src="activeProject.image_url"
        >
          <v-chip v-if="useUser().loggedIn() && activeProject.has_upvoted_project"
            :class="['vote-chip-up is-clickable', { 'is-hidden' : isHovering && useUser().loggedIn() }]"
            size="large"
            pill
            @click="handleRedirect(false)"
          >
            <v-icon size="x-small" class="vote-icon">mdi-thumb-up-outline</v-icon>
              <span class="vote-text">Gefällt mir</span>
          </v-chip>
          <v-chip v-if="useUser().loggedIn() && activeProject.has_downvoted_project"
              :class="['vote-chip-down is-clickable', { 'is-hidden' : isHovering && useUser().loggedIn() }]"
              size="large"
              pill
              @click="handleRedirect(false)"
            >
            <v-icon size="x-small" class="vote-icon">mdi-thumb-down-outline</v-icon>
              <span class="vote-text">Gefällt mir nicht</span>
          </v-chip>
          <v-chip v-if="!useUser().loggedIn()"
            class="vote-chip-logged is-clickable"
            size="large"
            pill
            @click="handleRedirect(true)"
          >
            Jetzt bewerten
          </v-chip>
          <v-expand-transition v-if="useUser().loggedIn()">
            <div
              v-if="isHovering"
              class="d-flex transition-fast-in-fast-out bg-overlay vote-overlay"
              style="height: 100%;"
            >
            <PublicProjectsVotePanel
              class="vote-controls"
              v-if="useUser().loggedIn() && project.rating_results_public && !useDatetime().isInPast(project.rating_end)"
              @updateProject="reloadActiveProject"
              :project="activeProject"
              :isPanel="panelView"
            />
            <div class="has-text-white" v-else>
              <span v-if="useDatetime().isInPast(project.rating_end)">Abstimmung wurde am {{ useDatetime().getProjectTimeEndRatingString(project) }} beendet</span>
              <span v-else>Abstimmung noch nicht gestartet</span>
            </div>
            </div>
          </v-expand-transition>
        </v-img>
      </div>
      <v-img v-if="!activeProject.image_url" />
    </v-hover>
    <div class="main">
      <div class="meta">
        <v-tooltip location="top">
            <template v-slot:activator="{ props }">
              <div class="is-clickable headline mb-3 has-ellipsis" @click="handleRedirect(false)" v-bind="props">
                <span v-if="project.is_active && useUser().isAdmin()">
                  <v-icon size="x-small" color="green darken-2">mdi-circle</v-icon>
                </span>
              {{ activeProject.name }}

              </div>
            </template>
          <span>{{ activeProject.name }}</span>
        </v-tooltip>
        <div class="communities-name d-flex mb-1" v-if="activeProject.communities">
          <v-icon size="small">mdi-map-marker</v-icon>
          <div class="mb-1" v-if="activeProject.communities.length <= 0">
            <p>Wird noch bekannt gegeben</p>
          </div>
          <span class="px-1" v-if="activeProject.zip"> {{ activeProject.zip }} <span>|</span> </span>            
          <span v-if="activeProject.town">{{ activeProject.town }} </span>
          <div class="mr-1 mb-1 communities-name" v-for="community in limitedCommunities" :key="community.id">
            <span><span v-if="activeProject.town">&nbsp; |&nbsp; </span>{{ community.name }}</span>
            <v-chip class="ml-1 is-clickable" size="x-small" v-if="activeProject.communities.length >= 2 && showCommunitiesControl"  @click="resetLimitedCommunities()">
              + {{communityNames.length - 1}}
            </v-chip>
          </div>
        </div>
        <div>
          <div class="mb-1" v-if="activeProject.start_time && activeProject.end_time"><v-icon>mdi-calendar-month-outline</v-icon> {{ useDatetime().getProjectTimeRangeString(activeProject) }}</div>
          <div class="mb-1" v-else> <v-icon size="small" >mdi-calendar-month-outline</v-icon> Zeitraum: - </div>
        </div>
        <div>
          <div class="mb-1" v-if="activeProject.costs"><v-icon>mdi-currency-eur</v-icon> Kosten: {{ useCurrency().getCurrencyFromNumber(activeProject.costs) }}</div>
          <div class="mb-1" v-else><v-icon size="small">mdi-currency-eur</v-icon> Kosten: - </div>
        </div>
        <div class="project-categories mt-5">
          <v-chip @click="emitSetCategory(category.id)" size="x-small" class="mr-1 mb-1" v-for="category in limitedCategories" :key="category.id">
            {{ category.name }}
          </v-chip>
          <v-chip size="x-small" class="mr-1 mb-1 is-clickable" v-if="activeProject.categories.length >= 2 && showCategoriesControl"  @click="resetLimitedCategories()">
            + {{activeProject.categories.length - 1}}
          </v-chip>
        </div>
          <PublicTextTooltipWrap
            v-if="activeProject.excerpt"
            :text="activeProject.excerpt"
            class="four-lines py-5"
          />
        </div>
    </div>
    <div class="bottom-wrap">
      <div class="project-info py-2">
        <div class="votes-count" v-if="project.rating_results_public">{{ project.total_vote_count }} abgegebene Stimmen</div>
        <div class="comment-count">{{ project.comment_count }} Kommentare</div>
      </div>
      <div
        class="button is-secondary is-project-link"
        @click="handleRedirect(false)"
      >
        Projekt ansehen
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default defineComponent({
  emits: ['closeAndRedirect', 'updateProject'],
  name: 'PublicProjectPanel',
  props: {
    project: Object,
    isPopup: Boolean
  },
  setup (props, { emit }) {
    const router = useRouter() 
    const api = usePrivateApi() // API only used in the context of reloading when voting so private API can always be used.

    const activeProject = ref(props.project)

    const panelView = ref(true)

    const categoriesLimit = ref(1)

    const communitiesLimit = ref(1)

    const showCategoriesControl = ref(true)

    const showCommunitiesControl = ref(true)

    const communityNames = computed(() => {
      let communityNames = [] as any
      if (props.project.communities.length > 0) {
        props.project.communities.forEach((community:any) => {
          communityNames.push(community)
        })
      }
      return communityNames
    })  

    const reloadActiveProject = async () => {
      const result = await api.call('get', `projects/${props.project.id}`, null)

      if (result && result.data && result.data.resource) {     
        activeProject.value = result.data.resource
      }
    }
    const limitedCategories = computed(() => { 
      return categoriesLimit.value ? activeProject.value.categories.slice(0,categoriesLimit.value) : categoriesLimit.value
    })

    const limitedCommunities = computed(() => { 
      return communitiesLimit.value ? activeProject.value.communities.slice(0,communitiesLimit.value) : communitiesLimit.value
    })
    
    const resetLimitedCategories = () => { 
      categoriesLimit.value = 99
      showCategoriesControl.value = false
    }

    const resetLimitedCommunities = () => { 
      communitiesLimit.value = 99
      showCommunitiesControl.value = false
    }

    const handleRedirect = (checkLogin:boolean) => {

      if (checkLogin && !useUser().loggedIn()) {
        router.push(`/login`)
        return
      }

      if (props.isPopup) {
        emit('closeAndRedirect', `/public/projects/${props.project.id}`)
      } else (
        router.push(`/public/projects/${props.project.id}`)
      )
    }

    const emitSetCategory = (categoryId:string) => {
      useNuxtApp().$bus.$emit('setCategory', categoryId)
    }
    
    return {
      handleRedirect,      
      communityNames,
      reloadActiveProject,
      activeProject,
      panelView,
      emitSetCategory,
      categoriesLimit,
      communitiesLimit,
      limitedCategories,
      limitedCommunities,
      resetLimitedCategories,
      showCategoriesControl,
      showCommunitiesControl,
      resetLimitedCommunities
    }
  }
})
</script>
<style lang="sass" scoped>
.project-info
  display: flex
  border-top: 2px solid #D3D3D3
  justify-content: space-evenly

.vote-icon
  padding: 0 20px

.vote-overlay
  align-items: center
  bottom: 0
  justify-content: center
  opacity: .9
  position: absolute
  width: 100%

.comment-count
  font-size: 0.8rem
  font-weight: 900
.votes-count
  font-size: 0.8rem

.project-location
  font-weight: 900
  margin: .5rem 0
  font-size: .8rem

.project-end
  margin: .5rem 0 1rem 0
  font-weight: 900

.project-image
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.vote-chip
  z-index: 999
  align-items: center
  position: absolute
  border: 2px solid #D3D3D3
  color: white
  background-color: #015282

.vote-chip-logged
  z-index: 999
  top: 0
  right: 0
  margin: 20px 5px
  align-items: center
  position: absolute
  font-weight: 700
  border: 2px solid #D3D3D3
  color: white
  background-color: #015282

.vote-chip-up
  z-index: 999
  top: 0
  right: 0
  margin: 20px 5px
  align-items: center
  position: absolute
  font-weight: 700
  border: 2px solid #D3D3D3
  color: white
  background-color: rgba(171, 200,18,0.5)

.vote-chip-down
  z-index: 999
  top: 0
  right: 0
  margin: 20px 5px
  align-items: center
  position: absolute
  font-weight: 700
  border: 2px solid #D3D3D3
  color: white
  background-color: rgba(164,34,88,0.5)

.bg-overlay
  background-color: rgba(0, 69, 111, 0.8)

.communities-name
  display: flex
  flex-wrap: wrap

</style>