<template>
  <v-row no-gutters justify="space-between" v-if="project.rating_results_public && !useDatetime().isInPast(project.rating_end)">
    <v-col class="d-flex justify-center" v-if="project.rating_kind === 'upvote_downvote'">
      <div>
        <v-btn
          size="x-large"
          icon
          :color="(hasVoted && projectDownvoted) ? 'error' : ''"
          @click="handleVote('downvote')">
          <v-icon>mdi-thumb-down-outline</v-icon>
        </v-btn>
      </div>
    </v-col>
    <v-col class="d-flex justify-center">
      <div>
        <v-btn
          size="x-large"
          icon
          :color="(hasVoted && projectUpvoted) ? 'success' : ''"
          @click="handleVote('upvote')">
          <v-icon>mdi-thumb-up-outline</v-icon>
        </v-btn>
      </div>
    </v-col>
  </v-row>
  <v-row no-gutters justify="space-between" class="vote-description mx-5" v-if="!isPanel && project.rating_results_public && !useDatetime().isInPast(project.rating_end)">
    <v-col class="d-flex justify-center" v-if="project.rating_kind === 'upvote_downvote'">
      <div>
      <p class="vote-text">Gefällt mir nicht</p>
      </div>
    </v-col>
    <v-col class="d-flex justify-center">
      <div>
        <p class="vote-text">Gefällt mir</p>
      </div>
    </v-col>
  </v-row>
  <v-row no-gutters justify="space-between" class="vote-description mx-5" v-if="!isPanel">
    <v-col class="d-flex justify-center">
      <div>
        <span class="has-text-green" v-if="!project.rating_results_public && !useDatetime().isInPast(project.rating_end)">Ergebnis noch nicht freigegeben</span>
        <span class="has-text-danger" v-if="useDatetime().isInPast(project.rating_end)">Abstimmung beendet am {{ useDatetime().getProjectTimeEndRatingString(project) }}</span>
      </div>
    </v-col>
  </v-row>
  
</template>
<script lang="ts">
export default defineComponent({
  emits: ['updateProject'],
  props: {
    project: Object,
    isPanel: Boolean
  },
  setup (props, { emit }) {
    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    const loading = ref(false)

    const projectUpvoted = ref(false)
    const projectDownvoted = ref(false)

    const hasVoted = computed(() => {
      return projectUpvoted || projectDownvoted
    })

    onMounted(() => {
      if (props.project.has_upvoted_project) {
        projectUpvoted.value = true
      } else if (props.project.has_downvoted_project) {
        projectDownvoted.value = true
      }
    })

    const handleVote = async (kind:any) => {
      loading.value = true
      if (kind === 'upvote' && projectUpvoted.value || kind === 'downvote' && projectDownvoted.value) {
        api.setEndpoint(`projects/${props.project.id}/remove_vote`)
        await api.deleteItem(null)
        projectUpvoted.value = false
        projectDownvoted.value = false
        emit('updateProject')
      } else {
        api.setEndpoint(`projects/${props.project.id}/${kind}`)
        await api.updateItem({}, null)

        if (kind === 'upvote' && !projectUpvoted.value) {
          projectDownvoted.value = false
          projectUpvoted.value = true
        } else if (kind === 'downvote' && !projectDownvoted.value) {
          projectUpvoted.value = false
          projectDownvoted.value = true
        }
        emit('updateProject')
      }
      loading.value = false
    }

    return {
      loading,
      handleVote,
      projectUpvoted,
      projectDownvoted,
      hasVoted
    }
  }
})
</script>
<style lang="sass" scoped>
.vote-text
  margin-top: 16px
  font-size: 22px

button.bg-success .v-icon
  color: white
</style>