<template>
  <v-dialog
    v-model="dialog"
    width="500"
    transition="dialog-bottom-transition"
    @click:outside="emitClose()"
  >
    <v-card class="dialog-500">
      <v-card-title class="text-h5">
        Fragen
      </v-card-title>
      <v-card-text>
        <div class="field">
          <v-select
            hide-details="auto"
            v-model="item.kind"
            :items="kinds"
            item-title="name"
            item-value="id"
            label="Art"
            single-line
            density="compact"
          />
        </div>
        <div class="field">
          <v-text-field
            v-model="item.name"
            hide-details="auto"
            label="Frage"
            density="compact"
            :error-messages="useErrors().checkAndMapErrors('name', errors)"
          />
        </div>
        <div class="field" v-if="item.kind === 'rating'">
          <v-select
            hide-details="auto"
            v-model="item.max_score_count"
            :items="maxScoreCounts"
            item-title="name"
            item-value="id"
            label="Sterne"
            single-line
            density="compact"
          />
        </div>
        <div class="field" v-if="item.kind === 'single_choice' || item.kind === 'multiple_choice'">
          <v-text-field
            v-model="possibleAnswer"
            hide-details="auto"
            label="Antwortmöglichkeit"
            density="compact"
            append-inner-icon="mdi-plus"
            @click:append-inner="addPossibleAnswerToChoices"
          />

          <v-text-field
            class="mt-2"
            size="xs"
            v-for="choice in item.choices"
            :key="choice.id"
            v-model="choice.possible_answer"
            hide-details="auto"
            density="compact"
            append-icon="mdi-close"
            @click:append="removePossibleAnswerFromChoices(choice.id)"
          />
        </div>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn
          text
          @click="emitClose()"
        >
          Schließen
        </v-btn>
        <v-btn
          color="blue darken-1"
          variant="outlined"
          dark
          text
          @click="handleCta()"
          :loading="loadingItem"
        >
          Speichern
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { ResultStatus } from '@/types/serverCallResult'
// https://vue3datepicker.com/
import Datepicker from '@vuepic/vue-datepicker'
import '@vuepic/vue-datepicker/dist/main.css'
export default defineComponent({
  components: { Datepicker },
  emits: ['close'],
  props: {
    pollId: String,
    itemId: String
  },
  setup (props, { emit }) {
    const loadingItem = ref(false)
    const dialog = ref(true)
    const errors = ref([])
    const item = ref({
      name: '',
      kind: 'rating',
      max_score_count: 5,
      choices: []
    })
    const kinds = ref([
      { id: 'rating', name: 'Sterne Bewertung'},
      { id: 'single_choice', name: 'Einfach-Auswahl'},
      { id: 'multiple_choice', name: 'Mehrfach-Auswahl'},
      { id: 'text', name: 'Freitext' }
    ])
    const maxScoreCounts = ref([
      { id: 2, name: '2 Sterne' },
      { id: 3, name: '3 Sterne' },
      { id: 4, name: '4 Sterne' },
      { id: 5, name: '5 Sterne' }
    ])
    const possibleAnswer = ref('')

    const showApi = useCollectionApi()
    showApi.setBaseApi(usePrivateApi())

    const createUpdateApi = useCollectionApi()
    createUpdateApi.setBaseApi(usePrivateApi())

    const getItem = async () => {
      showApi.setEndpoint(`poll_questions/${props.itemId}`)

      loadingItem.value = true
      await showApi.getItem()
      loadingItem.value = false
      item.value = showApi.item.value
    }

    const handleCta = () => {
      if (props.itemId) {
        save()
      } else {
        create()
      }
    }

    const create = async () => {
      createUpdateApi.setEndpoint(`poll_questions/poll/${props.pollId}`)
      loadingItem.value = true
      const result = await createUpdateApi.createItem(item.value, 'Frage erfolgreich erstellt')
      loadingItem.value = false
      if (result.status === ResultStatus.SUCCESSFUL) {
        emit('refreshCollection')
        emit('close')
      } else {
        errors.value = result.data
      }
    }

    const save = async () => {
      createUpdateApi.setEndpoint(`poll_questions/${props.itemId}`)
      loadingItem.value = true
      const result = await createUpdateApi.updateItem(item.value, 'Frage erfolgreich aktualisiert')
      loadingItem.value = false
      if (result.status === ResultStatus.SUCCESSFUL) {
        emit('refreshCollection')
        emit('close')
      } else {
        errors.value = result.data
      }
    }

    const addPossibleAnswerToChoices = () => {
      item.value.choices.push({
        id: self.crypto.randomUUID(),
        possible_answer: possibleAnswer.value
      })
      possibleAnswer.value = ''
    }

    const removePossibleAnswerFromChoices = (choiceId) => {
      item.value.choices = item.value.choices.filter(choice => choice.id !== choiceId)
    }

    onMounted(() => {
      if (props.itemId) {
        getItem()
      }
    })
    
    const emitClose = () => {
      emit('close')
    }

    return {
      loadingItem,
      dialog,
      item,
      handleCta,
      emitClose,
      kinds,
      maxScoreCounts,
      errors,
      possibleAnswer,
      addPossibleAnswerToChoices,
      removePossibleAnswerFromChoices
    }
  }
})
</script>

<style>

</style>