<template>
  <div class="main" v-if="currentUser">
    <v-row>
      <v-col md="1" class="mr-3">
        <UserProfile
          :user="currentUser"
          size="large"
        />
      </v-col>
      <v-col>
        <h1>{{ currentUser.firstname }} {{ currentUser.lastname }}</h1>
        <div class="mt-n2 has-text-white">Angemeldet {{ timeAgo(currentUser.created_at) }}</div>
      </v-col>
    </v-row>
    <div class="stroke mt-10"></div>
    
    <h2 class="has-text-white is-uppercase mt-8">Erfolge</h2>
    <v-row>
      <v-col md="8">
        <div v-for="game in gamificationGames" :key="game.id">
          <PublicTrophiesRewards
            :game="game"
          />
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { timeAgo } from '~~/utils/date.utils'
import { useUserStore } from "@/store/user"
export default defineComponent({
  setup() {
    definePageMeta({
      layout: "public",
    })

    const gamificationGames = ref([])
    const loading = ref(false)
    const currentUser = computed(() => {
      return useUserStore().currentUser
    })

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint('gamification_games')
    

    onMounted(() => {
      getGames()
    })

    const getGames = async () => {
      loading.value = true
      const options = { page: 1, per_page: 25, sort_by: 'created_at', sort_order: 'DESC', searchQuery: null, concat: false, filters: [] }
      await api.retrieveCollection(options)
      loading.value = false
      gamificationGames.value = api.items.value.filter((game:any) => game.gamification_rewards_count > 0)
    }

    return {
      currentUser,
      timeAgo,
      gamificationGames
    }
  }
})
</script>

<style lang="sass" scoped>
.stroke
  border-bottom: 1px solid #C4C4C4
</style>