<template>
  <div>
   <h2>Gamification</h2>

    <v-btn elevation="0" variant="outlined" @click="itemId = null; createEditDialogOpen = true">Neue Gamification</v-btn>

    <DataTable
      :fields="fields"
      :items="gamificationGames"
      endpoint="gamification_games"
      @openCreateEditDialog="openCreateEditDialog"
      @openDeleteDialog="openDeleteDialog"
      @getItems="getItems"
      @openAddGamificationRewardsDialog="openAddGamificationRewardsDialog"
    />

    <AdminGamificationGamesCreateEdit
      :item-id="itemId"
      v-if="createEditDialogOpen"
      @close="itemId = null; createEditDialogOpen = false"
      @refreshCollection="getItems()"
    />
    <DeleteItem
      v-if="confirmDeleteModalOpen"
      @close="itemId = null; confirmDeleteModalOpen = false"
      :item-id="itemId"
      endpoint="gamification_games"
      term="diese Gamification"
      @refreshCollection="getItems()"
    />

    <AdminGamificationGamesAddRewards
      :item-id="itemId"
      v-if="addGamificationRewardsDialogOpen"
      @close="itemId = null; addGamificationRewardsDialogOpen = false"
    />
  </div>
</template>

<script lang="ts">
export default defineComponent({
  name: 'AdminGamificationGamesIndex',
  setup() {
    definePageMeta({
      layout: "default",
    })

    const fields = ref([
      { text: 'Name', value: 'name', type: 'string' },
      { text: 'Art', value: 'kind', type: 'enum', enum_name: 'gamificationKinds' },
      { text: 'Belohnungen', value: 'gamification_rewards_count', type: 'string' },
      { text: '', value: 'mdi-trophy', type: 'icon', emit: 'openAddGamificationRewardsDialog', tooltip: 'Belohnungen hinzufügen' },
    ])
    
    const dialog = ref(false)
    const item = ref({ name: '' })
    const loading = ref(false)
    const createEditDialogOpen = ref(false)
    const confirmDeleteModalOpen = ref(false)
    const addGamificationRewardsDialogOpen = ref(false)
    const itemId = ref(null)

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint('gamification_games')
    const gamificationGames = api.items

    onMounted(() => {
      getItems()
    })

    const getItems = async () => {
      loading.value = true
      const options = { page: 1, per_page: 1000, sort_by: 'created_at', sort_order: 'DESC', searchQuery: null, concat: false, filters: [] }
      await api.retrieveCollection(options)
      loading.value = false
    }

    const openCreateEditDialog = (id:string) => {
      itemId.value = id
      createEditDialogOpen.value = true
    }

    const openDeleteDialog = (id:string) => {
      itemId.value = id
      confirmDeleteModalOpen.value = true
    }

    const openAddGamificationRewardsDialog = (id:string) => {
      itemId.value = id
      addGamificationRewardsDialogOpen.value = true
    }

    return {
      fields,
      gamificationGames,
      loading,
      dialog,
      item,
      createEditDialogOpen,
      confirmDeleteModalOpen,
      itemId,
      addGamificationRewardsDialogOpen,
      openAddGamificationRewardsDialog,
      openCreateEditDialog,
      openDeleteDialog,
      getItems
    }
  }
})
</script>
<style lang="sass">
.v-dialog--custom
  width: 30%
</style>