<template>
    <embed class="matomo" src="https://matomo.pocket-rocket.io">
</template>
<script lang="ts">
export default defineComponent({
  name: 'AdminMatomoIndex',
  setup() {
    definePageMeta({
      layout: "default",
    })

    return {
    }
  }
})
</script>
<style lang="sass">
.matomo
  height: 100vh
  width: 100%
</style>