<template>
  <div>
   <h2>Gemeinden</h2>

    <v-btn elevation="0" variant="outlined" @click="itemId = null; createEditDialogOpen = true">Neue Gemeinde</v-btn>

    <DataTable
      :fields="fields"
      :items="communities"
      endpoint="communities"
      @openCreateEditDialog="openCreateEditDialog"
      @openDeleteDialog="openDeleteDialog"
      @getItems="getItems"
    />

    <AdminCommunitiesCreateEdit
      :item-id="itemId"
      v-if="createEditDialogOpen"
      @close="itemId = null; createEditDialogOpen = false"
      @refreshCollection="getItems()"
    />
    <DeleteItem
      v-if="confirmDeleteModalOpen"
      @close="itemId = null; confirmDeleteModalOpen = false"
      :item-id="itemId"
      endpoint="communities"
      term="diese Gemeinde"
      @refreshCollection="getItems()"
    />
  </div>
</template>

<script lang="ts">
export default defineComponent({
  name: 'AdminCommunitiesIndex',
  setup() {
    definePageMeta({
      layout: "default",
    })

    const fields = ref([
      { text: '', type: 'move_down' },
      { text: '', type: 'move_up' },
      { text: 'Name', value: 'name', type: 'string' },
      { text: 'Projekte', value: 'projects_count', type: 'string' },
    ])
    
    const dialog = ref(false)
    const item = ref({ name: '' })
    const loading = ref(false)
    const createEditDialogOpen = ref(false)
    const confirmDeleteModalOpen = ref(false)
    const itemId = ref(null)

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint('communities')
    const communities = api.items

    onMounted(() => {
      getItems()
    })

    const getItems = async () => {
      loading.value = true
      const options = { page: 1, per_page: 1000, sort_by: 'menu_order', sort_order: 'ASC', searchQuery: null, concat: false, filters: [] }
      await api.retrieveCollection(options)
      loading.value = false
    }

    const openCreateEditDialog = (id) => {
      itemId.value = id
      createEditDialogOpen.value = true
    }

    const openDeleteDialog = (id) => {
      itemId.value = id
      confirmDeleteModalOpen.value = true
    }

    return {
      fields,
      communities,
      loading,
      dialog,
      item,
      createEditDialogOpen,
      confirmDeleteModalOpen,
      itemId,
      openCreateEditDialog,
      openDeleteDialog,
      getItems
    }
  }
})
</script>
<style lang="sass">
.v-dialog--custom
  width: 30%
</style>