<template>
  <div>
   <h2>Umfragen</h2>

    <v-btn elevation="0" variant="outlined" @click="itemId = null; createEditDialogOpen = true">Neue Umfrage</v-btn>
    <v-alert type="info" class="mt-2">Hinweis: Es wird eine AKTIVE Umfrage pro Projekt angezeigt. Wenn kein Projekt zugeordnet ist, wird die aktive Umfrage auf der Startseite angezeigt.</v-alert>
    <DataTable
      :fields="fields"
      :items="polls"
      @openCreateEditDialog="openCreateEditDialog"
      @openDeleteDialog="openDeleteDialog"
      @openAddQuestionsDialog="openAddQuestionsDialog"
      @openCheckResultsDialog="openCheckResultsDialog"
    />

    <AdminPollsCreateEdit
      :item-id="itemId"
      v-if="createEditDialogOpen"
      @close="itemId = null; createEditDialogOpen = false"
      @refreshCollection="getItems()"
    />
    <AdminPollsAddQuestions
      :item-id="itemId"
      v-if="addQuestionsDialogOpen"
      @close="itemId = null; addQuestionsDialogOpen = false"
    />
    <AdminPollsCheckResults
      :item-id="itemId"
      v-if="checkResultsDialogOpen"
      @close="itemId = null; checkResultsDialogOpen = false"
    />
    <DeleteItem
      v-if="confirmDeleteModalOpen"
      @close="itemId = null; confirmDeleteModalOpen = false"
      :item-id="itemId"
      endpoint="polls"
      term="diese Umfrage"
      @refreshCollection="getItems()"
    />
  </div>
</template>

<script lang="ts">
export default defineComponent({
  setup() {
    definePageMeta({
      layout: "default",
    })

    const fields = ref([
      { text: 'Aktiv', endpoint: 'polls', type: 'switch', fieldToSwitch: 'is_active', askNotification: true, notificationKind: 'new_poll', notificationKindExplicit: 'eine neue Umfrage', notificationPreFilledHeadline: 'Eine neue Umfrage wurde veröffentlicht', notificationPreFilledText: 'Es wurde eine neue Umfrage mit Namen "[[name]]" veröffentlicht. Schau doch mal wieder vorbei und mach mit!' },
      { text: 'Name', value: 'name', type: 'string' },
      { text: 'Endet am', value: 'ends_at', type: 'datetime' },
      { text: 'Projekt', value: 'project', type: 'association_name' },
      { text: 'Fragen', value: 'poll_questions_count', type: 'string' },
      { text: 'Teilnehmer', value: 'participations_count', type: 'string' },
      { text: '', value: 'mdi-playlist-plus', type: 'icon', emit: 'openAddQuestionsDialog', tooltip: 'Fragen hinzufügen' },
      { text: '', value: 'mdi-chart-pie', type: 'icon', emit: 'openCheckResultsDialog', tooltip: 'Ergebnisse ansehen' },
    ])
    
    const dialog = ref(false)
    const item = ref({ name: '' })
    const loading = ref(false)
    const createEditDialogOpen = ref(false)
    const confirmDeleteModalOpen = ref(false)
    const addQuestionsDialogOpen = ref(false)
    const checkResultsDialogOpen = ref(false)
    const itemId = ref(null)
    const route = useRoute()
    const router = useRouter()
    const filter = ref({ page: 1, per_page: 1000, sort_by: 'created_at', sort_order: 'DESC', searchQuery: null, concat: false, filters: [] })

    const api = useCollectionApi()
    api.setBaseApi(usePrivateApi())
    api.setEndpoint('polls')
    const polls = api.items

    onMounted(() => {
      getItems()
    })

    const getItems = async () => {
      loading.value = true
      await api.retrieveCollection(filter.value)
      loading.value = false
    }

    const openCreateEditDialog = (id:string) => {
      itemId.value = id
      createEditDialogOpen.value = true
    }

    const openAddQuestionsDialog = (id:string) => {
      itemId.value = id
      addQuestionsDialogOpen.value = true
    }

    const openDeleteDialog = (id:string) => {
      itemId.value = id
      confirmDeleteModalOpen.value = true
    }

    const openCheckResultsDialog = (id:string) => {
      itemId.value = id
      checkResultsDialogOpen.value = true
    }

    return {
      fields,
      polls,
      loading,
      dialog,
      item,
      createEditDialogOpen,
      confirmDeleteModalOpen,
      addQuestionsDialogOpen,
      checkResultsDialogOpen,
      itemId,
      route,
      router,
      openCreateEditDialog,
      openDeleteDialog,
      openAddQuestionsDialog,
      openCheckResultsDialog,
      getItems
    }
  }
})
</script>
<style lang="sass">
.v-dialog--custom
  width: 30%
</style>